{showpage:header/index}
{formstart:language:{url:(language/engines)}:post}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr align="center">
		<td colspan="2">{showpage:header/languageheader}</td>
	</tr>
	<tr align="center">
		<td colspan="2">&nbsp;</td>
	</tr>
	<tr align="center">
		<td colspan="2" height="42"><span id="styleTitle">Manage
		Engine Names</span></td>
	</tr>


	<tr>
		<td align="right" width="50%" style="padding-right: 10px">Select
		Language:&nbsp;&nbsp;&nbsp;&nbsp; <select name="lang" id="lang">
			<option value="">Select</option>
			{loopstart:lang:100}
			<option value="{$lang[0]}">{$lang[1]}</option>
			{loopend:lang}
		</select></td>
		<td style="padding-left: 10px" align="left" width="50%"><input
			type="submit" name="submit" value="Manage!"></td>
	</tr>
</table>
{formend:language} 
{validate:language:isNotNull(lang,"Please select a language.")} 
{showpage:footer/index}
