{showpage:include/header}
<table cellpadding="0" cellspacing="0" width="100%x">
<tr align="center">	<td align="center" class="sub_link_style" ><br>
{showpage:include/ads_analystics_codeheader}

		</td>
</tr>
</table>
<br>	
<div align="center"><font style="color:#336699; font-size:18px;">Manage Ads Code </font></div>
<br /><br />
<div class="help_desc_cover mgn15auto pdgLR15"><div class="help_desc">Page Help Text</div></div>
{formstart:add:{url:(themes/adscodeprocess)}:POST}
		<table cellpadding="0" width="70%" cellspacing="0" align="center" border="0" style="padding: 12px; background-color: #F1F1F1; border-color: #bdbdbd; border-style: solid; border-width: 1px;">	
		    <tr>
				<td width="48%"></td>
				<td width="52%" ><b></b><br>
			    <br>				</td>		
			</tr>
						
			
		        <tr>
		          <td>Left Panel Ads  code </td>
		          <td><textarea name="leftads_code" cols="55" rows="13">{$leftads_code}</textarea></td>
          </tr>
		        <tr>
		          <td></td>
		          <td>&nbsp;</td>
          </tr>
		        
		        <tr>
		          <td>Right Panel Ads code </td>
		          <td><textarea name="rightads_code" cols="55" rows="13">{$rightads_code}</textarea></td>
          </tr>
		        <tr>
		          <td></td>
		          <td>&nbsp;</td>
          </tr>
	        <tr>
				<td></td>
				<td><input type="submit" name="Save" value="Save"></td>
			</tr>	
		</table>
			
{formend:add}		
<br><br><br>
{showpage:include/footer}

