{showpage:include/header}
<table cellpadding="0" cellspacing="0" width="100%x">
<tr align="center">	<td align="center" class="sub_link_style" ><br>
{showpage:include/themeheader}

		</td>
</tr>
</table>
<br>	
<div align="center"><font style="color:#336699; font-size:18px;">Manage Theme Settings</font></div><br /><br />
<div class="help_desc_cover width60p mgn15auto"><div class="help_desc">Here you may configure theme settings. You may set which theme is to be default and you may enable/disable the theme selection for users in user side.</div></div>
{formstart:edit:{url:(themes/settingsprocess)}:POST}
		<table cellpadding="0" width="60%" cellspacing="0" align="center" border="0" style="padding: 12px; background-color: #F1F1F1; border-color: #bdbdbd; border-style: solid; border-width: 1px;">	
		   <tr>
				<td width="48%"></td>
				<td width="52%" ><b></b><br>
			   <br>				</td>		
			</tr>
						
			
		       <tr>
		         <td>Choose default theme</td> 
		         <td><select	name="themes" id="themes">

		{loopstart:themes:100}
			<option value="{$themes[0]}"  {if(0==1)} selected="selected" {endif}>{noescape:$themes[1]}</option>
			{loopend:themes}
			</select>(Current Theme :{$crnttheme})</td>
          </tr>
		       <tr>
		         <td></td>
		         <td>&nbsp;</td>
          </tr>
		       <tr>
		         <td>Allow users to choose  themes </td>
		         <td><input name="override_themes" type="checkbox" id="override_themes"  {if($override_themes==1)}checked="checked"{endif}></td>
          </tr>
		       <tr>
		         <td></td>
		         <td>&nbsp;</td>
          </tr>
		       <tr>
		         <td></td>
		         <td>&nbsp;</td>
          </tr>
	       <tr>
				<td></td>
				<td><input type="submit" name="Update" value="Update"></td>
			</tr>	
		</table>
			
{formend:edit}		
<br><br><br>
{showpage:include/footer}


