.btn-group > .viewType_btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.btn-group > .viewType_btn:first-child {
    margin-left: 0;
}
.btn-group > .viewType_btn, .btn-group-vertical > .viewType_btn {
    float: left;
    position: relative;
}
.viewType_btn, #entry-action-buttons {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    font-weight: normal;
    margin-bottom: 0;
    height: auto;
    line-height: 30px;
    width: 32px;
    text-align: center;
    vertical-align: middle;
}
.viewType_btn-default, #entry-action-buttons {
    background-color: #ffffff;
    border-color: #f0f0f0;
    color: #505050;
}
.dark .viewType_btn-default {
    background-color: #131313;
    border-color: #2e2e2e;
    color: #999;
}
.dark .viewType_btn-default:hover, .dark .viewType_btn-default.active {
	color: #fff;
	background: #000;
	border-color: #2e2e2e;
}
.btn-group > .viewType_btn:hover, .btn-group-vertical > .viewType_btn:hover, .btn-group > .viewType_btn:focus, .btn-group-vertical > .viewType_btn:focus, .btn-group > .viewType_btn:active, .btn-group-vertical > .viewType_btn:active, .btn-group > .viewType_btn.active, .btn-group-vertical > .viewType_btn.active,
#entry-action-buttons:hover, #entry-action-buttons:focus, #entry-action-buttons:active {
    z-index: 2;
}
.btn-group > .viewType_btn, .btn-group-vertical > .viewType_btn, #entry-action-buttons {
    float: left;
    position: relative;
}
.viewType_btn-default:active, .viewType_btn-default.active, .open > .dropdown-toggle.btn-default {
    background-image: none;
}
.viewType_btn-default:hover, .viewType_btn-default:focus, .viewType_btn-default:active, .viewType_btn-default.active, .open > .dropdown-toggle.viewType_btn-default,
#entry-action-buttons:hover, #entry-action-buttons:focus, #entry-action-buttons:active {
    background-color: #ffffff;
    border-color: #f0f0f0;
    color: #505050;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.125) inset;
}
.viewType_btn:active, .viewType_btn.active {
    background-image: none;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.125) inset;
    outline: 0 none;
}
/*
.viewType .viewType_btn.active [class^="icon-"], .viewType .viewType_btn.active [class*=" icon-"] {
    color: #06a2cb;
}
*/
.btn-group > .viewType_btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.btn-group > .viewType_btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group .viewType_btn + .viewType_btn, .btn-group .viewType_btn + .btn-group, .btn-group .btn-group + .viewType_btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-group > .viewType_btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child), .btn-group #entry-action-buttons {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.btn-group .viewType_btn + .viewType_btn, .btn-group .viewType_btn + .btn-group, .btn-group .btn-group + .viewType_btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.viewType {
    margin-top: 7px;
    display: inline-flex;
}
.viewType [class^="icon-"], .viewType [class*=" icon-"] {
    line-height: 30px;
}
.be button:not(.viewType_btn):not(.post-comment-button):not(.symbol-button):not(.post-bulletin-act):not(.vjs-big-play-button), .be .cancel-trigger {
	line-height: 1;
}
section.inner-search {
    float: right;
}
.pull-right {
    float: right !important;
}
#user-search-form .icon-search::before {
        content: "\e605";
}
.line {
        /*border-bottom: 1px solid #ddd;*/
}
.content-filters a.active {
/*        color: #bbb;*/
}
.sidebar-container [class^="icon-"], .sidebar-container [class*=" icon-"], .content-title [class^="icon-"], .content-title [class*=" icon-"] {
        margin-right: 10px;
}
.dark .container.cbp-spmenu-push > * {
	background-color: #131313;
}
.container.cbp-spmenu-push > * {
        background-color: #fff;
}
h3.content-title {
        margin-left: 10px;
}
section.filter {
/*        margin-left: 10px;
        margin-right: 10px;*/
}
#time-sort-filters section.filter {
/*	margin-right: 0px;*/
}
section.action {
        /*margin-right: 10px;*/
}
.country.highlight {
        display: block !important;
}