.Chartjs {
    font-size: .85em;
}
.Chartjs-figure {
    height: 250px;
    margin: 0 1em 0 1em;
}
.stats .Chartjs-figure {
    height: 200px;
    margin: 0 1em 0 1em;
}
#chart-4-container {
    margin: 0 1em 0 1em;
}
#chart-4-container.Chartjs-figure {
    margin-left: 0;
}
.Chartjs-figure canvas {
    display: block;
    margin: 0 auto;
}
.Chartjs-legend {
    list-style: none;
    margin: 0;
    background-color: #f8f8f8;
    margin-top: 15px;
    text-align: center;
}
.Chartjs-legend>li {
    display: inline-block;
    padding: .25em .3em;
}
.Chartjs-legend>li>i {
    display: inline-block;
    height: 1em;
    margin-right: .5em;
    vertical-align: -.1em;
    width: 1em;
}
@media (min-width:570px) {
    .Chartjs-figure {}
}

.Titles {
    font-weight: 300;
    letter-spacing: -.03em;
    line-height: 1.2;
    margin: 0 0 1.5em;
    word-spacing: .2em;
}
.Titles-main, .Titles-sub {
    color: inherit;
    font: inherit;
    margin: 0;
}
.Titles-main {
    background-color: #f8f8f8;
    color: #505050;
    font-size: 1em;
    padding: 8px 10px;
}
.Titles-sub {
    opacity: .6;
    margin-top: 10px;
    margin-left: 1em;
}
.Titles-action {
    background: #f05721;
    border-radius: .25em;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    margin-top: .8em;
    padding: .3em .6em .2em;
    vertical-align: .4em;
}
.Titles-action:focus, .Titles-action:hover {
    text-decoration: none;
}
.Titles--hero {
    color: #75787d;
}
.Titles--hero .Titles-main {
    font-size: 2.25em;
}
.Titles--hero .Titles-sub {
    font-size: 1.25em;
}
@media (min-width:570px) {
    .Titles--hero {
    margin: 1em 0 1.5em;
}
.Titles--hero .Titles-main {
    display: inline-block;
    margin-right: .25em;
}
.Titles--hero .Titles-sub {
    display: inline-block;
}
}@media (min-width:1024px) {
    .Titles--hero {
    margin: 4em 0 0;
}
.Titles--hero .Titles-main {
    font-size: 3em;
    margin-right: .5em;
}
.Titles--hero .Titles-sub {
    font-size: 1.75em;
}
}



.Titles .vs-column, .Titles-sub .button-grey {
	margin-bottom: 0;
}

.filters-loading {
	padding-top: 7px;
	margin-left: 30px;
}
.rg .Titles-sub label {
	font-size: 14px;
}
.Titles-sub label {
	font-size: 20px;
	margin-right: 7px;
}
.Titles-sub label i {
	vertical-align: middle;
	padding-top: 2px;
}
.filter-wrap {
	/*margin-left: 20px;*/
}
.tipso_dash {
    opacity: 0.8;
}
