{showpage:include/header}
<SCRIPT LANGUAGE="JavaScript">
function popUp(URL) {
day = new Date();
id = day.getTime();
eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=605,height=400,left = 520,top = 150');");
}
</script>

<table width="100%"  border="0" cellspacing="0" cellpadding="0" class="control_panel">
<tr>
<td width="5%">&nbsp;</td>
<td width="20%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="20%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="20%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>




<tr>
<td>&nbsp;</td>

<td class="sub_heading">User and Mails<a href="javascript:popUp('{url:(account/help/1)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading"> Reserved Emails<a href="javascript:popUp('{url:(account/help/2)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Spam<a href="javascript:popUp('{url:(account/help/3)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
</tr>

<tr>

<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/staff.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(user/addnewuser)}" >Add New User</a></li>
<li><a href="{url:(user/searchuser)}" >Search Users</a></li>
<li><a href="{url:(user/userview)}" >Browse Users</a></li>
</ul>
<br />
<br />

</td>

<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/messages.gif); background-repeat:no-repeat; background-position:bottom right;">
<ul>
<li><a href="{url:(user/newreservedmail)}" >New Reserved Emails</a></li>
<li><a href="{url:(user/reservedmails)}" >Manage Reserved Emails</a></li>
</ul>
</td>

<td>&nbsp;</td>

<td class="panel_box" style="background-image:url(images/spam.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(user/spamsettings)}" >Manage Spam Rules</a></li>
<li><a href="{url:(user/newspam/1)}" >Add Spam Rules</a></li>
<li><a href="{url:(user/spammails)}" >Spam Mails</a></li>
</ul>
<br />
</td>
<td>&nbsp;&nbsp;</td>  
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>


<tr>
<td>&nbsp;</td>
<td class="sub_heading">Display Themes<a href="javascript:popUp('{url:(account/help/4)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Contacts<a href="javascript:popUp('{url:(account/help/5)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Languages<a href="javascript:popUp('{url:(account/help/6)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/theme.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(themes/new)}" >New Theme</a></li>
<li><a href="{url:(themes/manage)}" >Manage Themes</a></li>
<li><a href="{url:(themes/settings)}" >Theme Settings</a></li>
</ul>
<br />
<br />
</td>

<td>&nbsp;</td>

<td class="panel_box" style="background-image:url(images/client.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(user/contacts/0)}" >All Contacts</a></li>
<li><a href="{url:(user/groups)}" >Contact Groups</a></li>
<li><a href="{url:(account/apisettings)}" >Contact Import Settings</a></li>
</ul>
</td>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/language.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(language/new)}" >New Language</a></li>
<li><a href="{url:(language/manage)}" >Languages</a></li>
<li><a href="{url:(language/managemessages)}" >Messages</a></li>
<li><a href="{url:(language/messages_codes)}" >Message Codes</a></li>
</ul>
<br />
<br />
</td>
<td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
<td>&nbsp;</td>

<td class="sub_heading">Settings<a href="javascript:popUp('{url:(account/help/7)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Ads<a href="javascript:popUp('{url:(account/help/8)}')" title="Help"><img src="images/help.gif" class="help"  border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Logs<a href="javascript:popUp('{url:(account/help/9)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>

</tr>

<tr>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/settings.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(settings/basicsettings)}" >Basic Settings</a></li>
<li><a href="{url:(settings/emailsettings)}" >Mail Settings</a></li>
<li><a href="{url:(todolist/smtpsettings)}" >External SMTP Settings</a></li>
<li><a href="{url:(todolist/smtpconfigurations)}" >External SMTP Configuration</a></li>
<li><a href="{url:(settings/changepassword)}" >Change Password</a></li>
</ul>
</td>

<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/ads.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(ads/adscode)}" >Ad Codes</a></li>
<!--<li><a href="{url:(ads/sponsoredlinks)}" >Sponsored Links</a></li>-->
</ul>
</td>
<td>&nbsp;</td>

<td class="panel_box" style="background-image:url(images/log.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(user/clientlogs)}" >Client Logs</a></li>
<!--<li style="list-style: none;">&nbsp;</li>-->
</ul>
</td>
<td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="sub_heading">Chat<a href="javascript:popUp('{url:(account/help/10)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">To-do List<a href="javascript:popUp('{url:(account/help/11)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Keyboard Shortcuts<a href="javascript:popUp('{url:(account/help/12)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/chat.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(chatuser/chatsettings)}" >Chat Settings</a></li>
<!--<li><a href="{url:(chatuser/chatwindowsettings)}" >Chat Window Settings</a></li>-->
</ul>
<br />
<br />
</td>

<td>&nbsp;</td>

<td class="panel_box" style="background-image:url(images/events.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(todolist/todolist)}" >Settings</a></li>
<!--<li style="list-style: none;">&nbsp;</li>-->
</ul>
</td>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/kye-board.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(shortcuts/shortcutsettings)}" >Settings</a></li>
<li><a href="{url:(shortcuts/shortcuts)}" >Manage Keyboard Shortcuts</a></li>
</ul>
<br />
<br />
</td>
<td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>


<tr>
<td>&nbsp;</td>
<td class="sub_heading">Calendar<a href="javascript:popUp('{url:(account/help/13)}')" title="Help"><img src="images/help.gif" class="help"   border="0"></a></td>
<td>&nbsp;</td>
<td class="sub_heading">Events<a href="javascript:popUp('{url:(account/help/14)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
<td>&nbsp;</td>
<td class="sub_heading">User Statistics<a href="javascript:popUp('{url:(account/help/15)}')" title="Help"><img src="images/help.gif" alt=""   border="0" class="help" /></a></td>
</tr>

<tr>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/calendar.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(calendar/calendar)}" >Manage Calendar Settings</a></li>
<!--<li style="list-style: none;">&nbsp;</li>-->
<!--<li style="list-style: none;">&nbsp;</li>-->
</ul>
<br />
<br />
</td>

<td>&nbsp;</td>

<td class="panel_box" style="background-image:url(images/todo.png); background-repeat:no-repeat; background-position:bottom right">
<ul>
<li><a href="{url:(tipoftheday/view_tip_ofthe_day)}" >Tip of the Day</a></li>
<li><a href="{url:(birthday/birthdaymailsettings)}" >Birth Day</a></li>
<li><a href="{url:(birthday/eventsettings)}" >Settings</a></li>
</ul>
</td>
<td>&nbsp;</td>
<td class="panel_box" style="background-image:url(images/stat.gif); background-repeat:no-repeat; background-position:bottom right">
<ul>

<li><a href="{url:(statistics/regshowgraph)}" >Registered Users</a></li>
<li><a href="{url:(statistics/showgraph)}" >Logined Users</a></li>
<li><a href="{url:(statistics/accountactivity)}" >Account Activity</a></li>
</ul>
<br />
<br />
</td>
<td>&nbsp;</td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>


</table>
{showpage:include/footer}
