<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{cfn:getmessage(385)}</title>
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
 <script type="text/javascript" src="js/jquery-1.3.2.min.js.php"></script>

<script type="text/javascript">
function clearmessage()
{
if(document.getElementById("invitebox").value=="{cfn:getmessage(387)}")
{
document.getElementById("invitebox").value="";
}

	

}
function clearmessage1()
{
if(document.getElementById("invitebox").value=="")
{document.getElementById("invitebox").value="{cfn:getmessage(387)}";}
}

</script>
<script type="text/javascript">

function sending()
{
var b=document.getElementById("invitebox").value;
  
if(b=="{cfn:getmessage(387)}")
{

if(document.getElementById("msg2").style.display=="")
{
document.getElementById("msg2").style.display="none";
}
	document.getElementById("msg1").style.display="";
		return true;
}

	$.ajax({

type: "POST",cache: false,
url: "{url:(chat/invitations)}",
data: "mailids="+b,
success: function(data) { 
    					if(data==b)
    					{
    					
    					document.getElementById("msg1").style.display="none";
    					 document.getElementById("msg2").style.display="";
    					 document.getElementById("msg3").style.display="none";
    					 document.getElementById("msg4").style.display="none";
						}
						else if(data=="domain")
						{
						document.getElementById("msg1").style.display="none";
    					 document.getElementById("msg2").style.display="none";
    					 document.getElementById("msg3").style.display="";
    					 document.getElementById("msg4").style.display="none";
						}
						else if(data=="invalid")
						{
						document.getElementById("msg1").style.display="none";
    					 document.getElementById("msg2").style.display="none";
    					 document.getElementById("msg3").style.display="none";
    					 document.getElementById("msg4").style.display="";
						}   
						else 
						{
						// alert("ss");
						window.close ();
						}	
											 
   					 }

  			});	
}
//#A9D0F5

</script>
</head>
<body class="chatboxinput" style="padding:0px; border-width:4px; width:auto; height:auto; margin:0px; font-family:Verdana, Arial, Helvetica, sans-serif;margin:0px:padding:0;">
<div id="maininvitationdiv">
<div id="chatdiv" class="chatboxhead" style="border:0px; width:auto;">
<span style="width: 100%;">{cfn:getmessage(385)}</span>

</div>
<div id="submaindiv" class="submaindiv">
<table style="margin-top: 40px;margin-left: 10px;">
	<tr>
		<td><font style="font-size: 12px;">{cfn:getmessage(386)}</font></td>
	</tr>
<tr><td>
<textarea rows="3" cols="60" id="invitebox" onClick="clearmessage()" onBlur="clearmessage1()" style="font-size: 11px;">{if($invite=="")}{cfn:getmessage(387)}{else}{$invite}{endif}</textarea>
</td></tr>
<tr id="msg1" style="display: none;"><td><font style="font-size: 12px;" color="red">{cfn:getmessage(388)}</font>
</td></tr>
<tr id="msg2" style="display: none;"><td><font style="font-size: 12px;" color="red">{cfn:getmessage(389)}
</font>
</td></tr>
<tr id="msg3" style="display: none;"><td><font style="font-size:12px;" color="red">
{cfn:getmessage(390)}
</font>
</td></tr>
<tr id="msg4" style="display: none;"><td><font style="font-size: 12px;" color="red">
{cfn:getmessage(391)}
</font>
</td></tr>
<tr><td>&nbsp;</td></tr>
<tr><td align="center"><input type="button" id="invitebutton" value="{cfn:getmessage(392)}" onClick="return sending()"></td></tr>

<tr><td>&nbsp;</td></tr>
<tr><td class="footer_txt" >{$footer}</td></tr>
</table>


</div>
</div>

</body>
</html>