body,.loadmask {
    background-color: #121212
}

.content-filters a.active,a.filter-tag,.views-details li a,.view-mode-filters.active span {
    color: #ec7ab9
}

#affiliate-icon {
    font-size: 12px;
    border-radius: 50%;
    background-color: #ec7ab9;
    padding: 5px;
    color: #fff
}

.affiliate-icon {
    font-size: 10px;
    border-radius: 50%;
    background-color: #ec7ab9;
    padding: 2px;
    color: #fff
}

.gn-menu-main,.be .profile_details {
    background-color: #272727
}

.gn-menu-wrapper {
    border-top: 0 solid #343434
}

.gn-icon-menu {
    border-right: 1px solid #343434
}

.be .cbp-spmenu-push {
    overflow-x: initial
}

.plupload_container {
    padding: 8px;
    background: #232323;
    padding-top: 0
}

.plupload_progress_container {
    border: 1px solid #000;
    background-color: #000
}

.plupload_total_status,.plupload_file_status span {
    color: #d0d0d0 !important
}

.plupload_filelist_header,.plupload_filelist_footer {
    background: #232323;
    padding: 8px 8px;
    color: #d0d0d0;
    border: 0
}

.plupload_scroll .plupload_filelist {
    background-color: #000
}

.plupload_filelist li:not(.pl-entry-edit):not(.plupload_droptext) {
    background: 0;
    border-bottom: 1px solid #2e2e2e
}

.be li.pl-entry-edit {
    background-color: #121212;
    border: 0
}

.be #paging-bottom {
    background-color: #272727;
    border: 0
}

.be .responsive-accordion-head .greyed-out {
    color: #777
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active {
    color: #d0d0d0;
    background-color: #000
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
    border: 0;
    background-color: #272727;
    color: #d9d9d9
}

.be .fancybox-inner .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
    border: 0;
    background-color: #000;
    color: #d9d9d9
}

.be .notifications .fancybox-inner .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
    border: 0;
    background-color: #272727;
    color: #d9d9d9
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head,.be .modal-title {
    background-color: #272727;
    color: #aaa
}

.be .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head {
    background-color: #000;
    color: #d0d0d0
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active.h-msover {
    background-color: #000
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel.active.p-msover {
    background-color: #272727;
    border: 0
}

.be .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head .responsive-accordion-plus::before,.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active .responsive-accordion-minus::before {
    color: #d0d0d0
}

.be .entry-list .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-plus,.be .entry-list .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-minus,.be #ct-set-form .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-plus,.be #ct-set-form .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-minus {
    color: #555;
    border: 1px solid #555
}

.be .notifications .fancybox-inner {
    background-color: #121212
}

.be #notifications-form .entry-title {
    color: inherit
}

.be .autocomplete-suggestions {
    background-color: #444
}

.be .autocomplete-suggestions strong {
    color: #fff
}

.be .autocomplete-selected {
    background-color: #000
}

.be .autocomplete-suggestion {
    color: #d0d0d0
}

.be .sb-search-input {
    background-color: #111;
    border: 1px solid #303030;
    color: #d0d0d0
}

.be .user-form input[type="text"],.be .user-form input[type="email"],.be .user-form input[type="password"] {
    background-color: #3c3c3c;
    color: #a9a9a9
}

.be .user-form input[type="text"]:focus,.be .user-form input[type="email"]:focus,.be .user-form input[type="password"]:focus,.be .user-form textarea:focus {
    background-color: #000;
    color: #d0d0d0
}

.be .hr {
    box-shadow: 0 1px 0 #2e2e2e,transparent 0 0 0;
    border-bottom: 1px solid #2e2e2e
}

.be .hr .inner {
    background-color: #444
}

.be #ct-set-form input[type="text"],.be #ct-set-form input[type="email"],.be #ct-set-form input[type="password"],.be .entry-form-class input[type="text"],.be .entry-form-class input[type="email"],.be .entry-form-class input[type="password"],.be #ct-set-form textarea,.be .entry-form-class textarea,.be .jump-input {
    background-color: #3c3c3c;
    color: #a9a9a9;
    margin-bottom: 0
}

.be #ct-set-form input[type="text"]:focus,.be #ct-set-form input[type="email"]:focus,.be #ct-set-form input[type="password"]:focus,.be .entry-form-class input[type="text"]:focus,.be .entry-form-class input[type="email"]:focus,.be .entry-form-class input[type="password"]:focus {
    background-color: #000;
    color: #d0d0d0
}

.be .entry-form-class .selector .select-box .trigger,.be #ct-set-form .selector .select-box .trigger,.be .entry-form-class .selector .select-box .choices,.be #ct-set-form .selector .select-box .choices,.be #trigger-ipp_select,.be #choices-ipp_select {
    background-color: #3c3c3c;
    color: #a9a9a9
}

.be #trigger-ipp_select {
    line-height: 18px;
    height: 28px
}

.be .selector .select-box .choices li {
    color: inherit;
    margin-bottom: 0
}

.be .selector .select-box .choices li:hover,.be .thumbs-wrappers {
    background-color: #272727
}

.be .selector .select-box .choices {
    max-height: 250px
}

.be .selector .select-box .trigger {
    line-height: 35px;
    height: 45px
}

.be .dl-menuwrapper .dl-menuopen li a {
    background-color: #000;
    color: rgba(255,255,255,0.7);
    font-weight: 400
}

.be .dl-menuwrapper .dl-menuopen li {
    border-bottom: 1px solid #2e2e2e
}

.be .menu-drop .dl-menuwrapper ul {
    background-color: #5d5d5d
}

.be .dl-trigger::before,.be .dl-trigger:hover::before {
    color: #999
}

.be .dl-trigger.dl-active::before {
    color: #ec7ab9
}

.be .viewType_btn-default:hover,.be .viewType_btn-default:focus,.be .viewType_btn-default:active,.be .viewType_btn-default.active,.be .open>.dropdown-toggle.viewType_btn-default,.be #entry-action-buttons:hover,.be #entry-action-buttons:focus,.be #entry-action-buttons:active,.be .viewType_btn-default,.be #entry-action-buttons {
    background-color: #121212;
    border-color: #2e2e2e
}

.be .viewType_btn-default:hover,.be .viewType_btn-default:focus,.be .viewType_btn-default:active,.be .viewType_btn-default.active,.be .open>.dropdown-toggle.viewType_btn-default,.be #entry-action-buttons:hover,.be #entry-action-buttons:focus,.be #entry-action-buttons:active {
    color: #999
}

.be #file-time-actions,.be #file-time-actions:hover,.be #file-time-actions:focus,.be #file-time-actions:active,.be #file-type-actions,.be #file-type-actions:hover,.be #file-type-actions:focus,.be #file-type-actions:active,.be #nav-actions,.be #nav-activity {
    background-color: #121212;
    border-color: #2e2e2e
}

.be .icheck-box.place-left,.be #checkselect-all-entries {
    border-right: 1px solid #848484
}

.be #checkselect-all-entries {
    margin-top: 0
}

.be .tabs-style-topline nav a {
    background-color: #343434;
    color: #d0d0d0
}

.be .tabs-style-topline nav li.active a {
    background-color: #000
}

.be .fancybox-inner {
    background-color: #000;
    border: 1px solid #777 !important
}

.be .close-lightbox {
    color: #fff
}

.be .error-message-text {
    background-color: #ef5454;
    color: #fff
}

.be .notice-message-text {
    background-color: #5da02b;
    color: #fff
}

.be .line,.be .blue .accordion li:last-of-type,.be #ct-header-bottom {
    border-bottom: 1px solid #2e2e2e
}

.be h2.content-title,.be h3.content-title {
    letter-spacing: 0 !important
}

.be .content-title {
    color: #f0f0f0;
    letter-spacing: 0
}

.be .filetree li {
    background-color: #000;
    color: #d0d0d0
}

.be .noUi-target {
    border-radius: 4px;
    border: 1px solid #343434;
    box-shadow: inset 0 1px 1px #343434,0 3px 6px -5px #343434
}

.be .noUi-background {
    background: #343434;
    margin-top: 10px
}

.be .noUi-handle {
    border: 1px solid #444;
    border-radius: 3px;
    background: #444;
    cursor: default;
    box-shadow: inset 0 0 1px #444,inset 0 0 7px #ccc,0 3px 6px -3px #444
}

.be .noUi-handle:after,.be .noUi-handle:before {
    background: #999
}

.be .entry-list .ct-entry-nowrap::before,.be .entry-list .ct-entry-nowrap::after {
    background: #131313;
    height: 0;
    padding: 0
}

.be .entry-list .ct-entry-nowrap .ct-entry-details {
    background-color: inherit
}

.be .list-odd,.list-even {
    color: #d0d0d0
}

.be .list-odd {
    background: #444
}

.be .list-odd:hover {
    background: #4e4e4e
}

.be .list-even {
    background: #333
}

.be .list-even:hover {
    background: #6d6c6c
}

.be .list-even a:hover,.be .list-odd a:hover {
    color: #ec7ab9
}

.be .ct-entry-nowrap {
    margin-bottom: 5px
}

.be .selector .iconBe-chevron-down {
    border-left: 0
}

.be .infoTable table th,.be .infoTable table td {
    border: 0
}

.be .infoTable table {
    color: rgba(255,255,255,0.88)
}

.be table th,.be table td {
    border-bottom: 1px solid #343434 !important;
    background: #232323 !important
}

.be table span.black {
    color: #d0d0d0
}

.be div.center table th,.be div.center table td {
    color: #d9d9d9
}

.be .container {
    background-color: #121212
}

.be .gn-menu-main a.logo {
    background-color: #272727 !important
}

.entry-form-class .select-box .trigger::before,#ct-set-form .select-box .trigger::before {
    border-left: 1px solid #888
}

.dl-menuwrapper li>a:after {
    color: #343434
}

.be .icheckbox_line-blue.hover,.be .icheckbox_line-blue.checked.hover,.be .iradio_line-blue.hover {
    background-color: #535353
}

.be .icheckbox_line-blue.checked,.be .iradio_line-blue.checked {
    background: #ef92c5
}

.be #ct-set-form label,.be .entry-form-class label {
    color: rgba(255,255,255,0.88)
}

.be .p-msover #ct-set-form label,.be .p-msover .entry-form-class label,.be #ct-set-form .p-msover label,.be .entry-form-class .p-msover label {
    color: #d0d0d0
}

.be .p-msover .entry-details li>div:nth-of-type(1) {
    color: #d0d0d0
}

.be #nav-activity {
    padding-left: 0
}

.be .Chartjs-legend,.be .Titles-main {
    background-color: #272727;
    color: #d0d0d0
}

.be .Titles-sub label i,.embed-category {
    color: #999
}

.embed-description {
    color: #bbb
}

.wdmax span.icheck-box {
    border-right: 1px solid #777
}

.be .block {
    background-color: #121212
}

.be .plupload_file_name {
    color: #d0d0d0
}

.be .responsive-accordion-tip {
    color: #ddd
}

.be input[readonly],.be input[readonly="readonly"] {
    margin-top: 10px
}

.be textarea {
    min-height: 125px
}

.be .conf-green {
    colo: #08e808
}

#paging-bottom #pag-list .pag-wrap a.paginate {
    margin-top: 2px;
    background: #444;
    color: #999
}

#paging-bottom #pag-list .pag-wrap span.inactive {
    background-color: #272727
}

a.paginate.paginate-prev {
    padding: 0 10px
}

.section-top-bar {
    background: #232323;
    color: #d0d0d0;
    border-top: 3px solid #ec7ab9;
    border-bottom: 0 solid #f4f4f4
}

.section-top-bar .sb-icon-search {
    color: #fff;
    background: #ec7ab9
}

.open-close-links .iconBe-popin,.open-close-links .iconBe-popout,.open-close-links .icon-play,.open-close-links .icon-pause,.open-close-links .iconBe-floppy-disk {
    color: white;
    background: #ec7ab9
}

.sort-selected {
    color: #999
}

.sort-selected:hover {
    color: #999
}

.dl-active .sort-selected {
    color: #ec7ab9
}

.top-wrapper {
    background-color: #ec7ab9
}

#paging-bottom #pag-list .pag-wrap a.current {
    background: #ec7ab9;
    color: white
}

.blue-inner .accordion a.selected {
    background: #ec7ab9;
    color: white;
    border-top: 1px solid #fefefe
}

.blue-inner .accordion a.dcjq-parent.selected.active {
    background: #ec7ab9
}

#lang-menu-be .dl-trigger::before {
    color: #ec7ab9
}

.xfer-log {
    color: #ec7ab9
}

.tabs nav li.tab-current a {
    color: #ec7ab9
}

.tabs-style-topline nav li.tab-current {
    border-top-color: #ec7ab9
}

.tabs-style-topline nav a:hover,.tabs-style-topline nav a:focus {
    color: #ec7ab9;
    text-decoration: none
}

.tabs-style-topline nav li.tab-current a {
    box-shadow: inset 0 3px 0 #ec7ab9;
    color: #ec7ab9
}

.icheckbox_line-blue,.iradio_line-blue {
    background: #343434
}

.icheckbox_square-blue,.iradio_square-blue {
    background-image: url('../../../shared/icheck/blue/images/pink.png')
}

.switch-light .switch-label:after {
    color: #ef92c5
}

.switch-light .switch-input:checked ~ .switch-label {
    background: #000;
    border-color: #ef92c5
}

.switch-light .switch-input:checked ~ .switch-handle {
    background: #ef92c5
}

.logo {
    background: url("../../../be/img/logo-header-darkpink.png") no-repeat scroll center center / 200px 36px transparent;
    transition: all .3s ease 0s;
    float: left;
    width: 200px;
    margin-left: 10px
}

.gn-menu-main a.logo:hover,.no-touch .gn-menu-main a.logo:hover {
    background: url("../../../be/img/logo-header-darkpink.png") no-repeat scroll center center / 200px 36px transparent
}

a#flogo {
    background: url('../../../be/img/logo-header-darkpink.png') no-repeat center center transparent;
    background-size: 200px 36px;
    width: 200px;
    height: 36px;
    display: block
}

.login-page .tabs-style-topline nav li.tab-current a {
    background: white;
    box-shadow: inset 0 3px 0 #ec7ab9;
    color: #ec7ab9
}

.user-form input[type="text"]:focus,.user-form input[type="email"]:focus,.user-form input[type="password"]:focus,.user-form textarea:focus {
    background: none repeat scroll 0 0 #000;
    box-shadow: 0 0 0 2px #ec7ab9,0 2px 3px rgba(0,0,0,0.2) inset,0 5px 5px rgba(0,0,0,0.15);
    outline: medium none
}

span.input-signin button.search-button.form-button {
    background-color: #ec7ab9;
    box-shadow: none;
    color: white
}

span.input-signin button.search-button.form-button:hover {
    background-color: #ef92c5;
    color: #fff
}

span.input-signin button.search-button.form-button:hover::before {
    color: #fff;
    border-right: 1px solid #fff
}

#uploader a.browse i,#uploader a.start i,#uploader .section-top-bar .sb-icon-search {
    background: #ec7ab9
}

.be #lang-menu-be.dl-menuwrapper ul {
    background: #ec7ab9
}

.menu-drop .dl-menuwrapper button:hover,.menu-drop .dl-menuwrapper button.dl-active,.menu-drop .dl-menuwrapper ul {
    background: #ec7ab9
}

.be .dl-trigger:not(#entry-action-buttons .dl-trigger) {
    background: #ef92c5;
    color: white
}

.be button.dl-trigger:hover {
    background: #ed86bf
}

.be .dl-menuwrapper .dl-menuopen li a:hover,.be .dl-menuwrapper .dl-menuopen li a:active,.be .dl-menuwrapper .dl-menuopen li a:focus {
    background: #ed86bf;
    color: #fff
}

.be .menu-drop .dl-menuwrapper button.dl-active {
    background: #ed86bf;
    color: #fff;
    text-shadow: 0 0 5px #fff
}

.gn-icon-menu.gn-selected::before {
    background: #ec7ab9;
    box-shadow: 0 3px #131313,0 -6px #ec7ab9,0 -9px #131313,0 -12px #ec7ab9
}

.gn-menu-main {
    color: #ec7ab9
}

.gn-menu-main a {
    color: #ec7ab9
}

.no-touch .gn-menu-main a:hover,.no-touch .gn-menu li.gn-search-item:hover,.no-touch .gn-menu li.gn-search-item:hover a {
    background: #ec7ab9;
    color: white
}

input.gn-search {
    color: #ec7ab9
}

.gn-search::-webkit-input-placeholder {
    color: #ec7ab9
}

.gn-search:-moz-placeholder {
    color: #ec7ab9
}

.gn-search::-moz-placeholder {
    color: #ec7ab9
}

.gn-search:-ms-input-placeholder {
    color: #ec7ab9
}

.gn-icon-menu::before {
    background: #ec7ab9;
    box-shadow: 0 3px #131313,0 -6px #ec7ab9,0 -9px #131313,0 -12px #ec7ab9
}

.no-touch .gn-icon-menu:hover::before,.no-touch .gn-icon-menu.gn-selected:hover::before {
    background: white;
    box-shadow: 0 3px #ec7ab9,0 -6px white,0 -9px #ec7ab9,0 -12px white
}

#ct-set-form input[type="text"]:focus,#ct-set-form input[type="email"]:focus,#ct-set-form input[type="password"]:focus,#ct-set-form textarea:focus,.entry-form-class input[type="text"]:focus,.entry-form-class input[type="email"]:focus,.entry-form-class input[type="password"]:focus,.entry-form-class textarea:focus {
    background: none repeat scroll 0 0 #000;
    box-shadow: 0 0 0 2px #ec7ab9,0 2px 3px rgba(0,0,0,0.2) inset,0 5px 5px rgba(0,0,0,0.15);
    outline: medium none
}

.button-blue {
    background-color: #ec7ab9;
    box-shadow: 0 0 0 2px #ec7ab9,0 0 0 rgba(0,0,0,0) inset,0 0 0 rgba(0,0,0,0);
    color: white
}

.button-grey {
    background-color: #ec7ab9;
    box-shadow: 0 0 0 2px #ec7ab9,0 0 0 rgba(0,0,0,0) inset,0 0 0 rgba(0,0,0,0)
}

.new-entry:hover,.new-entry-loading:hover {
    background-color: transparent;
    color: #ec7ab9
}

.new-entry:hover::before,.new-entry-loading:hover::before,#compose-button:hover::before,#new-label:hover::before,#msg-btn-send:hover::before {
    color: #fff;
    border-right: 0 solid #ec7ab9
}

.save-entry-button.approve-invite:hover::before,.save-entry-button.toggle-attach:hover::before,.save-entry-button.rename-label:hover::before,.save-entry-button.reply-msg:hover::before,.save-entry-button.delete-msg:hover::before,.save-entry-button.block-user:hover::before,.save-entry-button.ignore-invite:hover::before,.save-entry-button.friend-action:hover::before,.save-entry-button.priv-msg:hover::before,.save-entry-button.unsel-contact:hover::before,.save-entry-button.new-contact:hover::before,.save-entry-button.edit-contact:hover::before,.save-entry-button.email-change-button:hover::before,.save-entry-button.change-button:hover::before,.save-entry-button.purge-button:hover::before,.save-entry-button.playlist-delete:hover::before,.save-entry-button.playlist-page:hover::before,.save-entry-button.send-email-button:hover::before,.save-entry-button.send-message-button:hover::before,.save-entry-button.usr-delete:hover::before,.save-entry-button.thumb-reset:hover::before,.save-entry-button.reset-trigger:hover::before,.save-entry-button.find-video-file:hover::before,.save-entry-button.search-list-entry:hover::before,.save-entry-button.notif-clear:hover::before,.save-entry-button.sub-renew:hover::before,.save-entry-button.graph-update:hover::before,.save-entry-button.find-url:hover::before,.save-entry-button.add-url:hover::before,.save-entry-button.new-upload:hover::before {
    color: #fff;
    border-right: 0 solid #ec7ab9
}

.save-entry-button:hover span,.new-entry:hover span,.thumb-popup:hover span {
    border-left: 1px solid #fff;
    color: #fff
}

.save-entry-button:hover::before {
    color: #fff !important;
    border-right: 0 solid #ec7ab9
}

.save-entry-button-loading:hover::before,.new-entry-loading:hover::before {
    color: #ec7ab9
}

.save-entry-button-loading:hover span,.new-entry-loading:hover span {
    color: #ec7ab9;
    border-left: 1px solid #ec7ab9
}

.submit:hover {
    color: #ec7ab9
}

a.paginate {
    color: #ec7ab9
}

.entry-details li a {
    color: #ec7ab9
}

.responsive-accordion li .responsive-accordion-head.active {
    color: #ec7ab9
}

.responsive-accordion-head .ct-bullet-label a,.responsive-accordion-panel a {
    color: #ec7ab9
}

.blue-inner .accordion a.dcjq-parent.active {
    background: #ef92c5;
    color: white
}

.blue-inner .accordion a:hover,.blue-inner .accordion a.active {
    background: #ef92c5;
    color: white;
    border-bottom: 1px solid #ef92c5
}

.cf-status {
    color: #c26498
}

.notifications-accordion .responsive-accordion-head a,.notifications-accordion .responsive-accordion-panel a {
    color: #c26498
}

.entry-details-actions a {
    color: #c26498
}

.list-even a,.list-odd a {
    color: #c26498
}

.cf-status:hover {
    color: #974e76
}

.notifications-accordion .responsive-accordion-head a:hover,.notifications-accordion .responsive-accordion-panel a:hover {
    color: #974e76
}

.entry-details-actions a:hover {
    color: #974e76
}

.uactions-list li a:hover {
    color: #974e76
}

.button-blue:hover,.save-entry-button:hover,.new-entry:hover {
    background-color: #ef92c5;
    color: #fff
}

.button-grey {
    box-shadow: none
}

.arrow_box:after,.be .arrow_box:after {
    border-bottom-color: #4c4c4c !important
}

@media screen and (max-width: 520px) {
    .logo {
        background: url("../../../be/img/logo-symbol-pink.png") no-repeat scroll center center / 43px 36px transparent;
        width: 43px;
        margin-left: 10px;
    }

    .gn-menu-main a.logo:hover, .no-touch .gn-menu-main a.logo:hover {
        background: url("../../../be/img/logo-symbol-pink.png") no-repeat scroll center center / 43px 36px transparent;
    }
}

