<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>New Mail</title>
</head>
<body>
<div class="row">
<div onKeyUp="parent.autoSave(0)" class="nicedit_div_new" style="">
<textarea  name="mailBody_0_0"  class="nicedit_textarea_new" id="mailBody_0_0"></textarea>
</div>
</div>
</body>
</html>