    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico"/>
</head>
<body>
 <div class="shortmail" id="short_detail1">
                 <ul class="inbxrplyul">
                 <li id="four_41" class="inbxrli"  style="float:right">
                 <a href="javascript:actionfn(4)"  id=4>
                 <i class="fa fa-share position_tooltip" data-asTooltip-position="n" title="{cfn:getmessage(17)}"></i>
</a></li>
                      <li id="three_31" class="inbxrli"  style="float:right"><a href="javascript:actionfn(3)"  id=3>
                     
                      <i class="fa fa-reply-all position_tooltip" data-asTooltip-position="n" title=" {cfn:getmessage(16)}"></i>

                      </a></li>
                      <li id="two_21" class="inbxrli" style="float:right"><a href="javascript:actionfn(2)"  id=2>
                      <i class="fa fa-reply position_tooltip" data-asTooltip-position="n" title="{cfn:getmessage(15)}"></i>
</a></li></ul>
                      <div style="clear:both"></div>
                  <table cellpadding="0" cellspacing="0" style="height: auto;" width="100%" border="0">
                    <tr bgcolor="#FFFFFF">
                      <td valign="top"><div id="mailContent1" class="mailContentmain"> </div>
                      <div class="endline"></div>
<!--                         <div id="preview" style="display: none;position:absolute;z-index:1000;width: 800px; border: 1px solid #000;background-color: #fff;height: auto;padding: 2px 2px 10px 10px;margin: 20px 300px;" > </div></td>
 -->                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                  </table>
             
                </div>
                </body>
                </html>