<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{$servicename}</title>
<link rel="stylesheet" href="css/mob-style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/new_mobile_style.css" type="text/css" media="screen" />
    <script src="js/jquery.js" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $(window).resize(function(){
   setTimeout(adjustlogin, 500); 
});
        function adjustlogin()
        {
            $(".mob-login").removeClass("login-margin");
            var vw= $(window).height();
            var vf= $(".homefooter").outerHeight(true);
            var vh= $(".mob-login").outerHeight(true);
            
            if(vw > vf+vh) //window.height > homefooter + mob-login
            {
                $(".mob-login").addClass("fixedlogin");
                $(".homepage").css("height",vw-vf+"px");
            }
            else{
                $(".mob-login").removeClass("fixedlogin");
                $(".mob-login").addClass("login-margin");
                $(".homepage").removeAttr("style");
            }
        }
        adjustlogin();
    });
    </script>
</head>

<body {if($mob==0)} style="width:360px; overflow:hidden;" {endif} class="home_index {if($mob==0)}webmobile{endif}">
    <div class="home_img" style="background-image: url('images/webmail_home_1.png')"></div> 
    {if($mob==0)}<div class="home_bg"></div> {endif}
<div {if($mob==0)}style="width:360px; overflow:hidden" class="innerdiv" {endif}>
   
<div class="header">
	<div class="header_inner flex_right">
		<!--<img src="images/logo.png" alt="Logo" class="left" />-->
		<a href="#" class="right"><span class="refresh_btn"><i class="fa  fa-rotate-left "></i></span></a>
	</div>
</div>



<div class="contentdiv homepage">
    
<div class="mob-login">
    {formstart:login:{url:(index/logincheck)}:POST}
    <div class="home_logo"><img src="images/logo.png" alt="Logo"/></div>
<div class="white_title mobile_advanced_maintitletd">{cfn:getmessage(342)}</div>
<div class="messageerrdisplay">{fn:nl2br($msg)}</div>
<div class="contentdivin">

<table cellpadding="0" cellspacing="0" border="0" width="100%" > 


<!--<tr><td align="left"  class="mobile_advanced_texttd">{cfn:getmessage(6)}<span id="mob_mandatory">*</span></td></tr>-->
<tr><td align="left"  class="mobile_advanced_feildtd">
<input class="field" type="text" name="username" placeholder="{cfn:getmessage(6)}" id="username" size="20" value="{$demouser}" />
</td></tr>

<!--<tr><td align="left"  class="mobile_advanced_texttd">{cfn:getmessage(7)}<span id="mob_mandatory">*</span></td></tr>-->
<tr><td align="left"  class="mobile_advanced_feildtd">
<input class="field" type="password" name="password" placeholder="{cfn:getmessage(7)}" id="password" size="20" value="{$demopass}" />
</td></tr>


<tr><td align="left" class="mobile_advanced_feildtd display_flex height60">

<button class="loginbutton homelogin" type="submit" name="submit" value="{cfn:getmessage(9)}"><b>{cfn:getmessage(9)}</b><span><i class="fa fa-check"></i></span></button>
    
    
    </td></tr>
    {if($signupvalue==1)}<tr><td><a href="{url:(index/registration)}" title="{cfn:getmessage(350)}"  class="signupnow">{cfn:getmessage(350)}</a></td></tr>{endif}
</table>

</div>
{formend:login}
</div>
</div>
<div class="ftr homefooter">{$footer}</div>
</div>
</body>
</html>