.vjs-menu li.vjs-menu-item:not(.vjs-selected):focus,
.vjs-menu li.vjs-menu-item:not(.vjs-selected):hover {
  background-color: #c079a0;
}

.video-js .vjs-loading-spinner,
.vjs-default-skin .vjs-loading-spinner {
  border-color: #b25c8b;
}

.video-js .vjs-loading-spinner:before,
.video-js .vjs-loading-spinner:after,
.vjs-default-skin .vjs-loading-spinner:before,
.vjs-default-skin .vjs-loading-spinner:after {
  border-color: #b25c8b;
}

.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus,
.vjs-default-skin .vjs-big-play-button:hover,
.vjs-default-skin .vjs-big-play-button:focus {
  background-color: #b25c8b;
}

.video-js:hover .vjs-big-play-button,
.video-js:hover .vjs-big-play-button:focus,
.video-js:focus .vjs-big-play-button,
.video-js:focus .vjs-big-play-button:focus,
.vjs-default-skin:hover .vjs-big-play-button,
.vjs-default-skin:hover .vjs-big-play-button:focus,
.vjs-default-skin:focus .vjs-big-play-button,
.vjs-default-skin:focus .vjs-big-play-button:focus {
  background-color: #b25c8b;
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.vjs-default-skin .vjs-volume-level,
.vjs-default-skin .vjs-play-progress {
  background-color: #b25c8b;
}

.video-js .vjs-play-control:hover,
.video-js .vjs-play-control:focus,
.video-js .vjs-fullscreen-control:hover,
.video-js .vjs-fullscreen-control:focus,
.video-js .vjs-subtitles-button:hover,
.video-js .vjs-subtitles-button:focus,
.video-js .vjs-playback-rate:hover,
.video-js .vjs-playback-rate:focus,
.video-js .vjs-captions-button:hover,
.video-js .vjs-captions-button:focus,
.video-js .vjs-chapters-button:hover,
.video-js .vjs-chapters-button:focus,
.video-js .vjs-mute-control:hover,
.video-js .vjs-mute-control:focus,
.video-js .vjs-volume-menu-button:hover,
.video-js .vjs-volume-menu-button:focus,
.video-js .vjs-quality-button:hover,
.video-js .vjs-quality-button:focus,
.video-js .vjs-descriptions-button:hover,
.video-js .vjs-descriptions-button:focus,
.video-js .vjs-audio-button:hover,
.video-js .vjs-audio-button:focus,
.vjs-default-skin .vjs-play-control:hover,
.vjs-default-skin .vjs-play-control:focus,
.vjs-default-skin .vjs-fullscreen-control:hover,
.vjs-default-skin .vjs-fullscreen-control:focus,
.vjs-default-skin .vjs-subtitles-button:hover,
.vjs-default-skin .vjs-subtitles-button:focus,
.vjs-default-skin .vjs-playback-rate:hover,
.vjs-default-skin .vjs-playback-rate:focus,
.vjs-default-skin .vjs-captions-button:hover,
.vjs-default-skin .vjs-captions-button:focus,
.vjs-default-skin .vjs-chapters-button:hover,
.vjs-default-skin .vjs-chapters-button:focus,
.vjs-default-skin .vjs-mute-control:hover,
.vjs-default-skin .vjs-mute-control:focus,
.vjs-default-skin .vjs-volume-menu-button:hover,
.vjs-default-skin .vjs-volume-menu-button:focus,
.vjs-default-skin .vjs-quality-button:hover,
.vjs-default-skin .vjs-quality-button:focus,
.vjs-default-skin .vjs-descriptions-button:hover,
.vjs-default-skin .vjs-descriptions-button:focus,
.vjs-default-skin .vjs-audio-button:hover,
.vjs-default-skin .vjs-audio-button:focus,
.vjs-default-skin .vjs-resolution-button:hover,
.vjs-default-skin .vjs-resolution-button:focus {
  background-color: #b25c8b;
}

.video-js .vjs-volume-menu-button:hover:before,
.video-js .vjs-volume-menu-button:focus:before,
.vjs-default-skin .vjs-volume-menu-button:hover:before,
.vjs-default-skin .vjs-volume-menu-button:focus:before {
  background-color: #b25c8b;
}

.content-filters a.active,
a.filter-tag,
.views-details li a {
  color: #b25c8b;
}

#affiliate-icon {
  font-size: 12px;
  border-radius: 50%;
  background-color: #b25c8b;
  padding: 5px;
  color: #fff;
}

.affiliate-icon {
  font-size: 10px;
  border-radius: 50%;
  background-color: #b25c8b;
  padding: 2px;
  color: #fff;
}

.user-sub-activity:hover {
  background-color: #343434;
}

.user-sub-activity .black {
  color: #eee;
}

header#main_header {
  background-color: #272727;
  border-bottom: 0;
}

body,
#ct-header-bottom,
.fluid,
.inner-block,
.loadmask {
  background-color: #121212;
}

.login-page .outer-border-wrapper {
  background-color: #121212;
  padding: 0;
}

.login-page .tabs-style-topline nav li.tab-current a {
  background-color: initial !important;
}

body {
  color: #d0d0d0;
}

.fixed-width,
.blue .accordion a {
  background-color: #1c1c1c;
}

#categories-accordion a i,
#categories-accordion a.selected i,
#no-session-accordion-off a.active:hover i {
  background-color: inherit;
}

#categories-accordion a:hover i,
#no-session-accordion a:hover i,
#no-session-accordion a.active:hover i {
  background-color: #444;
}

#categories-accordion a.sub-categ.active:hover i {
  background-color: #444;
}

#categories-accordion a.sub-categ.active:hover {
  background-color: #444;
  color: #fff;
}

/*.blue .accordion .menu-panel-entry.menu-panel-entry-active a:hover{background-color:#444 !important;color:#fff !important}*/

.blue .accordion a {
  font-size: 14px;
}

.blue .accordion a.dcjq-parent.active,
.blue .accordion a.selected,
.blue .accordion a.active,
.blue .accordion li.dcjq-current-parent.dcjq-parent-li a.sub-categ.dcjq-parent.active {
  background-color: #1c1c1c;
  color: #fff;
}

.blue .accordion a:not(.sub-categ).dcjq-parent.active i,
.blue .accordion a.selected i,
.blue .accordion .menu-panel-entry.menu-panel-entry-active a.dcjq-parent i {
  color: #b25c8b !important;
}

.inline_button:hover,
.inline_button:hover i {
  color: #b96a95 !important;
}

.blue .accordion .inner-menu a {
  background-color: initial;
  padding-left: 37px;
  transition: none;
}

.blue .accordion .inner-menu a:hover {
  padding-left: 37px;
}

.blue .accordion .inner-menu li {
  border-bottom: 0 !important;
}

.blue .accordion .inner-menu a.selected {
  background-color: initial;
}

.blue .accordion .inner-menu a.selected:hover {
  background-color: #444;
  color: #fff;
}

.copybar-off,
footer .copybar {
  background-color: initial;
}

.copybar-off {
  border: 0;
}

.line,
.blue .accordion li:last-of-type,
#ct-header-bottom {
  border-bottom: 1px solid #2e2e2e;
}

.sidebar-container {
  border-right: 0;
}

ul#sub-nav-bar li.active a {
  color: #fff;
}

ul#sub-nav-bar li.active::before,
ul#sub-nav-bar li:not(.active):hover::before {
  color: #000;
}

ul#sub-nav-bar li a {
  color: #d4d4d4;
}

h2.content-title,
h3.content-title {
  letter-spacing: 0 !important;
}

.content-title {
  color: #f0f0f0;
  letter-spacing: 0;
}

.tabs-style-topline nav a {
  background-color: #272727;
  color: #d0d0d0;
}

.small-thumbs h2,
.small-thumbs h3 {
  font-size: 14px;
}

.small-thumbs .profile_image .channel_name {
  color: #aaa;
  font-size: 13px;
}

.tpl_browse .small-thumbs h2,
.recommended_section .small-thumbs h2,
.tpl_channel .small-thumbs h2,
.tpl_subs .small-thumbs h2,
.tpl_files .small-thumbs h2,
.tpl_search .small-thumbs h2,
.tpl_browse .small-thumbs h3,
.recommended_section .small-thumbs h3,
.tpl_channel .small-thumbs h3,
.tpl_subs .small-thumbs h3,
.tpl_files .small-thumbs h3,
.tpl_search .small-thumbs h3 {
  min-height: 34px;
}

#no-session-accordion a i {
  background-color: #121212;
}

.blue .accordion {
  padding: 10px 0 0;
}

.sb-search-input {
  background-color: #111;
  border: 1px solid #303030;
}

.viewType_btn-default:hover,
.viewType_btn-default:focus,
.viewType_btn-default:active,
.viewType_btn-default.active,
.open>.dropdown-toggle.viewType_btn-default,
#entry-action-buttons:hover,
#entry-action-buttons:focus,
#entry-action-buttons:active,
.viewType_btn-default,
#entry-action-buttons {
  background-color: #121212;
  border-color: #2e2e2e;
}

.viewType_btn-default:hover,
.viewType_btn-default:focus,
.viewType_btn-default:active,
.viewType_btn-default.active,
.open>.dropdown-toggle.viewType_btn-default,
#entry-action-buttons:hover,
#entry-action-buttons:focus,
#entry-action-buttons:active {
  color: #fff;
}

.sb-search-input {
  color: #7c7c7c;
}

.user-form input[type="text"],
.user-form input[type="email"],
.user-form input[type="password"] {
  background-color: #3c3c3c;
  color: #a9a9a9;
}

.user-form input[type="text"]:focus,
.user-form input[type="email"]:focus,
.user-form input[type="password"]:focus,
.user-form textarea:focus {
  background-color: #000;
  color: #d0d0d0;
}

.hr {
  box-shadow: 0 1px 0 #2e2e2e,transparent 0 0 0;
  border-bottom: 1px solid #2e2e2e;
}

.hr .inner {
  background-color: #444;
}

#ct-set-form input[type="text"],
#ct-set-form input[type="email"],
#ct-set-form input[type="password"],
.entry-form-class input[type="text"],
.entry-form-class input[type="email"],
.entry-form-class input[type="password"],
#ct-set-form textarea,
.entry-form-class textarea {
  background-color: #3c3c3c;
  color: #a9a9a9;
}

textarea {
  min-height: 125px;
}

#ct-set-form input[type="text"]:focus,
#ct-set-form input[type="email"]:focus,
#ct-set-form input[type="password"]:focus,
.entry-form-class input[type="text"]:focus,
.entry-form-class input[type="email"]:focus,
.entry-form-class input[type="password"]:focus {
  background-color: #000;
  color: #d0d0d0;
}

.entry-form-class .selector .select-box .trigger,
#ct-set-form .selector .select-box .trigger,
.entry-form-class .selector .select-box .choices,
#ct-set-form .selector .select-box .choices {
  background-color: #3c3c3c;
  color: #a9a9a9;
}

.selector .select-box .choices li {
  color: inherit;
  margin-bottom: 0;
}

.selector .select-box .choices li:hover,
.thumbs-wrappers {
  background-color: #272727;
}

.selector .select-box .choices {
  max-height: 250px;
}

.selector .select-box .trigger {
  line-height: 35px;
  height: 45px;
}

.thumbs-wrapper.thumb-selected {
  background-color: #232323;
  border-bottom-width: 0;
}

.fe .dl-menuwrapper .dl-menuopen li a {
  background-color: #000;
  color: #999;
}

.fe .dl-menuwrapper .dl-menuopen li {
  border-bottom: 1px solid #2e2e2e;
}

.fe .menu-drop .dl-menuwrapper ul {
  background-color: #5d5d5d;
}

.dl-trigger:hover::before {
  color: #999;
}

.dl-trigger.dl-active::before {
  color: #b25c8b;
}

.sb-search-fe {
  border: 0;
}

.sb-icon-search-fe {
  background-color: #343434;
  color: #999;
}

.search_holder_fe .sb-search-input[type="text"] {
  height: 32px;
  line-height: 32px;
}

.sb-icon-search-fe {
  width: 32px;
  height: 32px;
}

#paging-bottom {
  background-color: #272727;
  border: 0;
}

.responsive-accordion-head .greyed-out {
  color: #777;
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active,
.fe .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active {
  color: #d0d0d0;
  background-color: #000;
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel,
.fe .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel {
  border: 0;
  background-color: #272727;
}

.responsive-accordion-default.responsive-accordion li .responsive-accordion-head,
.modal-title {
  background-color: #272727;
  color: #aaa;
}

.be .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head,
.fe .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head {
  background-color: #000;
  color: #d0d0d0;
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active.h-msover,
.fe .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active.h-msover {
  background-color: #000;
}

.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel.active.p-msover,
.fe .responsive-accordion-default.responsive-accordion li .responsive-accordion-panel.active.p-msover {
  background-color: #272727;
  border: 0;
}

.be .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head .responsive-accordion-plus::before,
.be .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active .responsive-accordion-minus::before,
.fe .responsive-accordion-default.responsive-accordion li:hover .responsive-accordion-head .responsive-accordion-plus::before,
.fe .responsive-accordion-default.responsive-accordion li .responsive-accordion-head.active .responsive-accordion-minus::before {
  color: #d0d0d0;
}

.entry-list .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-plus,
.entry-list .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-minus,
#ct-set-form .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-plus,
#ct-set-form .responsive-accordion-default.responsive-accordion li .responsive-accordion-head i.responsive-accordion-minus {
  color: #555;
  border: 1px solid #555;
}

.fe #ct-set-form .p-msover label,
.fe .entry-form-class .p-msover label {
  color: #d0d0d0;
}

.icheck-box.place-left,
#checkselect-all-entries {
  border-right: 1px solid #848484;
}

.with-lines {
  border-top: 0;
  border-bottom: 1px solid #2e2e2e;
}

.video-content-title {
  color: #f0f0f0;
}

#response-list {
  background-color: #000;
  border: 1px solid #2e2e2e;
}

.response-entry.selected,
.response-entry:hover {
  background-color: #272727;
}

.autocomplete-suggestions {
  background-color: #444;
}

.autocomplete-suggestions strong {
  color: #fff;
}

.autocomplete-selected {
  background-color: #000;
}

.vs-column figure,
.carousel_t figure {
  background-color: #272727;
}

h2 span.heading,
.account-stats h2 {
  color: #f0f0f0;
}

.arrow_box {
  background: #1c1c1c;
  border: 0 solid #2e2e2e;
}

.arrow_box:after {
  border-bottom-color: #4c4c4c;
}

.notification-entries-heading {
  border-bottom: 1px solid #2e2e2e;
}

#notifications-box {
  min-height: 90px;
}

.account-date {
  border-bottom: 1px solid #2e2e2e;
}

.inline_button {
  background-color: #272727;
  margin-top: 15px;
}

.inline_button a {
  color: #f0f0f0 !important;
}

.plupload_container {
  padding: 8px;
  background: #232323;
  padding-top: 0;
}

.plupload_progress_container {
  border: 1px solid #000;
  background-color: #000;
}

.plupload_total_status,
.plupload_file_status span {
  color: #d0d0d0 !important;
}

.plupload_filelist_header,
.plupload_filelist_footer {
  background: #232323;
  padding: 8px 8px;
  color: #d0d0d0;
  border: 0;
}

.plupload_scroll .plupload_filelist {
  background-color: #000;
}

.plupload_filelist li:not(.pl-entry-edit):not(.plupload_droptext) {
  background: 0;
  border-bottom: 1px solid #2e2e2e;
}

li.pl-entry-edit {
  background-color: #121212;
  border-bottom: 1px solid #2e2e2e;
  border-left: 0;
  border-right: 0;
}

.tpl_channel .channel-tab-list li.tab-current {
  background-color: #000;
}

.tpl_channel .channel-tab-list li a,
.tpl_channel .channel-tab-list li .icon-info:before {
  color: #d0d0d0;
}

.tpl_channel .channel-tab-list li {
  background-color: #272727;
}

.cbp_tmtimeline>li .cbp_tmlabel {
  background-color: #272727;
  color: #d0d0d0;
}

.cbp_tmtimeline>li .cbp_tmicon {
  box-shadow: 0 0 0 8px #2e2e2e;
  background: #c079a0;
}

.cbp_tmtimeline>li:hover .cbp_tmicon {
  background: #b25c8b;
}

.cbp_tmtimeline:before {
  background-color: #2e2e2e;
}

.fancybox-inner {
  background-color: #000;
  border: 1px solid #777 !important;
}

.close-lightbox {
  color: #fff;
}

ol.vertical li {
  background-color: #272727;
  color: #d0d0d0;
  border: 1px solid #343434;
}

#delete-playlist-form,
.pl-entry-nr,
.title-text,
.comment_h button.comm-toggle-replies {
  color: #d0d0d0;
}

#playlist-entries-list li.entry {
  border-top: 1px solid #343434;
  background: #1c1c1c;
}

#playlist-entries-list li.entry:nth-child(2n),
.comments_activity.response {
  background: #121212;
}

.border-wrapper,
.comment-reply {
  background-color: #121212;
}

.page_holder textarea,
.comments_activity textarea,
.page_holder input[type="text"] {
  border: 0;
}

.page_holder input[type="text"] {
  padding: 3px 5px;
}

.comm-cancel-action,
.sh_button,
.action_buttons a {
  background-color: #252525;
}

.embed-size-on {
  border: 1px solid red !important;
}

.comments_activity:first-of-type {
  border-top: 0;
}

.comments_activity {
  background-color: #121212;
  border-bottom: 0 solid #232323;
}

.comment_h p:not(.reply_char) {
  color: rgb(255,255,255,0.88);
}

.comment_h p.posted_on {
  color: #a6a6a6;
}

.response_holder .response_holder {
  border-top: 0 solid #232323;
}

.response .comment-reply {
  background-color: #121212;
}

.playlist_holder .owl-carousel .owl-controls .owl-dot,
.playlist_holder .owl-carousel .owl-controls .owl-nav .owl-next,
.playlist_holder .owl-carousel .owl-controls .owl-nav .owl-prev {
  background: 0;
  border: 1px solid #343434;
}

.thirds .thumbs-wrapper,
.carousel_t .thumbs-wrapper {
  border-color: #232323;
}

#search-filters ul li a i {
  color: #aaa;
}

.filter-link {
  background-color: #272727;
  border: 1px solid #232323;
  color: #aaa;
}

.icheckbox_line-blue.hover,
.icheckbox_line-blue.checked.hover,
.iradio_line-blue.hover {
  background-color: #535353;
}

.subscribers.profile_count i {
  padding: 4px 10px;
}

.count_number {
  padding: 0;
}

.profile_count a:hover {
  color: #fff;
}

.owl-prev,
.owl-next {
  display: none !important;
}

.view-on .owl-prev,
.view-on .owl-next {
  display: block !important;
}

#home-content .owl-next:hover,
#home-content .owl-prev:hover,
#home-content .view-on .owl-next,
#home-content .view-on .owl-prev {
  top: calc(50% - 72px);
  background-color: #272727;
  border: 1px solid #343434;
  color: #d0d0d0;
}

#home-content .owl-next:hover i::before,
#home-content .owl-prev:hover i::before,
#home-content .view-on .owl-next i::before,
#home-content .view-on .owl-prev i::before {
  color: #d0d0d0;
}

#home-content .owl-next:hover {
  border-left-width: 1px !important;
}

#home-content .owl-prev:hover {
  border-right-width: 1px !important;
}

.viewType_btn-default,
#entry-action-buttons,
.dl-trigger::before {
  color: #999;
}

.error-message-text {
  background-color: #ef5454;
  color: #fff;
}

.notice-message-text {
  background-color: #5da02b;
  color: #fff;
}

#siteContent>#cb-response-wrap {
  margin-top: 15px;
}

#blog-edit,
#view-player-blog {
  background-color: #272727;
}

.hometabs h5 {
  color: #eee;
}

@media (max-width:700px) {
  #home-content .owl-next:hover,
  #home-content .view-on .owl-next {
    right: -10px;
  }

  #home-content .owl-prev:hover,
  #home-content .view-on .owl-prev {
    left: -10px;
  }
}

@media (max-width:450px) {
  .subscribers i,
  .count_number {
    font-size: unset;
  }
}

span.i-bullet {
  background-color: #b25c8b;
  border-color: #b25c8b;
}

.blue .accordion .menu-panel-entry.menu-panel-entry-active a.dcjq-parent.active,
.blue .accordion .menu-panel-entry.menu-panel-entry-active a.dcjq-parent,
.blue .accordion a.dcjq-parent.active,
.blue .accordion a.selected {
  background-color: #555;
}

.blue .accordion a.active:hover {
  background-color: #444;
  color: #fff;
}

#ima-placeholder::before,
.video_player_holder.youtube .vjs-poster::before,
.left-menu-h4,
.hidden-notifications.active,
.button-blue:hover,
.save-entry-button:hover,
.new-entry:hover {
  color: #b25c8b;
}

.profile_count a:hover {
  background: #c079a0;
}

.profile_count a,
.subscribers {
  background: #b96a95;
}

.user-thumb-xlarge.top .own-profile-image {
  border: 1px solid #924c72;
}

.user-thumb-xlarge.top .own-profile-image:hover {
  border: 1px solid #723b59;
}

ul#sub-nav-bar li.active::before,
ul#sub-nav-bar li:not(.active):hover::before {
  border-bottom: 3px solid #b25c8b;
}

.tpl_channel .channel-tab-list li.tab-current {
  background: #000;
  border-top: 1px solid #b25c8b;
}

.tpl_channel .channel-tab-list li.tab-current .icon-info:before {
  color: #b25c8b;
}

.tpl_channel .channel-tab-list li a:hover .icon-info:before,
.tpl_channel .channel-tab-list li a:hover,
.tpl_channel .channel-tab-list li.tab-current a {
  color: #b25c8b;
}

.channel-tab-list li.tab-current a {
  box-shadow: 0 3px 0 #b25c8b inset;
  display: block;
}

.tpl_channel .act-list-user {
  color: #b25c8b;
}

.top-wrapper {
  background-color: #b25c8b;
}

.tabs nav li.tab-current a {
  color: #b25c8b;
}

.tabs-style-topline nav li.tab-current {
  border-top-color: #b25c8b;
  border-bottom: 0;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
  color: #b25c8b;
}

.tabs-style-topline nav li.tab-current a {
  background: 0;
  box-shadow: inset 0 3px 0 #b25c8b;
  color: #b25c8b;
}

.tabs-style-topline nav li.tab-current a {
  background: 0;
  box-shadow: inset 0 3px 0 #b25c8b;
  color: #b25c8b;
}

.tabs nav li.tab-current a {
  color: #b25c8b;
}

.tabs nav li a:hover {
  color: #b25c8b;
}

.tpl_index .content-wrap {
  background-image: url('../../img/home/player_back_dark_purple.jpg');
}

.menu-drop .dl-menuwrapper button:hover,
.menu-drop .dl-menuwrapper button.dl-active,
.menu-drop .dl-menuwrapper ul {
  background: #b25c8b;
}

.be #lang-menu-be.dl-menuwrapper ul {
  background: #b25c8b;
}

.icheckbox_line-blue,
.iradio_line-blue {
  background: #b25c8b;
}

.icheckbox_square-blue,
.iradio_square-blue {
  background-image: url('../../../shared/icheck/blue/images/purple.png');
}

header#main_header a#logo {
  background-image: url("../../../fe/img/logo-header-darkpurple.png");
}

header#main_header.smaller a#logo {
  background-image: url('../../../fe/img/logo-header-darkpurple.png');
}

footer a#flogo {
  background-image: url('../../../fe/img/logo-header-darkpurple.png');
}

.f-logo {
  margin-top: 10px;
}

.login-page .tabs-style-topline nav li.tab-current a {
  background: white;
  box-shadow: inset 0 3px 0 #b25c8b;
  color: #b25c8b;
}

.login-page .tabs-style-topline nav li.tab-current a {
  background: white;
  box-shadow: inset 0 3px 0 #b25c8b;
  color: #b25c8b;
}

.user-form input[type="text"]:focus,
.user-form input[type="email"]:focus,
.user-form input[type="password"]:focus,
.user-form textarea:focus {
  background: none repeat scroll 0 0 #fff;
  box-shadow: 0 0 0 3px #b25c8b,0 2px 3px rgba(0,0,0,0.2) inset,0 5px 5px rgba(0,0,0,0.15);
  outline: medium none;
}

span.input-signin button.search-button.form-button {
  background-color: #b25c8b;
  box-shadow: 0 0 0 3px #b25c8b,0 0 0 rgba(0,0,0,0) inset,0 0 0 rgba(0,0,0,0);
  color: white;
}

span.input-signin button.search-button.form-button:hover {
  background-color: transparent;
  color: #b25c8b;
}

span.input-signin button.search-button.form-button:hover::before {
  color: #fff;
  border-right: 1px solid #fff;
}

span.input-signin button.search-button.form-button:hover::before {
  color: #fff;
  border-right: 1px solid #fff;
}

.blued {
  color: #b25c8b;
}

#auth-register-form h4 {
  color: #b25c8b;
}

.sb-search {
  background-color: #b25c8b;
}

.sb-icon-search {
  color: #fff;
  background: #b25c8b;
}

#uploader a.browse i,
#uploader a.start i,
#uploader .section-top-bar .sb-icon-search {
  background: #b25c8b;
}

header nav a:hover {
  color: #b25c8b;
}

.navbar .nav .active i {
  color: #b25c8b;
}

.navbar-default .navbar-toggle {
  background: #b25c8b;
}

.small-thumbs .profile_image .channel_name:hover {
  color: rgba(255,255,255,0.8);
}

.thumbs-wrapper:hover,
.thumbs-wrapper.thumb-selected:hover {
  border-color: #b25c8b;
}

.viewType .viewType_btn.active [class^="icon-"],
.viewType .viewType_btn.active [class*=" icon-"] {
  color: #b25c8b;
}

.watch_later_holder {
  border-top: 50px solid #b25c8b;
  border-left: 50px solid transparent;
}

.watch_later span {
  color: #fff;
  text-align: center;
  border: 4px solid #b25c8b;
  background: #b25c8b;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.watch_later span:after {
  border-top: 9px solid #b25c8b;
}

.section-top-bar {
  background: #f8f8f8;
  color: #505050;
  border-top: 3px solid #b25c8b;
  border-bottom: 3px solid #f4f4f4;
}

.big-thumbs .vs-column [class^="icon-"],
.big-thumbs .vs-column [class*=" icon-"] {
  color: #b25c8b;
}

.small-thumbs .vs-column [class^="icon-"],
.small-thumbs .vs-column [class*=" icon-"] {
  color: #b25c8b;
}

.full-thumbs .vs-column [class^="icon-"],
.full-thumbs .vs-column [class*=" icon-"] {
  color: #b25c8b;
}

.open-close-links .iconBe-popin,
.open-close-links .iconBe-popout,
.open-close-links .icon-play,
.open-close-links .icon-power-off,
.open-close-links .iconBe-floppy-disk {
  color: white;
  background: #b25c8b;
}

#paging-bottom #pag-list .pag-wrap a.current {
  background: #b25c8b;
  color: white;
}

#footer_news .news_date {
  color: #b25c8b;
}

.upload_bg a {
  background: #c079a0;
  color: #fff;
}

.jssort11-170-96 .pav .i {
  border: #c079a0 3px solid;
}

.playlist-carousel .watch_later_holder {
  border-top: 40px solid #c079a0;
  border-left: 40px solid transparent;
}

.now-running .thumbs-wrapper {
  border-color: #c079a0;
}

.playlist_holder i.icon-playlists {
  color: #c079a0;
  text-shadow: 0 0 5px #c079a0;
}

.playlist_holder i.icon-playlists {
  color: #c079a0;
  text-shadow: 0 0 5px #c079a0;
}

.icheckbox_line-blue.checked,
.iradio_line-blue.checked {
  background: #c079a0;
}

.switch-light .switch-label:after {
  color: #c079a0;
}

.switch-light .switch-input:checked ~ .switch-label {
  background: #FFF;
  border-color: #c079a0;
}

.switch-light .switch-input:checked ~ .switch-handle {
  box-shadow: none;
  background: #c079a0;
}

#user-nav-menu .dl-trigger {
  background-color: #c079a0;
  color: #fff;
}

.fe .dl-trigger:not(#entry-action-buttons .dl-trigger) {
  background: #c079a0;
  color: white;
}

.channel li:nth-child(2) {
  color: #b96a95;
}

.profile_count a {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #b96a95;
  color: white;
}

.subscribers {
  background: #b96a95;
}

.inline_button:hover,
.inline_button:hover i {
  box-shadow: 0 0 0 rgba(0,0,0,0.0);
  color: #b96a95;
}

.jssort11-170-96 .i,
.jssort11-170-96 .pav:hover .i {
  border: #b96a95 3px solid;
}

.sb-search.sb-search-open .sb-icon-search,
.sb-search-fe.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search,
.no-js .sb-search-fe .sb-icon-search {
  background: #343434;
  color: #fff;
}

.tpl_view .profile_count a {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #b96a95;
  color: white;
  display: block;
}

.action_buttons a:hover,
.action_buttons a.active {
  color: #b96a95;
}

.likey:hover .sh_button {
  color: #b96a95;
}

.dislikey:hover .sh_button {
  color: #b96a95;
}

.comments_actions button,
.symbol-button {
  background: #b96a95;
  color: white !important;
}

.inline_button:hover,
.inline_button:hover i {
  color: #b96a95;
}

.comment_h button:not(.reply-comment-button):hover {
  color: #b96a95;
}

.blue .accordion#video-accordion a.active {
  background: #b96a95;
  color: #fff;
}

.comment-rating.conf-green {
  color: green;
}

.tpl_view .subscribers {
  background: #b96a95;
}

.but_upload {
  background: #b96a95;
  color: #f7f7f7;
}

.more-button {
  background: #b96a95;
  color: #fff;
  border: 0 solid #f0f0f0;
}

header.smaller .navbar .nav>li>a:hover {
  color: #b96a95;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: #b96a95;
}

small-thumbs .thumbs-wrapper .vs-column span.credits {
  background-color: #b96a95;
}

.full-thumbs .thumbs-wrapper .vs-column span.credits {
  background-color: #b96a95;
}

#user-nav-menu .dl-trigger.dl-active {
  background-color: #b96a95;
}

.tagcloud a:hover {
  background: #b96a95;
  color: #fff;
}

.follow-twitter {
  border: 1px solid #b96a95;
}

.follow-twitter:hover {
  background: #b96a95;
  color: #fff;
}

.fe button.dl-trigger:hover {
  background: #b96a95;
}

.fe .dl-menuwrapper .dl-menuopen li a:hover,
.fe .dl-menuwrapper .dl-menuopen li a:active,
.fe .dl-menuwrapper .dl-menuopen li a:focus {
  background: #b96a95;
  color: #fff;
}

.fe .menu-drop .dl-menuwrapper button.dl-active {
  background: #b96a95;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.profile_count a:hover {
  background: #c079a0;
}

.more-button:hover {
  background: #c079a0;
}

.but_upload:hover {
  background: #c079a0;
}

.comments_actions button:hover,
.symbol-button:hover {
  background: #c079a0;
}

.blue .accordion#video-accordion a:hover {
  background: none repeat scroll 0 0 #c079a0;
  color: #fff;
}

a {
  color: #924c72;
}

section.color {
  background-color: #924c72;
  color: white;
}

.dr-menu.dr-menu-open>div .dr-icon {
  color: #924c72;
}

.dr-menu>div .dr-label {
  color: #924c72;
}

.dr-menu ul li a:hover {
  color: #924c72;
}

a:hover {
  color: #b25c8b;
}

.footer_menu a:hover,
.footer_menu a.active,
.dark .footer_menu a:hover,
.dark .footer_menu a.active {
  color: #723b59;
}

@media (max-width:920px) {
  .tpl_view .dl-trigger:not(.tpl_view #user-nav-menu .dl-trigger) {
    background: #c079a0;
    border: 0;
    color: white;
    padding: 7px 15px;
    margin-right: 10px;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }

  .comments_actions button,
  .symbol-button {
    background: #b96a95;
    border: 0;
    color: white;
    padding: 7px 15px;
    margin-right: 10px;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
}

@media (max-width:768px) {
  .tpl_index .content-wrap {
    background: url('../../img/home/player_back_small_dark_purple.jpg') no-repeat;
  }
}

@media (max-width:678px) {
  .nav-collapse .nav>li>a:hover,
  .nav-collapse .dropdown-menu a:hover {
    background: #b96a95;
    color: white;
    text-shadow: 0 0 5px #b25c8b;
  }

  .navbar .nav>.active>a,
  .navbar .nav>.active>a:hover,
  .navbar .nav>.active>a:focus {
    background: #b96a95;
    color: white;
    text-shadow: 0 0 5px #b25c8b;
  }

  .navbar-default .navbar-nav>li>a:hover,
  .navbar-default .navbar-nav>li>a:focus {
    background: #b96a95;
    color: white !important;
    text-shadow: 0 0 5px #b25c8b;
  }
}

@media all and (max-width:640px) {
  header#main_header a#logo,
  header#main_header.smaller a#logo {
    background-image: url("../../img/logo-symbol-purple.png") !important;
    background-size: 43px 36px;
  }
}

@media all and (max-width:600px) {
  #info-bar span.all-tutorials {
    border-bottom: solid 1px #723b59;
  }
}

@media (max-width:517px) {
  .upload_bg a {
    background: #c079a0;
    color: #fff;
    padding: 4px 40px;
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-bottom: 15px;
  }
}

#no-session-accordion2 li.menu-panel-entry-active a i,
#session-accordion li.menu-panel-entry-active a i,
#session-accordion li.main-menu-panel-entry-active a i,
a.linkified,
.p-d-txt a {
  color: #b25c8b;
}

.owl-dot.active {
  background: #b25c8b;
}

.watch_later span:before,
.watch_later span:after {
  bottom: 1px;
  left: 84%;
  border-bottom: 9px solid #00000000;
  border-left: 9px solid #b25c8b;
  border-right: 0 solid #b25c8b;
  border-top: 9px solid #00000000;
}

.watch_later_holder i {
  background-color: #b25c8b;
}

.blue .accordion .menu-panel-entry.menu-panel-entry-active a.dcjq-parent.active,
.blue .accordion .menu-panel-entry.menu-panel-entry-active a.dcjq-parent,
.blue .accordion a.dcjq-parent.active,
.blue .accordion a.selected,
#categories-accordion a.dcjq-parent.active,
.blue .accordion a.selected.active,
.blue .accordion a.selected.active:hover,
#session-accordion #categories-accordion a.dcjq-parent.active,
.blue .accordion #message-menu-entry7-sub-entries .menu-panel-entry.menu-panel-entry-active a.dcjq-parent,
.blue .accordion #message-menu-entry2-sub-entries .menu-panel-entry.menu-panel-entry-active a.dcjq-parent {
  background-color: #b25c8b;
  color: #fff;
}

#categories-accordion a i,
#categories-accordion a.selected i,
#no-session-accordion a.active:hover i {
  background-color: #b25c8b;
}

.play-btn:hover::before {
  border-left-color: #b25c8b;
}
