/* account */
.tpl_account .line {
}
.tpl_account .button-blue {
	line-height: 0.1em;
	font-size: 12px;
	font-weight: normal;
	
}
.pinfo p {
	font-size: 14px;
	line-height: 20px;
}
.account-stats {
	padding: 0 0px;
}
.account-stats h2 {
	color: #000;
	font-weight: bold;
	padding: 5px 0px;
}
.account-stats h3 {
	color: #909090;
    font-size: 14px;
}
.account-stats .label {
	color: #8f8f8f;
}
.account-date {
	margin-top: 0px;
    margin-bottom: 10px;
	border-bottom: 0px solid #f0f0f0;
	font-size: 14px;
}
.account-sub {
    margin-bottom: 20px;
}
.imageChange {
    text-align: center;
}
.sub-small {
	font-size: 12px;
	line-height: 1;
}
.l.live {
	background-color: #9932CC;
}
.l.video {
	background-color: #06a2cb;
}
.l.image {
	background-color: #f28410;
}
.l.audio {
	background-color: #dd1e2f;
}
.l.doc {
	background-color: #199900;
}
.l.blog {
	background-color: #00997A;
}
.l.subs {
	background-color: #85bb65;
}
.channel {
    line-height: 16px;
}
.channel li {
	display: inline-block;
    font-size: 13px;
}
.channel li:nth-child(2) {
    color: #7abbec;
    margin-left: 4px;
}
.l .l1, .l .l2, .l .l3 {
	padding: 0px;
	line-height: 1;
	text-align: center;
	color: #fff;
}
.l.channel  .l1, .l.channel  .l2, .l.channel  .l3 {
    padding: 0px;
    line-height: 1;
    text-align: center;
    color: #505050;
}
.l .l1 {
    margin-top: 10px;
}
.l .l1 i {
    font-size: 22px;
}
.l .l2 {
    margin-top: 5px;
    margin-bottom: 7px;
}
.l .l3 i {
	font-size: 16px;
}
.l .l3 {
	margin-top: 5px;
	margin-bottom: 10px;
    font-size: 16px;
}

.uProgress {
    position: relative;
    width: 100%;
    height: 25px;
    background-color: #ccc;
}
.uBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: green;
}
.uLabel {
    text-align: center;
    line-height: 25px;
    color: white;
    z-index: 99999;
    position: absolute;
    right: 0;
    padding-right: 10px;
    font-size: 12px;
}
.sub-renew {
	line-height: 1;
}
.pl {
	font-size: 12px;
    position: absolute;
    z-index: 1;
    color: white;
    padding-left: 10px;
    line-height: 25px;
}
.user-thumb-xlarge img {
    max-width: 100%;
    display: block;
    background-color: #fff;
    border-radius: 100%;
    width: 100%;
    max-width: 200px;
}
.account-date {}
