.login-page-old {
    width: 480px;
    position: relative;
    margin: 0 auto;
    left: 30%;
    margin-left: -240px;
    padding: 20px 0
}

.login-margins {
    margin: 20px
}

.promo-list li {
    width: 60%;
    margin: 0 auto;
    font-size: 14px;
    color: #777;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle
}

.promo-list li i {
    margin-right: 5px;
    color: #444
}

.login-page .user-form article {
    text-align: left
}

#password-recovery-form article h3 {
    text-align: left;
    display: block
}

.login-page .tabs .content-title {
    padding-left: 0
}

.login-page .content-title [class^="icon-"] {
    margin-right: 0
}

.form-buttons {
    margin-bottom: 0;
    margin-top: 15px
}

.login-page .outer-border-wrapper {
    border: 1px solid rgba(40,44,42,0.1);
    background: white;
    padding: 0 20px;
    border-top: 0
}

.login-page.payment-page {
    padding-top: 0
}

.user-form {
    line-height: initial
}

.user-form .row {
    display: block;
    width: 100%
}

.user-form .input-signin {
    width: 100%
}

.user-form a {
    color: #000
}

.login-page .tabs-style-topline nav li.tab-current a {
    background: white;
    box-shadow: inset 0 3px 0 #06a2cb;
    color: #06a2cb
}

.user-form .label-signin,.user-form span.input-signin.top-padding2 {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px
}

.user-form .line {
    margin-bottom: 10px
}

.user-form input[type="text"],.user-form input[type="email"],.user-form input[type="password"] {
    background: none repeat scroll 0 0 #f5f5f5;
    border: medium none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1) inset;
    clear: both;
    font-size: .75rem;
    margin-bottom: 5px;
    padding: 15px;
    width: 100%
}

.user-form input[type="text"]:focus,.user-form input[type="email"]:focus,.user-form input[type="password"]:focus,.user-form textarea:focus {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 0 0 2px #06a2cb,0 2px 3px rgba(0,0,0,0.2) inset,0 5px 5px rgba(0,0,0,0.15);
    outline: medium none
}

span.input-signin button.search-button.form-button {
    background-color: #06a2cb;
    box-shadow: none;
    color: white;
    cursor: pointer;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-left: 4px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px;
    transition: all .3s ease 0s;
    width: 40%;
    border: 0
}

span.input-signin button.search-button.form-button.fb-login-button {
    background-color: #3b5998;
    box-shadow: none
}

span.input-signin button.search-button.form-button.fb-login-button:hover {
    background-color: #4669B4;
    color: #fff
}

span.input-signin button.search-button.form-button.fb-login-button:hover::before {
    color: #fff;
    margin-right: 10px;
    border-right: 1px solid #fff
}

span.input-signin button.search-button.form-button.gp-login-button {
    background-color: #dd4b39;
    box-shadow: none
}

span.input-signin button.search-button.form-button.gp-login-button:hover {
    background-color: #E3695A;
    color: #fff
}

span.input-signin button.search-button.form-button.gp-login-button:hover::before {
    color: #fff;
    margin-right: 10px;
    border-right: 1px solid #fff
}

span.input-signin button.search-button.form-button::before {
    font-family: "icomoon";
    content: "\e605";
    color: white;
    margin-right: 10px;
    border-right: 1px solid white;
    padding-right: 10px;
    transition: all .3s ease 0s
}

span.input-signin button.search-button.form-button.auth-check-button::before {
    font-family: "icomoon";
    content: "\e99b"
}

span.input-signin button.search-button.form-button.fb-login-button::before {
    font-family: "icomoon";
    content: "\e648"
}

span.input-signin button.search-button.form-button.gp-login-button::before {
    font-family: "icomoon";
    content: "\ea80"
}

span.input-signin button.search-button.form-button.apply-button::before {
    font-family: "icomoon";
    content: "\f00c"
}

span.input-signin button.search-button.form-button.continue-button::before {
    font-family: "icomoonBe";
    content: "\f03e"
}

span.input-signin button.search-button.form-button:hover {
    background-color: #92cefb;
    color: #fff
}

span.input-signin button.search-button.form-button:hover::before {
    color: #fff;
    margin-right: 10px;
    border-right: 1px solid #fff
}

#r-image,#l-image {
    cursor: pointer
}

#membership_info .ul-disc-list {
    margin-top: 10px
}

#membership_info .ul-disc-list li {
    font-size: 13px
}

#membership_info .ul-disc-list li::before {
    font-family: "icomoon";
    content: "\f00c";
    margin-right: 5px
}

.ul-disc-list .bold {
    font-weight: bold
}

.pk-descr {
    margin-top: 10px;
    font-size: 14px
}

.dark .pk-text {
    color: #fff
}

.pk-text {
    color: #505050
}

.blued {
    color: #06a2cb
}

#auth-register-form h4 {
    font-weight: bold;
    color: #06a2cb;
    margin-bottom: 20px
}

.auth-username-check-response {
    padding: 0 10px 10px 0
}

.err-red {
    color: red
}

.conf-green {
    color: green
}

.hr .inner {
    background: #fff;
    border-radius: 100px;
    display: inline-block;
    width: auto;
    padding: 9px 10px;
    font-size: 15px;
    font-size: 16px;
    font-style: italic;
    line-height: 0
}

.hr {
    box-shadow: 0 1px 0 #fff,transparent 0 0 0;
    border-bottom: 1px solid #ddd;
    margin: 0 auto 40px !important;
    position: relative;
    height: 8px;
    text-align: center;
    line-height: initial
}

.tpl_signin .hr {
    padding-top: 20px
}

#reset-password-button {
    max-width: 150px;
    margin-top: 20px
}

