@media(min-width:480px) {
    .container-push {
        width: 70.33333333%;
        float: left
    }

    .nav-col {
        width: 29.66666667%;
        float: left
    }
}

@media(min-width:680px) {
    .container {
        width: 720px
    }

    .navbar-header {
        float: left
    }

    .navbar {
        border-radius: 4px
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .navbar-collapse.in {
        overflow-y: visible
    }

    .container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse {
        margin-right: 0;
        margin-left: 0
    }

    .navbar-static-top {
        border-radius: 0
    }

    .navbar-fixed-top,.navbar-fixed-bottom {
        border-radius: 0
    }

    .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand {
        margin-left: -15px
    }

    .navbar-toggle {
        display: none
    }

    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px
    }

    .navbar-text.navbar-right:last-child {
        margin-right: 0
    }

    .container-push {
        width: 76.33333333%;
        float: left
    }

    .nav-col {
        width: 23.66666667%;
        float: left
    }
}

@media(min-width:780px) {
    .container-push {
        width: 79.33333333%
    }

    .nav-col {
        width: 20.66666667%
    }
}

@media(min-width:781px) {
    .navbar-nav {
        float: left;
        margin: 0
    }

    .nav>li {
        position: relative;
        display: inline-block
    }

    .navbar-nav>li {
        float: none;
        display: inline-block
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .navbar-nav.navbar-right:last-child {
        margin-right: -15px
    }

    .navbar-left {
        float: left !important
    }

    .navbar-right {
        float: right !important
    }
}

@media(min-width:980px) {
    .container {
        width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        width: 1170px
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-2 {
        width: 16.66666667%
    }
}

@media(max-width:1305px) {
    .tpl_view .full-thumbs .caption {
/*top:45px*/
    }

    .suggested-list .thumbs-wrapper {
        overflow: hidden
    }
}

@media(max-width:1250px) {
/*.tpl_view .full-thumbs .caption{bottom:0}*/    .suggested-list .thumbs-wrapper {
        overflow: visible
    }
}

@media(max-width:1200px) {
    .act-about {
        width: 55%
    }

    .ch-grid li:not(.uunr) {
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 0
    }

    .ch-info p {
        margin: 0 17px
    }

    .ch-info p a {
        display: block;
        padding-top: 0
    }

    .ch-info h3 {
        color: #fff;
        letter-spacing: 1px;
        font-size: 14px;
        margin: 0px;
        padding: 23px 0 0 0;
        height: 60px;
/*width:97px;*/
        text-shadow: 0 0 1px #fff,0 1px 2px rgba(0,0,0,0.3)
    }

    .ch-item {
        box-shadow: inset 0 0 0 5px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.1)
    }

    .share_bg {
        top: 0;
        right: 0
    }

    .watch_bg {
        top: 0;
        left: 0
    }

    .dynamic_container {
        width: 100%
    }

    .caption .vs-column.thirds {
        float: left;
        margin-right: 2%;
        margin-bottom: 0;
        width: 32%
    }

    figure.effect-bigT .profile_image {
        bottom: 1.4em
    }

    figure.effect-bigT .profile_image img {
        width: 35px;
        height: 35px
    }

    figure.effect-bigT .profile_image .channel_name {
        display: inline-block;
        float: left;
        font-size: 11px;
        margin-left: 6px;
        margin-top: 7px
    }

    figure.effect-bigT p {
        top: 2.4em;
        left: 10px;
        text-transform: none;
        font-size: 10px;
        line-height: 14px
    }

    figure.effect-bigT h2 {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .07em
    }

    figure.effect-bigT:hover h2 {
        background: 0
    }

    .thumbs-wrapper .vs-column span {
        font-size: 11px;
        font-family: "Roboto",sans-serif;
        color: white
    }

    .fourths .thumbs-wrapper .vs-column span,.fourths .caption-more .time-lenght {
        font-size: 11px
    }

    .full-thumbs .profile_image img {
        width: 35px;
        height: 35px
    }

    .footer-logo .vs-column.two_thirds {
        width: 100%
    }

    .responsive-accordion-head .greyed-out {
        font-size: 11px;
        margin-left: 0;
        color: #444
    }

    .tpl-messages .responsive-accordion-head .greyed-out {
        margin-left: 5px
    }

    #main-view-mode-approved-video-comments-list .responsive-accordion-head .greyed-out,#main-view-mode-approved-video-responses-list .responsive-accordion-head .greyed-out {
        margin-left: 0
    }

    .ch-grid li:not(.uunr) {
        width: 120px;
        height: 120px;
        display: inline-block;
        margin: 0
    }

    .ch-info p {
        margin: 0 17px
    }

    .ch-info h3 {
        color: #fff;
        letter-spacing: 1px;
        font-size: 14px;
        margin: 0px;
        padding: 25px 0 0 0;
        text-shadow: 0 0 1px #fff,0 1px 2px rgba(0,0,0,0.3)
    }

    .ch-item {
        box-shadow: inset 0 0 0 5px rgba(255,255,255,0.6),0 1px 2px rgba(0,0,0,0.1)
    }

    .share_bg {
        top: 0;
        right: 0
    }

    .watch_bg {
        top: 0;
        left: 0
    }

    .list-view-thumb {
        width: 25%;
        display: inline-block;
        float: left;
        position: relative
    }

    .list-view-details {
        width: 75%;
        display: inline-block
    }

    #left-side .responsive-accordion-default.responsive-accordion li .responsive-accordion-head {
        font-size: 14px
    }

    .vs-column.thirds.embed-info,.vs-column.two_thirds.embed-player {
        width: 100%
    }

    .vs-column.thirds.embed-info .embed-description {
        height: auto !important
    }
}

@media(max-width:1199px) {
    header#main_header a#logo {
        background-size: 200px 36px;
        height: 36px;
        margin-top: 20px;
        margin-left: 14px;
        width: 200px
    }

    .navbar .nav>li>a {
        padding-left: 12px;
        padding-right: 12px
    }
}

@media(max-width:1020px) {
    .container {
        width: 100%
    }

    .tpl_index .full_width .container {
        width: 99%
    }

    .copybar .container {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px
    }
}

@media(max-width:980px) {
    ul.fileThumbs>.vs-column.thirds {
        float: left;
        margin-right: 2%;
        width: 49%
    }

    .related-column ul.fileThumbs>.vs-column.thirds {
        width: 100%
    }

    .caption .vs-column.thirds {
        float: left;
        margin-right: 2%;
        margin-bottom: 0;
        width: 32%
    }

    .fileThumbs .vs-column.thirds:nth-child(3n+0) {
        margin-right: 2%
    }

    .fileThumbs .vs-column.fourths:nth-child(4n+0) {
        margin-right: 0
    }

    .fileThumbs .vs-column.thirds:nth-child(2n+0) {
        margin-right: 0
    }

    .fileThumbs .vs-column.fourths:nth-child(4n+0) {
        margin-right: 0
    }

    figure.effect-bigT .profile_image img {
        width: 50px;
        height: 50px
    }

    figure.effect-bigT .profile_image .channel_name {
        display: inline-block;
        float: left;
        font-size: 13px;
        margin-left: 10px;
        margin-top: 14px
    }

    figure.effect-bigT p {
        top: 2.4em;
        left: 10px;
        text-transform: none;
        font-size: 12px;
        line-height: 18px
    }

    figure.effect-bigT h2 {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .07em
    }

    figure.effect-bigT:hover h2 {
        background: 0
    }

    .thumbs-wrapper .vs-column span {
        font-size: 12px;
        font-family: "Roboto",sans-serif;
        color: white
    }

    .icon-thumbs:before {
        content: "\e62c"
    }

    .icon-thumbs-with-details:before {
        content: "\e627"
    }

    .icon-thumbs.icon-spinner:before,.icon-thumbs-with-details.icon-spinner:before {
        content: "\e620"
    }

    .copybar .left {
        margin-left: 15px
    }

    header#main_header a#logo {
        background-size: 200px 36px;
        height: 36px;
        margin-top: 20px;
        margin-left: 14px;
        width: 200px
    }

    .navbar .nav>li>a {
        padding: 30px 10px 0
    }

    .container_pushed {
        margin-top: 62px
    }

    #import-wrap.container {
        width: 100%
    }
}

@media(max-width:940px) {
    .tpl_channel .channel-tab-list li {
        min-width: 50px;
        max-width: 70px
    }

    .ct-playlist .inner-search .search_holder_fe {
        width: 200px
    }
}

@media(max-width:920px) {
    .inner-search,.search_holder_fe {
        width: 100%
    }

    .ct-playlist .inner-search,.search_holder_fe {
        width: auto
    }

    #sb-search-fe {
        margin-right: 0;
        margin-bottom: 15px
    }

    .ct-playlist #sb-search-fe {
        margin-bottom: 0
    }

    .playlist-carousel .big-thumbs .about i,.related-carousel .big-thumbs .about i {
        margin-top: 0
    }

    .playlist-carousel .big-thumbs h2,.related-carousel .big-thumbs h2 {
        padding: 0 40px 0 0
    }

    .navbar .nav>li>a {
        padding-left: 7px;
        padding-right: 7px
    }

    .addto-action,.addto-action-menu {
        display: inline-block;
        width: auto;
        min-width: auto
    }

    .tpl_view .dl-trigger:not(.tpl_view #user-nav-menu .dl-trigger) {
        background: #3e83b7;
        border: 0;
        color: white;
        padding: 7px 15px;
        margin-right: 10px;
        font-size: 12px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    .comments_actions button,.symbol-button {
        background: #06a2cb;
        border: 0;
        color: white;
        padding: 7px 15px;
        margin-right: 10px;
        font-size: 12px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease
    }

    #download-types button {
        min-width: 200px
    }

    .ct-playlist .inner-search .search_holder_fe {
        width: 170px
    }
}

@media(max-width:890px) {
    .ct-playlist .inner-search .search_holder_fe {
        width: 120px
    }

    .sf .content-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 300px
    }
}

@media(max-width:890px) {
    header#main_header a#logo {
        background-size: 300px 54px;
        position: relative;
        display: inline-block;
        float: none;
        height: 54px;
        margin: 10px 0 0 15px;
        width: 300px
    }

    .spacer {
        height: 180px
    }

    .navbar .nav>li>a {
        padding: 30px 13px 0
    }

    .navbar-header {
        float: none;
        display: block;
        width: 100%;
        text-align: center
    }

    .navbar-right {
        float: none !important;
        text-align: center
    }

    .navbar-nav {
        float: left;
        margin: 0
    }

    .nav>li {
        position: relative;
        display: inline-block
    }

    .navbar-nav>li {
        float: none;
        display: inline-block
    }

    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px
    }
}

@media(max-width:860px) {
    figure.effect-bigT .profile_image img {
        width: 35px;
        height: 35px
    }

    figure.effect-bigT .profile_image .channel_name {
        display: inline-block;
        float: left;
        font-size: 11px;
        margin-left: 6px;
        margin-top: 7px
    }

    figure.effect-bigT p {
        top: 2.4em;
        left: 10px;
        text-transform: none;
        font-size: 10px;
        line-height: 14px
    }

    figure.effect-bigT h2 {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .07em
    }

    figure.effect-bigT:hover h2 {
        background: 0
    }

    .thumbs-wrapper .vs-column span {
        font-size: 11px;
        font-family: "Roboto",sans-serif;
        color: white
    }

    .full-thumbs h2,.full-thumbs h3 {
        padding-bottom: 4px;
        padding-top: 5px
    }

    .full-details-holder p {
        line-height: 14px
    }

    .save-entry-button span,.save-entry-button-loading span,.new-entry span,.new-entry-loading span,.thumb-popup span {
        padding-left: 7px
    }

    .tpl_channel .channel-tab-list li span {
        display: none
    }

    .tpl_channel .channel-tab-list li .icon::before {
        line-height: 35px;
        margin: 0
    }
}

@media(max-width:849px) {
    #view-type-content.ct-playlist .inner-search {
        float: none;
        text-align: right
    }

    #view-type-content.ct-playlist .inner-search .search_holder_fe {
        float: right;
        margin-bottom: 13px;
        width: 100%
    }

    #view-type-content.ct-playlist #sb-search-fe {
        margin-right: 0
    }

    .entry-list li.cr-tabs .responsive-accordion-panel a img {
        width: auto
    }

    .entry-list .responsive-accordion-head span.link {
        font-size: 14px
    }
}

@media(max-width:830px) {
}

@media(max-width:810px) {
    .navbar .nav>li>a {
        padding: 30px 7px 0
    }
}

@media(max-width:782px) {
    .spacer {
        width: 100%;
        height: 180px
    }

    .tabs-style-iconbox nav ul li a span {
        display: none
    }

    .tabs-style-iconbox .icon::before {
        font-size: 22px
    }

    .tabs-style-iconbox nav ul li a {
        padding: .7em 0 .5em 0
    }

    .tabs-style-iconbox nav ul li.tab-current a::after {
        top: 52px
    }

    .is-home .full_width {
        padding: 0
    }

    .to-all {
        float: right;
        margin-top: 13px;
        margin-right: 30px;
        font-size: 14px
    }

    .featured_section,.channels_section,.featured_videos {
        padding-top: 0;
        padding-bottom: 0
    }

    .container {
        padding-right: 16px;
        padding-left: 16px
    }

    .l .l2 {
        margin-top: 5px;
        margin-bottom: 7px;
        font-size: 14px
    }

    .list-view-thumb {
        width: 35%
    }

    .list-view-details {
        width: 65%
    }

    .channel-links {
        position: absolute;
        right: 19px;
        top: 181px
    }

    #section-about .vs-column {
        padding-left: 0
    }

    .container_pushed {
        margin-top: 10px
    }

    .sf .content-title {
        width: 100%
    }

    .content-wrap section.content-current:not(#section-about),.content-wrap>.ct-playlist,.content-wrap>#main-content>div:nth-child(-n+4) {
        margin: 0
    }
}

@media(max-width:768px) {
    .vs-column.half,.vs-column.two_thirds,.vs-column.fourths,.vs-column.three_fourths,.vs-column.fifths,.vs-column.two_fifths,.vs-column.three_fifths,.vs-column.four_fifths,.vs-column.sixths,.vs-column.five_sixths {
        float: left;
        margin-right: 0;
        width: 100%
    }

    #right-side .entry-list .responsive-accordion-panel .vs-column.two_thirds {
        width: 65.3333%
    }

    #right-side .entry-list .responsive-accordion-panel .vs-column.two_thirds.embed-player {
        width: 100%
    }

    .category_h .vs-column.sixths,.tags_h .vs-column.sixths {
        float: left;
        width: 30%
    }

    footer .vs-column.fourths {
        display: block
    }

    .caption .vs-column.thirds {
        float: left;
        margin-right: 2%;
        margin-bottom: 0;
        width: 32%
    }

    .social_links {
        display: none
    }

    figure.effect-bigT .profile_image {
        bottom: 2em
    }

    figure.effect-bigT .profile_image img {
        width: 50px;
        height: 50px
    }

    figure.effect-bigT .profile_image .channel_name {
        display: inline-block;
        float: left;
        font-size: 13px;
        margin-left: 10px;
        margin-top: 14px
    }

    figure.effect-bigT p {
        top: 2.6em;
        left: 10px;
        text-transform: none;
        font-size: 12px;
        line-height: 18px
    }

    figure.effect-bigT h2 {
        font-size: 13px;
        font-weight: 700;
        letter-spacing: .07em
    }

    figure.effect-bigT:hover h2 {
        background: 0
    }

    .thumbs-wrapper .vs-column span {
        font-size: 12px;
        font-family: "Roboto",sans-serif;
        color: white
    }

    .small-thumbs h2 [class^="icon-"],.small-thumbs h2 [class*=" icon-"],.small-thumbs h3 [class^="icon-"],.small-thumbs h3 [class*=" icon-"] {
        top: 38%
    }

    #promo-view-mode-2,#main-view-mode-2-recent,#main-view-mode-2-featured,#main-view-mode-2-views,#main-view-mode-2-likes,#main-view-mode-2-comments,#main-view-mode-2-favorites,#main-view-mode-2-responses {
        display: none
    }

    .tpl_channels #promo-view-mode-2,.tpl_channels #main-view-mode-2-recent,.tpl_channels #main-view-mode-2-featured,.tpl_channels #main-view-mode-2-views,.tpl_channels #main-view-mode-2-likes,.tpl_channels #main-view-mode-2-comments,.tpl_channels #main-view-mode-2-favorites,.tpl_channels #main-view-mode-2-responses {
        display: block
    }

    .tpl_index .vs-column.fifths {
        width: 25%
    }

    .icon-thumbs:before {
        content: "\e62b"
    }

    footer .container .vs-column.half {
        width: 100%
    }

    .footer-logo .vs-column.two_thirds {
        width: 47%;
        float: left
    }

    .container_tripushed {
        margin-top: 155px
    }

    .vs-column.thirds.image-holder {
        float: none;
        text-align: center;
        width: 100%;
        display: block
    }

    .video_player_holder_comments img {
        width: 50%
    }

    .tpl_respond .video_player_holder_comments img {
        width: 100%
    }

    .playlist_holder h2 {
        margin-bottom: 0;
        text-align: center
    }

    .playlist_holder .icon-title.li h2 {
        text-align: left
    }

    .video_player_holder_comments .playlist-info {
        display: block;
        text-align: center
    }

    .video_player_holder_comments .playlist-info li {
        float: none;
        display: inline-block
    }/*#playlist-entries-list li div a{font-size:14px}*/    .tpl_home .content-wrap {
        background: url('../img/home/player_back_small.jpg') no-repeat
    }

    .uProgress {
        margin-bottom: 10px
    }

    .account-stats .place-right {
        float: none;
        display: inline-block
    }

    .imageChange {
        text-align: left;
        margin-bottom: 20px
    }

    .copybar .container .vs-column.thirds {
        width: 100%
    }

    .ch-grid .vs-column.fourths {
        width: 50%;
        margin: 0
    }

    #section-about .profile-info-wrap .profile-row .vs-column.half {
        width: auto;
        display: inline-block;
        margin-right: 20px
    }

    #ct-wrapper .ct-entry-list>.vs-column.thirds {
        margin-bottom: 10px;
        width: 100%
    }

    #ct-contact-details-wrap {
        margin-left: 0px;
        margin-bottom: 20px
    }

    .sf div.vs-column.thirds {
        width: 50%;
        margin-right: 0
    }

    .sf div.vs-column.two_thirds {
        width: 50%
    }

    #search-filters .vs-column.fourths {
        width: 50%;
        min-height: 160px
    }

    #import-wrap>div:nth-of-type(1).vs-column.thirds {
        width: 100%
    }

    #left-side .responsive-accordion-default.responsive-accordion li .responsive-accordion-head span {
        width: auto;
        font-size: 16px
    }

    .edit-crop-buttons button,.edit-crop-buttons a {
        width: 100%
    }

    .edit-crop-buttons a {
        text-align: center
    }/*#edit-wrapper .content-title{height:30px;line-height:30px}*/    #edit-wrapper .content-current .content-title {
        height: 47px;
        line-height: 47px
    }

    #edit-wrapper .edit-back {
        margin-top: 3px
    }

    .info-promo .vs-column.half {
        width: 50%
    }

    .promo-list li {
        width: 100%
    }
}

@media(max-width:750px) {
    .comments_activity.response {
        background: #fff;
        padding: 0 0px 0 10px;
        margin-bottom: 0
    }

    .comments_activity.response+.comments_activity.response {
        margin-left: 20px
    }

    .comments_activity.response+.comments_activity.response+.comments_activity.response {
        margin-left: 30px
    }

    .download-buttons li {
        float: left;
        position: relative
    }

    .addto-action,.addto-action-menu {
        display: inline-block;
        width: auto;
        min-width: 200px
    }

    .cbp_tmtimeline>li .cbp_tmlabel h2 {
        font-size: 18px
    }/*.cbp_tmtimeline>li .cbp_tmtime span:last-child{font-size:1.2em}*/
}

@media(max-width:720px) {
    .playlist-carousel .big-thumbs h2,.related-carousel .big-thumbs h2 {
        color: white;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-weight: 700;
        padding: 0 40px 0 5px;
        float: left;
        width: 100%;
        height: 20px;
        overflow: hidden
    }
}

@media all and (max-width:700px) {
    header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center
    }

    header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto
    }

    header nav a {
        line-height: 50px;
        margin: 0 10px
    }

    header.smaller {
        height: 75px
    }

    header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 30px
    }

    header.smaller nav {
        height: 35px
    }

    header.smaller nav a {
        line-height: 35px
    }

    .but_upload {
        float: left;
        margin-left: 0
    }

    .welcome-text {
        display: none
    }

    .related-column .video-content-title {
        display: block !important
    }

    .fixed-width {
        position: relative;
        width: 100%;
        z-index: 1
    }

    .tpl_view .fluid.viewpage {
        float: none
    }

    .tpl_view .fluid {
        float: none;
        margin-left: 0;
        width: 100%
    }

    .channel_image img {
        display: block;
        background-color: #fff;
        border-radius: 100%;
        width: 100%;
        max-width: 100%
    }

    .profile-container aside {
        text-align: center
    }

    .profile_details {
        width: 50%;
        display: inline-block;
        float: none
    }

    .profile_count {
        display: block;
        margin: 0;
        font-size: 11px;
        margin-top: 8px;
        margin-right: 0;
        width: 100%;
        max-width: 100%
    }

    .download-buttons li {
        float: left;
        position: relative
    }

    .addto-action,.addto-action-menu {
        display: inline-block;
        width: auto;
        min-width: auto
    }

    .inner-block {
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 0;
        padding-right: 0
    }
}

@media(max-width:700px) {
    .playlist-carousel .about .icon,.related-carousel .about .icon {
        width: 10%
    }

    .playlist-carousel .about .icon-title,.related-carousel .about .icon-title {
        width: 90%
    }

    .playlist-carousel .big-thumbs .about i,.related-carousel .big-thumbs .about i {
        color: white;
        float: left;
        font-size: 16px;
        margin-left: 6px;
        margin-top: -2px
    }

    .playlist-carousel .big-thumbs h2,.related-carousel .big-thumbs h2 {
        color: white;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-weight: 700;
        padding: 0 40px 0 5px;
        float: left;
        width: 100%;
        height: 20px;
        overflow: hidden
    }

    .navbar .nav.big_nav>li>a {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media(max-width:684px) {
    .container_tripushed {
        margin-top: 90px
    }
}

@media(min-width:680px) and (max-width:979px) {
    .container {
        width: auto
    }

    .navbar .nav {
        margin: 0
    }

    .header_bottom {
        background-color: rgba(255,255,255,0.9);
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        left: 0;
        margin-left: 0;
        z-index: 111;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        overflow: visible
    }

    .list-view-thumb {
        width: 30%
    }

    .list-view-details {
        width: 70%
    }
}

@media(max-width:679px) {
    .navbar-toggle {
        display: none
    }
}

@media(max-width:678px) {
    #main_navbar {
        float: none
    }

    #main_navbar .collapse [class^="icon-"],#main_navbar .collapse [class*=" icon-"],header.smaller #main_navbar .collapse [class^="icon-"],header.smaller #main_navbar .collapse [class*=" icon-"] {
        left: 32px;
        margin-left: 0;
        position: absolute;
        top: 16px;
        bottom: 0;
        -webkit-transition: all 0s;
        -moz-transition: all 0s;
        -ms-transition: all 0s;
        -o-transition: all 0s;
        transition: all 0s
    }

    .small-thumbs h2 [class^="icon-"],.small-thumbs h2 [class*=" icon-"],.small-thumbs h3 [class^="icon-"],.small-thumbs h3 [class*=" icon-"] {
        top: 39%
    }

    .navbar .nav>li>a {
        padding: 0;
        padding-left: 60px;
        line-height: 18px;
        line-height: 50px
    }

    .nav-collapse .nav>li>a:hover,.nav-collapse .dropdown-menu a:hover {
        background: #06a2cb;
        color: white;
        text-shadow: 0 0 5px #06a2cb
    }

    .navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus {
        background: #06a2cb;
        color: white;
        text-shadow: 0 0 5px #06a2cb
    }

    .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
        background: #06a2cb;
        color: white !important;
        text-shadow: 0 0 5px #06a2cb
    }

    .navbar .nav {
        border-top: 1px solid #f1f1f1
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }

    .navbar-nav .open .dropdown-menu>li>a,.navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px
    }

    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 20px
    }

    .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-nav .open .dropdown-menu>li>a:focus {
        background-image: none
    }

    .header_bottom {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0
    }

    header.smaller .navbar .nav>li>a {
        line-height: 40px
    }

    header.smaller .navbar .nav>li>a:hover {
        color: white
    }

    header.smaller #main_navbar .collapse [class^="icon-"],header.smaller #main_navbar .collapse [class*=" icon-"] {
        opacity: 1;
        top: 11px
    }

    .smaller #main_navbar ul.nav li i {
        display: block !important
    }

    header.smaller .navbar .btn-navbar {
        margin-right: 17px;
        margin-top: 21px;
        padding: 7px 5px
    }

    .dynamic_container {
        width: 100%
    }

    .vs-column figure.effect-fullT {
        float: none;
        width: 100%
    }

    .full-thumbs .caption {
        bottom: 0;
        display: block;
        padding: 0 10px;
        position: relative;
        right: 0;
        width: 100%
    }

    .full-details-holder {
        float: none;
        width: 100%
    }

    .fileThumbs .vs-column {
        margin-bottom: 4%
    }

    .navbar .nav.small_nav>li>a {
        padding: 0 0 0 60px
    }

    .navbar .nav.big_nav>li>a {
        padding: 0 0 0 60px
    }

    .menu_pushed .navbar-collapse {
        display: block
    }

    .menu_unpushed .navbar-right {
        float: none !important
    }

    .menu_unpushed .navbar-header {
        float: none !important
    }

    .tabs .content-title {
        padding-left: 25px
    }

    .sidebar-footer {
        height: 0
    }

    .channels-title {
        margin-bottom: 20px
    }

    .navbar-header {
        float: none;
        display: block;
        width: auto;
        text-align: left;
        margin: 0
    }

    header#main_header a#logo {
        background: url(../img/logo-header.png) no-repeat scroll center center transparent;
        background-size: 300px 54px;
        position: relative;
        display: block;
        float: left;
        height: 54px;
        margin: 10px 40px 15px 28px;
        width: 300px
    }

    .navbar-nav>li {
        display: block
    }

    .navbar-right {
        text-align: left
    }

    .spacer {
        width: 100%;
        height: 110px
    }

    .navbar-default .navbar-toggle {
        display: block;
        margin-top: 22px;
        margin-right: 33px
    }

    section p.tagline {
        display: block;
        margin: 0;
        margin-top: -10px
    }

    .to-all {
        float: none;
        margin-top: 13px;
        margin-right: 30px;
        font-size: 13px;
        position: absolute;
        top: 0;
        right: 0
    }
}

@media all and (max-width:622px) {
    .vs-column.thirds.views_count {
        width: auto
    }

    .vs-column.thirds.likedislike {
        float: right;
        width: auto
    }

    .action_buttons a {
        margin-right: -3px
    }

    #search-filters {
        width: 100%
    }

    .sf div.vs-column.thirds,.sf div.vs-column.two_thirds {
        width: 100%
    }

    .sf div.vs-column.two_thirds>div.place-right {
        float: left;
        margin-bottom: 20px
    }
}

@media all and (max-width:600px) {
    .container {
        width: 100%
    }

    #info-bar a {
        display: block
    }

    #info-bar span.all-tutorials,#info-bar span.back-to-tutorial {
        width: 100%
    }

    #info-bar span.all-tutorials,#info-bar span.back-to-tutorial {
        float: none;
        text-align: center
    }

    #info-bar span.all-tutorials {
        border-bottom: solid 1px #0793e2
    }

    .respond_with a span {
        display: none
    }

    .respond_with i {
        top: 3px;
        left: 9px
    }

    .respond_with {
        padding: 0 5px
    }

    .video_player_holder_comments img {
        width: 70%
    }

    .tpl_index .vs-column.fifths {
        width: 33%
    }

    .tpl_channel .channel-tab-list li {
        min-width: 10px;
        max-width: 50px
    }

    .tpl_channel .channel-tab-list li .icon::before {
        margin: 0
    }
}

@media(max-width:560px) {
    .act-tmb {
        width: 100%
    }

    .act-tmb img {
        width: 100%;
        height: auto
    }

    .act-about {
        margin-left: 0;
        width: 100%
    }

    #view-type-content .content-title {
        width: 100%
    }

    #view-type-content section.action {
        float: left
    }

    #subs-popup,#new-upload {
        margin-left: 0
    }

    .tpl_files .ct-playlist #entry-action-buttons .dl-menu {
        margin-left: auto
    }

    .fixed-width {
        float: right;
        position: relative;
        width: 100%;
        z-index: 1
    }

    .fluid.viewpage {
        float: none
    }

    .fluid {
        float: none;
        margin-left: 0;
        width: 100%
    }

    .inner-block {
        margin-left: 0;
        padding: 0
    }

    .blue .accordion {
        margin: 16px
    }

    .tpl_files .mview {
        padding: 0
    }

    .swiper-holder {
        margin: 0 auto 0 auto
    }

    section.filter {
        margin-right: 16px
    }

    #view-type-content section.filter {
        margin-right: 0
    }

    #view-type-content.ct-playlist section.filter {
        margin-bottom: 15px
    }

    #promoListing h3.content-title {
        margin-left: 16px
    }

    .swiper-slide {
        margin-bottom: 0
    }

    .tabs nav {
        margin: 0 auto;
        text-align: center;
        width: 100%
    }

    .footer-logo .vs-column.two_thirds {
        width: 100%;
        float: none
    }

    .playlist-carousel .about .icon,.related-carousel .about .icon {
        width: 11%
    }

    .playlist-carousel .about .icon-title,.related-carousel .about .icon-title {
        width: 89%
    }

    .playlist-carousel .big-thumbs .about i,.related-carousel .big-thumbs .about i {
        color: white;
        float: left;
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
        margin-top: 0
    }

    .action_buttons a {
        margin-right: 6px
    }

    .action_buttons i {
        font-size: 16px
    }

    .action_buttons a {
        width: 30px;
        height: 30px;
        margin-right: 6px;
        line-height: 30px
    }

    .sh_button {
        width: 30px;
        height: 30px;
        margin-left: -3px;
        line-height: 30px;
        font-size: 16px
    }

    .sh_button i {
        padding: 0
    }

    .profile_menu {
        width: 50%;
        display: inline-block;
        float: left
    }

    .respond_with a span {
        display: inline-block
    }

    .respond_with i {
        left: 14px
    }

    .respond_with {
        padding: 0 16px
    }

    .video_player_holder_comments .thirds {
        width: 100%;
        float: none
    }

    .video_player_holder_comments {
        text-align: center;
        margin-bottom: 15px
    }

    .video_player_holder_comments img {
        width: 60%
    }

    #response-list .response-entry {
        font-size: 12px
    }

    #comments-page,#respond-page {
        padding: 0 10px 10px 10px
    }

    #respond-page p.inform.indicate {
        font-size: 12px
    }

    #respond-page .sm-thumb {
        display: none
    }

    ul.fileThumbs>.vs-column.thirds {
        float: none;
        margin-right: 0;
        width: 100%;
        display: block
    }

    .upload_bg {
        width: auto
    }

    .upload_bg h2 {
        font-size: 1.3em
    }

    .upload_bg a {
        padding: 7px 30px
    }

    .tabs .content-title {
        padding-left: 10px
    }

    .content-wrap section.filter {
        margin-right: 0
    }

    .list-view-details {
        padding-left: 20px
    }

    .tpl_channels .list-view-details {
        padding-left: 10px
    }

    .tpl_channels section.filter,.tpl_search section.filter {
        display: none
    }

    .no-content {
        margin-left: 0
    }
}

@media(max-width:548px) {
    .tpl_channel .act-about {
        margin-left: 0
    }

    .tpl_channel .act-tmb {
        width: 100%;
        display: block
    }

    .msg-buttons button span {
        font-size: 12px
    }
}

@media(max-width:517px) {
    .upload_bg a {
        background: #3e83b7;
        color: #fff;
        padding: 4px 40px;
        margin: 0 auto;
        display: block;
        width: 50%;
        margin-bottom: 15px
    }

    .upload_bg {
        position: relative;
        display: inline-block;
        background: url('../img/home/upload_bg.png') no-repeat center 146px;
        width: 100%;
        min-height: 246px;
        padding-top: 16px;
        z-index: 2
    }

    .upload_bg h2 {
        margin-bottom: 10px;
        font-size: 18px;
        padding: 0 10px
    }

    .ch-descr {
        display: none
    }
}

@media(max-width:510px) {
    .action_buttons a {
        width: 20px;
        height: 20px;
        margin-right: 6px;
        line-height: 17px
    }

    .sh_button i {
        padding: 0 10px
    }

    .download-buttons li {
        float: left;
        position: relative
    }

    .addto-action,.addto-action-menu {
        display: inline-block;
        width: auto;
        min-width: 200px
    }

    .l.vs-column.thirds {
        width: 100%
    }

    #import-wrap .entry-list .icheck-box.ask {
        width: 110px
    }

    #import-wrap .entry-list .icheck-box.ask div:last-child {
        margin-top: 5px
    }

    #import-wrap #right-side .responsive-accordion-head span.link {
        max-width: 70%
    }
}

@media(max-width:500px) {
    .icheckbox_line-blue,.iradio_line-blue {
        font-size: 12px
    }
}

@media(max-width:480px) and (orientation:landscape) {
    .navbar-fixed-top .navbar-collapse,.navbar-fixed-bottom .navbar-collapse {
        max-height: 200px
    }
}

@media(max-width:480px) {
    .profile-tmp {
        max-height: 120px
    }

    .but_upload {
        padding-left: 24px;
        padding-right: 24px
    }

    .small-thumbs h2 [class^="icon-"],.small-thumbs h2 [class*=" icon-"],.small-thumbs h3 [class^="icon-"],.small-thumbs h3 [class*=" icon-"] {
        top: 37%
    }

    .login-page {
        width: 100%;
        position: relative;
        margin: 0 auto;
        top: 35%;
        left: 0;
        margin-left: 0;
        padding: 20px 0
    }

    .video_player_holder_comments img {
        width: 70%
    }

    .video_player_holder_comments img {
        width: 90%
    }

    .tpl_index .vs-column.fifths {
        width: 50%
    }

    .channel-heading h3 {
        margin: 25px 0 0 0;
        font-weight: bold
    }/*.tpl_channel .channel-subscribe-button{margin:0 0 15px 0;width:225px;float:left}*/    #channel-subscribe .place-left {
        width: 100%;
        display: block;
        float: none
    }

    .tpl_subs .ct-playlist #entry-action-buttons .dl-menu {
        margin-left: -143px
    }

    .promo-list.second {
        display: none
    }

    .info-promo .vs-column.half {
        width: 100%
    }

    .promo-list li {
        width: 50%
    }
}

@media(max-width:471px) {
    #entry-action-buttons {
        margin-right: 5px
    }

    #import-wrap #right-side div.responsive-accordion-panel .vs-column.thirds,#import-wrap #right-side div.responsive-accordion-panel .vs-column.two_thirds {
        width: 100%
    }
}

@media(max-width:469px) {
    .playlist-carousel .about .icon,.related-carousel .about .icon {
        width: 8%
    }

    .playlist-carousel .about .icon-title,.related-carousel .about .icon-title {
        width: 92%
    }

    .playlist-carousel .big-thumbs .about i,.related-carousel .big-thumbs .about i {
        color: white;
        float: left;
        font-size: 16px;
        line-height: 20px;
        margin-left: 6px;
        margin-top: 0
    }

    .playlist-carousel .big-thumbs h2,.related-carousel .big-thumbs h2 {
        color: white;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-weight: 700;
        padding: 0 40px 0 0;
        float: left;
        width: 100%;
        height: 20px;
        overflow: hidden;
        line-height: 20px
    }
}

@media(max-width:467px) {
    #entry-action-buttons {
        margin-right: 0
    }
}

@media(max-width:461px) {
    #view-type-content h3.content-title {
        width: 100%
    }

    #view-type-content section.action {
        float: left
    }

    #view-type-content.ct-playlist section.filter {
        margin-bottom: 15px
    }

    #new-upload {
        margin-left: 0
    }

    #sb-search-fe {
        margin-bottom: 7px
    }
}

@media(max-width:450px) {
    .profile_details,.profile_menu {
        width: 100%;
        max-width: 200px
    }

    .dr-menu {
        margin-bottom: -20px;
        margin-top: 10px
    }

    header#main_header a#logo {
        background-size: 200px 36px;
        height: 36px;
        margin-top: 20px;
        margin-left: 14px;
        width: 200px;
        margin-left: 23px;
        margin-top: 10px;
        margin-right: 0
    }

    .navbar-default .navbar-toggle {
        margin-top: 12px;
        margin-right: 33px
    }

    .spacer {
        width: 100%;
        height: 100px
    }

    .button-grey {
        font-size: 12px;
        font-weight: 700;
        margin-right: 0;
        padding: 10px
    }

    .tpl_messages #add-new-entry .button-grey,#msg-btn-send,#save-contact-btn,.edit-contact.button-grey,.unsel-contact.button-grey,.save-contact.button-grey,.msg-buttons .button-grey {
        width: 100%
    }

    .msg-buttons,.msg-buttons>div.place-left {
        float: none;
        display: block
    }

    .cancel-trigger,.save-entry-button {
        width: 100%;
        text-align: center
    }

    .attach-ct {
        margin-left: 0
    }

    .msg-about {
        width: 50%;
        float: right
    }

    span.input-signin button.search-button.form-button {
        width: 100%
    }

    #import-wrap .entry-list .icheck-box.ask {
        width: 110px
    }

    #import-wrap .entry-list .icheck-box.ask div:last-child {
        margin-top: 5px;
        margin-bottom: 5px
    }
}

@media(max-width:430px) {
    #rc-imageselect,.g-recaptcha,#recaptcha1,#recaptcha2 {
        transform: scale(0.70) !important;
        -webkit-transform: scale(0.70) !important;
        transform-origin: 0 0 !important;
        -webkit-transform-origin: 0 0 !important
    }
}

@media(max-width:420px) {
    .video_player_holder_comments img {
        width: 100%
    }

    .pl-thumb-holder {
        display: block;
        margin: 0;
        float: none
    }

    .pl-thumb-holder a img {
        max-width: 88%
    }

    .pl-entry-info {
        padding-left: 27px;
        padding-right: 6px
    }

    .tpl_files section.filter {
        float: right
    }

    .attach-ct .file-img img {
        height: 70px
    }

    .msg-about {
        font-size: 12px
    }
}

@media(max-width:400px) {
    .but_upload {
        padding-left: 14px;
        padding-right: 14px
    }

    header#main_header a#logo {
        background-size: 200px 36px;
        width: 200px;
        height: 36px
    }

    .small-thumbs h2 [class^="icon-"],.small-thumbs h2 [class*=" icon-"],.small-thumbs h3 [class^="icon-"],.small-thumbs h3 [class*=" icon-"] {
        top: 34%
    }

    .container_wrapper {
        margin-top: 10px
    }

    .spacer {
        width: 100%;
        height: 100px
    }

    .copybar .container {
        text-align: center
    }

    .footer_menu {
        float: none;
        margin-left: 20px
    }

    #lang-menu.dl-menuwrapper .dl-menu {
        width: 100%;
        margin-top: -86px
    }

    #lang-menu ul li {
        float: none
    }
}

@media all and (max-width:390px) {
    .vs-column.thirds.views_count {
        width: auto
    }

    .vs-column.thirds.likedislike {
        float: right;
        width: auto
    }

    .views_count p {
        margin-top: -2px
    }

    .views_counter {
        font-size: 16px;
        font-weight: 500
    }

    .tpl_channels .ch-grid .vs-column.fourths,.tpl_search .ch-grid .vs-column.fifths {
        width: 100%
    }

    .ch-grid li:not(.uunr) {
        width: 175px;
        height: 175px
    }

    .ch-info h3 {
        width: auto;
        height: 65px;
        margin-top: 10px
    }

    .tpl_index .vs-column.fifths,.tpl_channel .ch-grid .vs-column.fifths,#search-filters .vs-column.fourths {
        width: 100%
    }

    #search-filters .vs-column.fourths {
        min-height: auto !important
    }
}

@media all and (max-width:380px) {
    .respond_with a span {
        display: none
    }

    .respond_with i {
        top: 3px;
        left: 9px
    }

    .respond_with {
        padding: 0 5px
    }

    .but_upload span {
        display: none
    }

    .but_upload::before {
        margin-right: 0;
        margin-top: 4px;
        display: inline-block
    }

    .tabs .content-title {
        padding-left: 0;
        font-size: 14px
    }

    .sidebar-container [class^="icon-"],.sidebar-container [class*=" icon-"],.content-title [class^="icon-"],.content-title [class*=" icon-"] {
        margin-right: 4px
    }
}

@media(max-width:362px) {
    #entry-action-buttons {
        margin-right: 10px
    }
}

@media(max-width:360px) {
    .upload_bg a span {
        display: none
    }

    .playlist-carousel .big-thumbs h2,.related-carousel .big-thumbs h2 {
        color: white;
        font-family: "Roboto",sans-serif;
        font-size: 11px;
        font-weight: 700;
        padding: 0 40px 0 5px;
        float: left;
        width: 100%;
        height: 20px;
        overflow: hidden;
        line-height: 20px
    }

    #rc-imageselect,.g-recaptcha,#recaptcha1,#recaptcha2 {
        transform: scale(0.70) !important;
        -webkit-transform: scale(0.70) !important;
        transform-origin: 0 0 !important;
        -webkit-transform-origin: 0 0 !important
    }
}

@media(max-width:350px) {
}

@media all and (max-width:360px) {
    .cd-dropdown ul li span,.cd-dropdown>span,.but_upload {
        font-size: 12px
    }

    .but_upload::before {
        margin-top: 7px
    }

    .search_holder {
        width: 244px
    }

    .cd-dropdown,.cd-select {
        width: 160px
    }

    .cd-dropdown span[class^="icon-"]:before,.cd-dropdown span[class*=" icon-"]:before {
        width: 16px;
        left: 9px
    }

    .cd-dropdown>span span[class^="icon-"],.cd-dropdown>span span[class*=" icon-"] {
        padding: 0 2px 0 19px
    }

    .but_register {
        margin-right: 37px;
        border-right: 1px solid #15507d
    }

    #search_holder {
        width: 79%
    }

    .cd-dropdown>span {
        padding: 0 38px 0 14px
    }

    .cd-dropdown ul li span {
        width: 80%;
        padding: 0 30px 0 33px
    }

    figure.effect-bigT .profile_image {
        bottom: 1.8em
    }

    figure.effect-bigT .profile_image img {
        width: 35px;
        height: 35px
    }

    figure.effect-bigT .profile_image .channel_name {
        display: inline-block;
        float: left;
        font-size: 11px;
        margin-left: 6px;
        margin-top: 7px
    }

    figure.effect-bigT p {
        top: 3.4em;
        left: 10px;
        text-transform: none;
        font-size: 10px;
        line-height: 14px
    }

    figure.effect-bigT h2 {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: .07em
    }

    figure.effect-bigT:hover h2 {
        background: 0
    }

    .thumbs-wrapper .vs-column span {
        font-size: 11px;
        font-family: "Roboto",sans-serif;
        color: white
    }

    .ch-grid .vs-column.fourths {
        width: 100%;
        margin: 0
    }
}

@media all and (max-width:340px) {
    .attach-ct .file-img img {
        height: 50px
    }

    .msg-about {
        float: left
    }

    .tpl_subs .ct-playlist #entry-action-buttons .dl-menu {
        margin-left: -7px
    }

    #rc-imageselect,.g-recaptcha,#recaptcha1,#recaptcha2 {
        transform: scale(0.60) !important;
        -webkit-transform: scale(0.60) !important;
        transform-origin: 0 0 !important;
        -webkit-transform-origin: 0 0 !important
    }
}

@media all and (max-width:324px) {
    .upload_bg a {
        padding: 4px 20px;
        width: 63%;
        margin-bottom: 20px
    }

    .tpl_channel .channel-tab-list li .icon::before {
        font-size: 11px
    }
}

@media all and (max-width:310px) {
    #user-nav-menu .dl-trigger {
        width: 180px
    }
}

@media(max-width: 960px) {
    .ch-info h3 {
        height: 50px;
        padding-top: 30px
    }
}

@media(max-width: 640px) {
    /*.ch-info h3 {
        height: 40px;
        padding-top: 20px
    }*/
}

