<link href="style.css" rel="stylesheet" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">

<style type="text/css">
<!--
.style2 {font-weight: bold; font-size: 16px;}
-->
</style>

{showpage:include/header}
<center>
<table width="95%" style="padding-left: 80px;padding-top: 20px;" align="center">
  <tr>

    <td height="35" align="center"><strong><font color="#0000FF" size="+1">Inout Webmail</font></strong></td>

  </tr>

<tr>
    <td style="padding-left:10px"> <p><br>
      Inout Web Mail is developed by <a href="http://www.inoutscripts.com/" class="mainmenu">InoutScripts</a>. 
        All Rights Reserved solely to InoutScripts. 
        <a href="http://www.inoutscripts.com/terms.php" class="mainmenu">Terms of use</a> are available 
        at inoutscripts.com.<br>
       
        <br>
        <span style="color: green;font-size: 14px;font-weight: bold;"><u>Key People Behind this Software</u></span><br>
        <br>
        <strong>Chief Project Mentor</strong></p>
      <p>          Jacob Baby<br>
          <br>
          <strong>Project Manager  </strong></p>
      <p>          Saneesh Baby<br>
          <br>
          <strong>Programming          </strong> <br>
          <br> Rino George <br>
        Sibin C K<br>
        Albert KP
        </p>
      
      <p><strong>Web Design </strong><br>      
        <br>
          Gokul<br>
         Ginu C Plathottam
            <br>
            <br>
          <strong>Customer Support</strong></p>
            <p>  Jubin Kurian<br>
              Naveen Paul<br></p>
      <br> 
          <BR>
          
          
          Please contact our <a href="http://www.inoutscripts.com/support/" class="mainmenu">Support 
                  Desk</a> for your questions and help requests.<br>
              <BR>
           
      </p></td>

</tr>
<tr><td style="padding-left:10px">
   Disclaimer:
          <br>
<br>
<p>1. Inout Webmail, Inout Scripts and its logos are trademarks of Nesote Technologies (P) Ltd.
<br>
2. Images and videos included in this product at the time of sale are not owned by Inout Scripts or its parent institution unless otherwise mentioned explicitly. The media content (images/videos) are copyright void with Creative Commons Zero (CC0) licenses and they are not considered in the product price.    
</p>
         

</td></tr>
</table>
<br><br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{showpage:include/footer}

	</td>
  </tr>
</table>
</center>
