{showpage:mail/header}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
	
	function starmail(id1,id2,id3,fid,mailid){
		fid=1;

var demo="{$demo}";
if(demo!='demo')
{
$( "#starmail_"+id2).replaceWith('<a id="starmail_'+id2+'" onclick="unstarmail('+id1+','+id2+','+id3+','+fid+','+mailid+')" <img  src="../images/filler.gif" alt="" border="0" align="absmiddle" class="iconsCornner str-y"></a>');
}
$.ajax({

		type: "POST",cache: false,

		url: "{url:(mail/star)}",

		data: {'id1':id1,'id2':id2,'id3':id3,'fid':fid,'mailid':mailid},
		
		success: function(data) { 

if(data=='demo')
{
$(".warningTxt").html("{cfn:getmessage(340)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}
else
{
$(".warningTxt").html("{cfn:getmessage(185)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}

		}
	});


	}

	function unstarmail(id1,id2,id3,fid,mailid){
fid=0;

var demo="{$demo}";
if(demo!='demo')
{
$( "#starmail_"+id2).replaceWith('<a id="starmail_'+id2+'" onclick="starmail('+id1+','+id2+','+id3+','+fid+','+mailid+')" <img  src="../images/filler.gif" alt="" border="0" align="absmiddle" class="iconsCornner str-g"></a>');
}
fid=1;
$.ajax({

		type: "POST",cache: false,

		url: "{url:(mail/star)}",

		data: {'id1':id1,'id2':id2,'id3':id3,'fid':fid,'mailid':mailid},
		
		success: function(data) { 

if(data=='demo')
{
$(".warningTxt").html("{cfn:getmessage(185)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}
else
{
$(".warningTxt").html("{cfn:getmessage(189)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}

		}
	});

}

function markasread(fid,mailid,flg){
		flg=1;

var demo="{$demo}";
if(demo=='demo')
{
$( "#mailread_"+mailid).replaceWith('<div id="mailread_'+mailid+'" class="replyLink floatL"><a onclick="markasunread('+fid+','+mailid+','+flg+')">{cfn:getmessage(75)}</a></div>');
}
flg=0;
$.ajax({

		type: "POST",cache: false,

		url: "{url:(mail/read)}",

		data: {'fid':fid,'mailid':mailid,'flg':flg},
		
		success: function(data) { 

if(data!='demo')
{
$(".warningTxt").html("{cfn:getmessage(340)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}
else
{
$(".warningTxt").html("{cfn:getmessage(183)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}

		}
	});


	}

	function markasunread(fid,mailid,flg){
flg=0;


var demo="{$demo}";
//alert(demo);
if(demo!='demo')
{

$( "#mailread_"+mailid).replaceWith('<div id="mailread_'+mailid+'" class="replyLink floatL"><a onclick="markasread('+fid+','+mailid+','+flg+')">{cfn:getmessage(74)}</a></div>');
}
flg=1;
$.ajax({

		type: "POST",cache: false,

		url: "{url:(mail/read)}",

		data: {'fid':fid,'mailid':mailid,'flg':flg},
		
		success: function(data) { 

if(data=='demo')
{
$(".warningTxt").html("{cfn:getmessage(340)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}
else
{
$(".warningTxt").html("{cfn:getmessage(187)}");
setInterval(function(){ $(".warningTxt").html(""); }, 3000);
}

		}
	});



	}

</script>



<div class="whiteBg">
	<div id="preloadmail_div"  >
		<div class="warningTxt">{$msg}</div>
		
		<div class="mailBox" style="">
		{loopstart:mail:10000}
		<h2>
			{if($fid!=5 && $fid!=4)}
			<a id="starmail_{$mail[0]}" {if($mail[11]==1)} onclick="unstarmail({$mail[13]},{$mail[0]},{$mail[11]},{$fid},{$mailid})"  {elseif($mail[11]==0)}  onclick="starmail({$mail[13]},{$mail[0]},{$mail[11]},{$fid},{$mailid})" {endif}><img  src="../images/filler.gif" alt="" border="0" align="absmiddle" {if($mail[11]==1)} class="iconsCornner str-y" {elseif($mail[11]==0)} class="iconsCornner str-g" {endif}></a>
			{endif}

		{if($subject!="")}{$subject}{endif}</h2>
		
		
		<div class="row" >
		<div class="fromName"><a href="#" class="shdtls">{cfn:getmessage(282)}</a></div>
		</div>
		
		<div class="clear" ></div>
		<div class="row marginT10" ></div>
		
			<div class="row shdtlsdiv"  id="showDetails{loop:mail}" style="display:none">
					<!--detailedList-->
					<div class="detailedList" >{if($mail[13]==3)}{cfn:arrange_ids($mail[3],$mail[4],$mail[5],$mail[8],$mail[6],$mail[2])}{else}{cfn:arrange_ids($mail[3],$mail[4],0,$mail[8],$mail[6],$mail[2])}{endif}
					<a href="#" class="hidedtls">{cfn:getmessage(283)}</a></div>
				</div>
				
				<div class="row marginT10" ></div>
				  	
					<span class="mailContent" id="mail_display_{$mail[0]}" >{noescape:$mail[7]}
			{cfn:getattachment($mail[0],$mail[13])}</span>
				
				
				
				<div class="mailBoxFooter" id="replyFooter1" > 
			
			<span class="mailBoxBM">
			{if($fid!=2)}
				<div class="replyLink floatL"><a href="{url:(mail/replylink/)}{$mail[13]}/{$mail[0]}/r/{$fid}/{$mailid}">{cfn:getmessage(15)}</a></div> 
				<div class="replyLink floatL"><a href="{url:(mail/replylink/)}{$mail[13]}/{$mail[0]}/ra/{$fid}/{$mailid}"> {cfn:getmessage(16)}</a> </div>
				<div class="replyLink floatL"><a href="{url:(mail/replylink/)}{$mail[13]}/{$mail[0]}/f/{$fid}/{$mailid}">{cfn:getmessage(17)}</a></div>
				{else}
				<div class="replyLink floatL"><a href="{url:(mail/replylink/)}2/{$mail[0]}/r/{$fid}/{$mailid}">{cfn:getmessage(26)}</a></div>
				{endif}
				{if($fid!=2 && $fid!=3 && $fid!=4 && $fid!=6)} 	
				<div class="replyLink floatL"><a href="{url:(mail/spam/)}{$mail[13]}/{$mail[0]}/{$pge}">{cfn:getmessage(604)}</a></div> 
				{endif}
				{if($fid!=6)}
				<div class="replyLink floatL"><a href="{url:(mail/maildelete/)}{$fid}/{$mail[0]}/{$pge}">{cfn:getmessage(14)}</a></div> 
				{endif}
				{if($fid!=2)}
{cfn:getreaddetails($fid,$mail[0])}
{endif}<div class="clear"></div>
			</span>  
			 
		</div>
{loopend:mail}



</div><!-- end of mailBox-->

</div>
</div>
{showpage:mail/footer}
