
 {showpage:include/header}

 <script type="text/javascript">
 function passwordStrength(password)

{

        var desc = new Array();
        
        desc[0] = "Very Weak";

        desc[1] = "Weak";
        
        desc[2] = "Good";

        desc[3] = "Strong";
        
  		desc[4] = "Very Strong";


        var score=0;

var val=0; 
/*var logname=document.getElementById("username").value;
if(logname==password)
  {
  score=0;
   document.getElementById("pwdcnt").value=0;   
  document.getElementById("passwordDescription").className ="errordisplay";
   document.getElementById("passwordDescription").innerHTML ="Password cannot be same as username";
   document.getElementById("passwordStrength").className = "strength1";
  }
  else
  {*/
var lower=getlower_count(password);
  var upper=getupper_count(password); 
var num_count=getnumber_count(password);
var special=getspecialch_count(password);
var total=lower+upper+num_count+special;
var length=password.length;
if(length==0)
document.getElementById("pwdcnt").value=0;
var min_passwordlength="{$min_passwordlength}";
if(min_passwordlength==1)
{
if(length<1)
	score=0;
	else if(length==1)
	score=1;
	else if(length==2)
	score=2;
	else if(length==3)
	score=3;
	else if(length>3)
	score=4;
}
else if(min_passwordlength==2)
{
	if(total<2 || length<3)
	score=0;
	else if(total==2 && length==3)
	score=1;
	else if(total<=3 && length>3)
	score=2;
	else if(total<=5 && length>=4)
	score=3;
	else if(length<32 && total>5)
	score=4;
}
else if(min_passwordlength==3)
{
	if(total<3 || length<5)
	score=0;
	else if(total==3 && length==5)
	score=1;
	else if(total<=4 && length>5)
	score=2;
	else if(total<=6 && length>=5)
	score=3;
	else if(length<32 && total>7)
	score=4;
}
else if(min_passwordlength==4)
{
	/*if(total<8 || length<6)

	score=0;
	else if(total==8 && length==6)
	score=1;
	else if(total<=9 && length>7)

	score=2;
	else if(total<=12 && length>=7)
	score=3;
	else if(length<32 && total>13)

	score=4;*/
if(length<8)
	score=0;
	else if(length>=8)
	{
	    //if(lower==0 || upper==0 || num_count==0 || special==0 )
	    //score=0;
	    //else
	    score=4;
	}
	else
	{
	}
}
 
 document.getElementById("passwordDescription").className ="passwordstrength_details";
       document.getElementById("passwordDescription").innerHTML = desc[score];
document.getElementById("pwdcnt").value=score;
document.getElementById("passwordStrength").className = "strength" + score;
//}
}
 
function oripasswordStrength(password)

{

        var desc = new Array();
        
        desc[0] = "Very Weak";

        desc[1] = "Weak";
        
        desc[2] = "Good";

        desc[3] = "Strong";
        
  		desc[4] = "Very Strong";


        var score=0;

var val=0; 
  var s="{$username}";
  if(s==password)
  {
  score=0;
   document.getElementById("pwdcnt").value=0;   
  document.getElementById("passwordDescription").className ="errordisplay";
   document.getElementById("passwordDescription").innerHTML ="Password cannot be same as username";
   document.getElementById("passwordStrength").className = "strength1";
  }
  else
  {
  
var lower=getlower_count(password);
  var upper=getupper_count(password); 
var num_count=getnumber_count(password);
var special=getspecialch_count(password);
var total=lower+upper+num_count+special;
var length=password.length;
if(length==0)
document.getElementById("pwdcnt").value=0;

  var controlpanel="{$controlpanel}";
  if(controlpanel==1)//cpanel
  {

	if(total<3 || length<3)
	score=0;
	else if(total<4 || length<5)
	score=1;
	else if(total<=6)
	score=2;
	else if(total<=8)
	score=3;
	else if(length<32)
	score=4;
  }
   else //plesk or catch all
  {
  if(length>=5)
  total+=1;

	 if(total<1 || length<3)
	score=0;
	else if(total<2 || length<5)
	score=1;
	else if(total<=6)
	score=2;
	else if(total<=8)
	score=3;
	else if(length<32)
	score=4;
 //if password greater than or equal to 5 give 1 point


}





   document.getElementById("passwordDescription").className ="passwordstrength_details";

       document.getElementById("passwordDescription").innerHTML = desc[score];
document.getElementById("pwdcnt").value=score;
document.getElementById("passwordStrength").className = "strength" + score;
}
}
function getlower_count(password)
{
if ( password.match(/[a-z]/))
return 1;
else
return 0;
}
function getupper_count(password)
{
if (password.match(/[A-Z]/) )
return 1;
else
return 0;
}
function getnumber_count(password)
{
 

var numbers = new  Array()

 var l=0;
for(var x = 0,length = password.length; x < length; x++)
 {
    var s = password.charAt(x);
    var flag=0;
    if (isInteger(s))
    {
   
    for(j=0;j<numbers.length;j++)
    {
   
    if(s==numbers[j])
    {
    flag=1;
   
   
    }
   
   
    }
    if(flag==0)
    {
   
    numbers[l]=s;l++;
    }
   
   
}
var t=numbers[l];

}
var v=numbers.length;
if(v>=3)
return 2;
else if(v==2)
return 1;
else if(v==1)
return 1;
else
return 0;
}
function getspecialch_count(password)
{
 

var special = new  Array()

 var l=0;
for(var x = 0,length = password.length; x < length; x++)
 {
    var s = password.charAt(x);
    var flag=0;
    if (isSpclChar(s) )
    {

    for(j=0;j<special.length;j++)
    {
   
    if(s==special[j])
    {
    flag=1;
   
   
    }
   
   
    }
    if(flag==0)
    {
   
    special[l]=s;l++;
    }
   
   
}


}
var v=special.length;

return v;
}

function isSpclChar(s){
var iChars = "!@#$%^&*()+=-[]\\\';,./{}|\":<>?";
                for (var i = 0; i < s.length; i++) {
                                if (iChars.indexOf(s.charAt(i)) != -1) {
                              
                                return true;
                }
                else
                return false;
                                }
}




function isInteger(val)
                {
                   // alert(val.value);
                  if(val==null)
                    {
                    //alert(val);
                    return false;
                    }
                if (val.length==0)
                    {
                   // alert(val);
                    return false;
                    }
                 if (trim(val).length == 0)
                     {
                     return false;
                     }
                for (var i = 0; i < val.length; i++)
                    {
                    var ch = val.charAt(i)
                    if (i == 0 && ch == "-")
                        {
                        continue
                        }
                    if (ch < "0" || ch > "9")
                        {
                        return false
                        }
                    }
                return true;
            }


function checkpasswordStrength()

{
    //alert("ssss");
var checkscore=document.getElementById("pwdcnt").value;
//alert(checkscore);
if(checkscore==0)
{
    //alert("Password must contain a minimum of  8 characters and must include alteast  1 special character,1 numeric,1 uppercase,1 lowercase.Please re-enter password again");

alert("Password must contain a minimum of  8 characters. Please re-enter password again");
 document.getElementById("npassword").value='';  
 document.getElementById("cpassword").value='';
 var f=document.getElementById("npassword");
 f.focus();
}
}

            </script>
            
<table cellpadding="0" cellspacing="0" class="sublink_table">

	 <tr align="center">

    <td>	{showpage:include/userheader}</td>

  </tr>
    <tr>
    <td ><div class="help_desc_cover width80p mgn15auto"><div class="help_desc">Here you may change the password for the user you have selected.</div></div></td>
    </tr>
   <tr>
    <td>
	<div align="right">{showpage:user/userleftpanel/$uid}</div>
	</td>
  </tr>

  </table>	
  
<br /><br />
<center><b><span class="page_title">Change Password</span></b></center>

<br>

{formstart:changepassword:{url:(user/changepassword)}:post}
<table align="center" border="0" width="480px" style="border-top-width: 250px;border-color: #bdbdbd;border-style: solid;border-width: 1px;background-color: #f1f1f1;padding-left: 20px;"  cellpadding="0" cellspacing="0">

<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr>
{if($msg!="")}<td align="center" colspan="2" class="messageerrdisplay">{$msg}</td></tr>{endif}
<tr><td><input type="hidden" name="pwdcnt" id="pwdcnt" value=""></td><td>&nbsp;</td></tr>

<tr><td width="35%">New Password      <span style="color: red">*</span></td><td><input type="password" value="" name="npassword" id="npassword" onkeyup="passwordStrength(this.value)"></td></tr>

<tr><td width="35%">&nbsp;</td>
<td><label  for="passwordStrength" class="passwordstrength_details">Password strength</label><div id="passwordDescription" class="passwordstrength_details">Password not entered</div><div id="passwordStrength" class="strength0"></div>
</td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
<tr><td width="35%">Confirm Password   <span style="color: red">*</span></td><td><input type="password" value="" name="cpassword" id="cpassword"  onKeyUp="checkpasswordStrength();"></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>

<tr><td>&nbsp;</td><td><input type="submit" value="Update" name="update" class="cursor_select"><input type="hidden" name="uid" value="{$uid}" /></td></tr>
<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
</table>


{validate:changepassword:isNotNull("npassword","New password field can't be null")}
{validate:changepassword:isNotShort("npassword",5,"Password strength is weak.Choose another one.")}
{validate:changepassword:isNotNull("cpassword","Comfirm password can't be null")}

{formend:changepassword}

<br /><br /><br />

 {showpage:include/footer}
