{showpage:include/header}
<script language="javascript" type="text/javascript">
function checkfn()
{
var s=0;var check=-1;
var username=document.getElementById("email").value;
if(username=="")
{
alert("Please enter the email account!!!");
document.getElementById("email").focus();
 return false;
}
else
{

//var at = username.lastIndexOf("@");
//if(at>0)
//{
//var dname = username.substring(0,at);

//var ext = username.substring(at,username.length);
//if(ext=="@")
//{
  //alert("Invalid Mail address");
    //document.getElementById("email").focus();
//return false;
//}
//var s=document.getElementById("extension").value;
//if(ext!=s && ext!="")
//{
	//alert(" This is Third party domain name.Please choose valid email address with/without your domain address.");
    //document.getElementById("email").focus();
   // return false;
//}
//username=dname;
//}
s=username.indexOf('@');
if(s>0)

	 {
	  check=0;
      }
      
    s=username.indexOf('#');
      if(s>0)

	 {
	  check=0;
      }
      
  s=username.indexOf('!');
      if(s>0)

	 {
	  check=0;
      }
      
       s=username.indexOf('$');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('%');
      if(s>0)

	 {
	  check=0;
      }
      
     s=username.indexOf('^');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('&');
      if(s>0)

	 {
	  check=0;
      }
      
     s=username.indexOf('*');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('(');
      if(s>0)

	 {
	  check=0;
      }
      
    s=username.indexOf(')');
      if(s>0)

	 {
	  check=0;
      }
      
       s=username.indexOf('-');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('+');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('/');
      if(s>0)

	 {
	  check=0;
      }
      
      s=username.indexOf('=');
      if(s>0)

	 {
	  check=0;
      }
      
       s=username.indexOf(' ');
      if(s>0)

	 {
	  check=0;
      } 
      
       s=username.indexOf('?');
      if(s>0)

	 {
	  check=0;
      }
      
      
  
       s=username.indexOf(',');
      if(s>0)

	 {
	  check=0;
      }
      
    }
    

      if(check==2)
      {
     	alert(" This is Third party domain name.Please choose valid email address with your domain extension.");
      	document.getElementById("email").focus();
      	return false;
      }
      
      if(check==3)
      {
     	alert(" Invalid mail address.");
      	document.getElementById("email").focus();
      	return false;
      }
      
      if(check==0)
      {
      alert("Mail address contain invalid character.");
      document.getElementById("email").focus();
      return false;
      }
      
      else
      {
      
     var min_usernamelength="{$min_usernamelength}";
         if(username.length<min_usernamelength)
      {
      alert("{$minlengtherr}");
      document.getElementById("email").focus();
      return false;
      }
      else if(username.length>32)
      {
      alert("Mail address can't be exceed 32 characters.");
      document.getElementById("email").focus();
      return false;
      }
      
      return true;
      
      }
      
}
</script>

<br />
<table cellpadding="0" cellspacing="0" width="100%" style="padding:10px;">

	 <tr align="center">

    <td>	{showpage:include/reservedmailsheader}</td>

  </tr>

  </table>	
<br>
<div align="center"><font style="color:#0066CC; font-size:18px;">New Reserved Email</font></div>
<div class="help_desc_cover width90p mgn15auto"><div class="help_desc">Here you may edit reserved email.</div></div>
{formstart:newreservedmail:{url:(user/editmail)}:POST}		
		<table cellpadding="0" width="90%" cellspacing="0" align="center" border="0" style="padding: 12px; background-color: #F1F1F1; border-color: #bdbdbd; border-style: solid; border-width: 1px;">	
		    
			<tr>
			  <td valign="top" >&nbsp;</td>
			  <td >&nbsp;</td>
		  </tr>
			<tr>
			  <td valign="top" >Mail Address</td>
			  <td ><input style="width:380px" name="email" type="text" id="email" value="{$mail}" maxlength="200">&nbsp;{cfn:getextension()} <strong><span class="mandatory">&nbsp;*</span></strong></td>

		  </tr>
	<input type="hidden" id="extension" value="{cfn:getextension()}">		
			<tr>
			<td>&nbsp;</td>
			<td valign="middle"><br />
			  <input type="submit" name="update" value="Update" style="height: 25px; width: 80px" onclick="return checkfn()">
			  <br /></td><input type="hidden" name="id" value="{$id}"><input type="hidden" name="oldmail" value="{$oldmail}">
			</tr>	
			<tr>
			  <td valign="top" >&nbsp;</td>
			  <td >&nbsp;</td>
		  </tr>
		</table>
		
 {formend:newreservedmail}	
 
 <br /><br />

{showpage:include/footer}

{validate:newreservedmail:isNotNull("email","Please enter the email account!!!")}
