<html>
<head>
<link rel="stylesheet" href="style1.css" type="text/css"> 
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
</head>

<script language="javascript" type="text/javascript">


</script>

<frameset rows="10%,40%,40%,10%" >
<frame src="{url:(include/header1)}"  scrolling="no" noresize="noresize"/>
<frame src="{url:(user/spamsettings)}" scrolling="no" noresize="noresize"/>
<frame src="{url:(user/spamserversettings)}" scrolling="no" noresize="noresize"/>
<frame src="{url:(include/footer1)}" scrolling="no" noresize="noresize"/>
</frameset>


</html>



