{showpage:include/header}

<script language="javascript" type="text/javascript">
function confirmation(p1)
 {
           var answer = confirm("You are about to delete this article. Press OK to continue.")
           if (answer)
            {
                window.location.href = "{url:(user/deletearticle/)}"+p1;
                
            }

}
</script>

<br>{loopstart:users:1}

<table cellpadding="0" cellspacing="0" width="100%" style="padding:10px;" align="left" bgcolor="">

	 <tr align="center">

        <td>	{showpage:include/userheader}</td>

  </tr>
    <tr>
    <td ><div class="help_desc_cover mgn15auto"><div class="help_desc">Here you may view the profile details of the user. You can also  change the password for the user, view quick statistics about the mailing details of the users. You can also view the inbox, chat, sent, draft, spam, trash of the user from here.</div></div></td>
    </tr>
  <tr>
    <td>
	<div align="right">{showpage:user/userleftpanel/$uid}</div>
	</td>
  </tr>
	
	<tr><td>
			<table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center" style="padding: 0px;" bgcolor=""> 
			<tr><td height="10">&nbsp;</td></tr>
				<tr>
                    <td align="center"><span class="page_title"><b>Details -&nbsp; {$users[2]}</b></span></td></tr>
				<tr><td><br>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#F1F1F1" style="padding-left:20px;">
							
							  <!-- <tr height="50" align="left">
									<td   style="padding-left:px;font-size:16px;padding-top: 10px;" colspan="2"><b>{cfn:getname($users[3], $users[4])} </b></td>
							  </tr>
							  
							   
							   -->
							   
							   <tr height="30" align="left">
									<td  colspan="2">&nbsp;</td>
							  </tr>
							  
							  <tr height="30" align="">
								<td style="padding-left:px;font-weight:bold">Username</td> 
								<td >{$users[1]}</td>
							  </tr>
							  <tr height="30" align="">
								<td style="padding-left:px;font-weight:bold">Name</td> 
								<td >{$users[2]}</td>
							  </tr>
							 <!--  {if($users[4]!="")}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Last Name</td> 
								<td> {$users[4]}</td>
							  </tr>
							 {endif}-->
							  {if($users[3]!=0)}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Date Of Birth</td> 
								<td>{fn:date("j M,Y",$users[3])}</td>
							  </tr>
							  {endif}
							  
							 {if($users[4]!="")}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Created Time</td> 
								<td> {cfn:getusertime($users[4])}</td>
							  </tr>
					   {endif}
							  
							  {if($users[5]!="")}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Country</td> 
								<td>{$users[5]}</td>
							  </tr>{endif}
							  
							   {if($users[6]!=0)}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Time Zone</td> 
								<td>{cfn:gettimezone($users[6])}</td>
							  </tr>{endif}
							  
							   {if($users[7]!="")}
							  <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Alternative E-mail</td> 
								<td>{$users[7]}</td>
							  </tr>{endif}
							  
							   <tr height="30" align="">
								<td  style="padding-left: px;font-weight:bold">Status</td> 
								<td {if($users[8]==1)} class="enable" {else} class="disable" {endif}>{if($users[8]==1)}Active{elseif($users[8]==0)}Inactive{else}Deleted{endif}&nbsp;</td>
							  </tr>
							  
						 <tr height="30" align="left">
									<td  colspan="2">&nbsp;</td>
							  </tr>
							  
						</table>	
			
				 </td>
				</tr>
		   </table>
		    <br />
		   {showpage:include/footer}
		   </td></tr></table>
		  		   {loopend:users}