
 {showpage:include/header}
 <br><br>


<table cellpadding="0" cellspacing="0" class="sublink_table">

	 <tr align="center">

    <td>	{showpage:include/settingsheader}</td>

  </tr>
  </table>
  <center><span class="page_title">Change Password</span></center>
    
<div class="help_desc_cover width80p mgn15auto"><div class="help_desc">Here you may change your password.</div></div>
  <table class="settings_table" cellpadding="0" cellspacing="0" align="center"> 

 

      <tr>

        <td height="25" align="center" colspan="3" ><span id="subheading">Please fill in the following fields to change your password.</span></td>

      </tr>

      <tr>

        <th height="14" colspan="3" >&nbsp;</th>

      </tr>
<tr>
<td align="center" colspan="3" class="disable">{$msg}</td></tr>
     <tr>

	<td  colspan="3" align="center">

	<table cellpadding="0" cellspacing="0" border="0" class="fullwidth">
{formstart:changepassword:{url:(settings/changepassword)}:post}
<br />
 <tr>

				   <td width="31%">&nbsp;</td>

					<td width="16%" align="left">Current Password </td>

					

					<td width="53%"  colspan="2"><input name="password1" type="password" id="password1" > <strong><span class="mandatory">*</span></strong></td>

				  </tr>

				  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>

				  <tr>

				    <td>&nbsp;</td>

					<td align="left">New Password </td>

				   

					<td  colspan="2"><input name="npassword" type="password" id="npassword"> <strong><span class="mandatory">*</span></strong></td>

				  </tr>

				  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>

				  <tr>

					 <td>&nbsp;</td>

					<td align="left">Retype Password</td>

					

					<td  colspan="2"><input name="cpassword" type="password" id="cpassword"> <span class="mandatory">*</span></td>

				  </tr>

				  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>

				  <tr>

				   <td>&nbsp;</td>

					<td>&nbsp;</td>

					<td colspan="2"> <input type="submit" name="Update" value="Change Password" style="height: 25px; width: 140px" class="cursor_select">
{formend:changepassword}

{validate:changepassword:isNotNull("password1","Password field can't be null")}
{validate:changepassword:isNotNull("npassword","New password field can't be null")}
{validate:changepassword:isNotNull("cpassword","Retype password can't be null")}
</td>

  </tr>

  </table>

  </td>

  </tr>

  <tr>

    <td colspan="3">&nbsp;</td>

    </tr>

</table>

<br><br><br>

{showpage:include/footer}
