{showpage:include/header}

<!-- <script type="text/javascript" src="js/nicEdit.js"></script> -->


<br>
<table cellpadding="0" cellspacing="0" class="sublink_table">

	 <tr align="center">

    <td>	{showpage:include/settingsheader}</td>

  </tr>

  </table>	
	{formstart:edit:{url:(settings/emailsettingsprocess)}:POST}
	
			<table class="fullwidth"  cellpadding="0" cellspacing="0" align="center" >  
			<tr><td colspan="2">&nbsp;</td></tr>
				<tr>	
				<td  colspan="2" align="center" class="page_title">{showpage:include/emailsettingsheader}</td></tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>	
				<td  colspan="2" align="center" class="page_title"><b>Welcome Mail</b></td></tr>
                <tr>
                <td>&nbsp;</td>
                 <td ><div class="help_desc_cover width90p mgnT15"><div class="help_desc">Here you may configure the welcome mail content for the users.</div></div></td>
                </tr>

				<tr><td colspan="2">&nbsp;</td></tr>
				<tr><td style="padding-left: 60px"><b>Subject</b> </td><td><input style="width:380px" name="welcomesubject" type="text" value="{$welcomesubject}"></td></tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr><td style="padding-left: 60px"><b>Message</b> </td><td>
				
		
					<textarea id="welcomemessage" name="welcomemessage" style="width: 100%;height: 300px;">{$welcomebody}</textarea>		
			
				 </td>
				</tr>
				 <tr><td colspan="2">&nbsp;</td></tr>
				 <tr>
				
				<td>&nbsp;</td><td><input type="submit" name="Update" value="Update"></td>
			</tr>	
			<tr><td colspan="2">&nbsp;</td></tr>
		   </table>
		  	<script type="text/javascript">
//Replace the <textarea id="editor1"> with a CKEditor
// instance, using default configuration.
CKEDITOR.replace( 'welcomemessage' );
CKEDITOR.config.width="90%";
CKEDITOR.config.allowedContent = true;

//bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>	

{validate:edit:isNotNull("welcomesubject","Subject cannot be left blank.")}
{validate:edit:isNotNull("welcomemessage","Message cannot be left blank.")}
{formend:edit}
{showpage:include/footer}



