 {showpage:include/header}

<table cellpadding="0" cellspacing="0" class="sublink_table">
	<tr align="center">

		<td>{showpage:include/settingsheader}</td>

	</tr>
	<tr align="center"><td>&nbsp;</td></tr>
</table>

 
  <font class="page_title"><center>External SMTP Settings</center></font>
<br>
	<table class="settings_table" cellpadding="0" cellspacing="0" align="center" border="0">	
	
	
	<tr style="height: 2px;padding: 0px;margin: 0px;">
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
					</tr>
					
		    		<tr>
						
						<td align="center" colspan="4"><b>Manage External SMTP Settings </b></td>
					</tr>
					 <tr style="height: 2px;padding: 0px;margin: 0px;">
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
					</tr>
					
					
					
					
	
	 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
{formstart:todolistsettings:{url:(todolist/smtpsettings)}:post}


 <tr>

				   <td width="20%">&nbsp;</td>
					<td width="26%" align="center">External SMTP</td>

					

					<td width="53%"  colspan="2"><input type="radio" name="todo" value="1" {if($todolist==1)} checked="checked" {endif}><span class="boldTxt">Enable</span</td>

				  </tr>

				  <tr>

				  <td width="20%">&nbsp;</td>
	<td width="16%" align="left">&nbsp;</td>
					
<td width="53%"  colspan="2"><input type="radio" name="todo" value="0" {if($todolist==0)} checked="checked" {endif}><span class="boldTxt">Disable</span></td>
					</tr>

  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
					


 <tr>

					
				
					 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
					
				  <tr>

				   <td>&nbsp;</td>

					<td>&nbsp;</td>

					<td colspan="2"> <input type="submit" name="submit" value="Submit" class="buttonstyle"></td>



{formend:todolistsettings}


  </tr>
 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
  </table>

  
<br><br><br>

{showpage:include/footer}
