<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
<script type="text/javascript" language="javascript">
function echeck(str) {

		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    alert("{cfn:getmessage(159)}")
		    return false
		}

		 if (str.indexOf(at,(lat+1))!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.indexOf(dot,(lat+2))==-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }
		
		 if (str.indexOf(" ")!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

 		 return true					
	}
	
	function checkDomain(nname)
{

var arr = new Array(
'.com','.net','.org','.biz','.coop','.info','.museum','.name',

'.pro','.edu','.gov','.int','.mil','.ac','.ad','.ae','.af','.ag',
'.ai','.al','.am','.an','.ao','.aq','.ar','.as','.at','.au','.aw',

'.az','.ba','.bb','.bd','.be','.bf','.bg','.bh','.bi','.bj','.bm',
'.bn','.bo','.br','.bs','.bt','.bv','.bw','.by','.bz','.ca','.cc',

'.cd','.cf','.cg','.ch','.ci','.ck','.cl','.cm','.cn','.co','.cr',
'.cu','.cv','.cx','.cy','.cz','.de','.dj','.dk','.dm','.do','.dz',

'.ec','.ee','.eg','.eh','.er','.es','.et','.fi','.fj','.fk','.fm',
'.fo','.fr','.ga','.gd','.ge','.gf','.gg','.gh','.gi','.gl','.gm',

'.gn','.gp','.gq','.gr','.gs','.gt','.gu','.gv','.gy','.hk','.hm',
'.hn','.hr','.ht','.hu','.id','.ie','.il','.im','.in','.io','.iq',

'.ir','.is','.it','.je','.jm','.jo','.jp','.ke','.kg','.kh','.ki',
'.km','.kn','.kp','.kr','.kw','.ky','.kz','.la','.lb','.lc','.li',

'.lk','.lr','.ls','.lt','.lu','.lv','.ly','.ma','.mc','.md','.mg',
'.mh','.mk','.ml','.mm','.mn','.mo','.mp','.mq','.mr','.ms','.mt',

'.mu','.mv','.mw','.mx','.my','.mz','.na','.nc','.ne','.nf','.ng',
'.ni','.nl','.no','.np','.nr','.nu','.nz','.om','.pa','.pe','.pf',

'.pg','.ph','.pk','.pl','.pm','.pn','.pr','.ps','.pt','.pw','.py',
'.qa','.re','.ro','.rw','.ru','.sa','.sb','.sc','.sd','.se','.sg',

'.sh','.si','.sj','.sk','.sl','.sm','.sn','.so','.sr','.st','.sv',
'.sy','.sz','.tc','.td','.tf','.tg','.th','.tj','.tk','.tm','.tn',

'.to','.tp','.tr','.tt','.tv','.tw','.tz','.ua','.ug','.uk','.um',
'.us','.uy','.uz','.va','.vc','.ve','.vg','.vi','.vn','.vu','.ws',

'.wf','.ye','.yt','.yu','.za','.zm','.zw');

var mai = nname;
var val = true;

var dot = mai.lastIndexOf(".");
var dname = mai.substring(0,dot);

var ext = mai.substring(dot,mai.length);
//alert(ext);

if(dot>2 && dot<57)
{
	for(var i=0; i<arr.length; i++)
	{
	  if(ext == arr[i])
	  {
	 	val = true;
		break;
	  }	

	  else
	  {
	 	val = false;
	  }
	}
	if(val == false)
	{
	  	 var msg1="{cfn:getmessage(251)}";
	  	 var msg=msg1.replace("{extension}",ext);
	  	 alert(msg);
	  	
		 return false;
	}
	else
	{
		for(var j=0; j<dname.length; j++)

		{
		  var dh = dname.charAt(j);
		  var hh = dh.charCodeAt(0);
		  if((hh > 47 && hh<59) || (hh > 64 && hh<91) || (hh > 96 && hh<123) || hh==45 || hh==46)
		  {
			 if((j==0 || j==dname.length-1) && hh == 45)	

		  	 {
		 	  	 alert("{cfn:getmessage(252)}");
			      return false;
		 	 }
		  }
		else	{
		  	 alert("{cfn:getmessage(253)}");

			 return false;
		  }
		}
	}
}
else
{
 alert("{cfn:getmessage(254)}");
 return false;
}	

return true;
}
   

function checkfn()
{

var whitelist=document.getElementById("whitelist").value;


var blacklist=document.getElementById("blacklist").value;

if(whitelist=="" && blacklist=="")
{
//alert("{cfn:getmessage(257)}");
//document.getElementById("whitelist").focus();
return true;
}

var ss=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

var checkdomain1=1;var checkmail1=1;var whitelistcount=0;var checkdomain2=1;var checkmail2=1;var blacklistcount=0;

if(whitelist!="")
{

if(whitelist.lastIndexOf(',')==-1)
{
whitelist=whitelist+",";
}

whitelist=whitelist.split(",");
whitelistcount=whitelist.length;


var i=0;

for(i=0;i<whitelistcount;i++)
{
var strcount=whitelist[i].length;var emailflag=0;
for(var j=0;j<strcount;j++)
{
if(whitelist[i].charAt(j)=='@') 
{
emailflag=1;break;
}
else
emailflag=2;
}

if(emailflag==1)
{
if(ss.test(whitelist[i])==false) 
   {
   
   
   	alert("{cfn:getmessage(255)}");
	document.getElementById("whitelist").focus();return false;
   }
	else if(echeck(whitelist[i])==false)
	{
	
		
		document.getElementById("whitelist").focus();return false;
	}
	else
	checkemail1=1;

}

else if(emailflag==2)
{

if(checkDomain(whitelist[i])==false)
{

document.getElementById("whitelist").focus();return false;
}
else
checkdomain1=1;
}

}


}

if(blacklist!="")
{

if(blacklist.lastIndexOf(',')==-1)
{
blacklist=blacklist+",";
}

blacklist=blacklist.split(",");
blacklistcount=blacklist.length;


var i=0;

for(i=0;i<blacklistcount;i++)
{
var strcount=blacklist[i].length;var emailflag=0;
for(var j=0;j<strcount;j++)
{
if(blacklist[i].charAt(j)=='@') 
{
emailflag=1;break;
}
else
emailflag=2;
}

if(emailflag==1)
{
if(ss.test(blacklist[i])==false) 
   {
   
   
   	alert("{cfn:getmessage(256)}");
	document.getElementById("blacklist").focus();return false;
   }
	else if(echeck(blacklist[i])==false)
	{
	
		
		document.getElementById("blacklist").focus();return false;
	}
	else
	checkemail1=1;

}

else if(emailflag==2)
{

if(checkDomain(blacklist[i])==false)
{

document.getElementById("blacklist").focus();return false;
}
else
checkdomain1=1;
}

}


}
 
if(checkdomain1==1 && checkdomain2==1 && checkmail1==1 && checkmail2==1)
{

return true;
}
else
return false;

}

function messageview()
{

var s="{$msg}";
if(s!="")
{
	parent.notify_display(s,"info");
//document.getElementById("msgviewed").style.display="";
//setTimeout("doSomething()",5000);
}
}
function doSomething() 
    {
       document.getElementById('msgviewed').style.display = 'none';
    }

</script>
</head>
<body onLoad="messageview()">
{formstart:antispam:{url:(settings/antispamsettings)}:post}
 <div class="messageTab" id="msgviewed" style="display: none;padding-left: 30px;padding-top: 5px;" align="center">
<span class="messageTabL"></span>
<span class="messageTabM">{$msg}</span>
<span class="messageTabR"></span>
</div>

<div class="antisapm_details_table"> 
<div style="padding-bottom:30px;padding-top:0px;" valign="top"><font class="info_title">{cfn:getmessage(464)}</font></div>
  
<div class="row marginT10">
	<div class="coloum200 floatL"  ><span class="boldTxt">{cfn:getmessage(151)}</span></div><div style="clear:both;"></div>
	<div class="coloum floatL"  style="padding-top:10px;">
		<div class="normalTxt row"> <textarea rows="9" cols="85" name="whitelist" id="whitelist">{$whitelist}</textarea> </div>
		
		<div class="normalTxt row" style="padding-top:5px;"> <span class="notes">{cfn:getmessage(97)}</span> </div>
	</div>
	</div>
<div class="row marginT10" style="padding-top:10px;">
	<div class="coloum200 floatL"  ><span class="boldTxt"> {cfn:getmessage(152)}</span></div><div style="clear:both;"></div>
	<div class="coloum floatL"  style="padding-top:10px;">
		<div class="normalTxt row"> <textarea rows="9" cols="85" name="blacklist" id="blacklist">{$blacklist}</textarea> </div>
		<div class="normalTxt row" style="padding-top:5px;">  <span class="notes">{cfn:getmessage(98)}</span></div>
	</div>
	</div>
</div>

<div id="antispam_setings_submit" class="row marginT10" >
	<div class="coloum200 floatL"   style="width: 54px;"><span class="boldTxt"></span>&nbsp;</div>
	<div class="coloum floatL"  >
		<div class="normalTxt marginL10"> <input type="submit" value="{cfn:getmessage(79)}" name="submit" onClick="return checkfn()" class="cursor_select"> </div>
		<div class="normalTxt marginL10">  </div>
	</div>
	</div>
</div>


</div>
{formend:antispam}
</body>
</html>

<script type="text/javascript">

parent.showPreloadDiv();
parent.showPreloadDivGif();
</script>