
 {showpage:include/header}


<table cellpadding="0" cellspacing="0" class="sublink_table">
	<tr align="center">

		<td>{showpage:include/eventsheader}</td>

	</tr>
</table>
 
  <font class="page_title"><center>Events Settings</center></font>
 <div class="help_desc_cover width80p mgn15auto"><div class="help_desc">Here you may configure Tip of the day and Birthday settings. You may enable/disable these options. If Tip of the day is enabled then users can see the Tip of the day in user side on top of the mail page. If Birthday is enabled then users will be receiving an email wish on their birthday.</div></div> 
               
	<table class="settings_table" cellpadding="0" cellspacing="0" align="center" border="0">	
	
	
	<tr style="height: 2px;padding: 0px;margin: 0px;">
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
					</tr>
					
		    		<tr>
						
						<td align="center" colspan="4"><b>Manage Events Settings </b></td>
					</tr>
        
					 <tr style="height: 2px;padding: 0px;margin: 0px;">
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
							<td style="height: 2px;padding: 0px;margin: 0px;">&nbsp;</td>
					</tr>
					
					
					
					
	
	 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
{formstart:eventsettings:{url:(birthday/eventsettingsprocess)}:post}


 <tr>

				   <td width="20%">&nbsp;</td>
<input type="hidden" name="pwdcnt" id="pwdcnt" value="">
					<td width="26%" align="left">Tip of the Day</td>

					

					<td width="53%"  colspan="2"><input type="radio" name="tip" value="1" {if($tip_ofthe_day==1)} checked="checked" {endif}><span class="boldTxt">Enable</span</td>

				  </tr>

				  <tr>

				  <td width="20%">&nbsp;</td>
	<td width="16%" align="left">&nbsp;</td>
					
<td width="53%"  colspan="2"><input type="radio" name="tip" value="0" {if($tip_ofthe_day==0)} checked="checked" {endif}><span class="boldTxt">Disable</span></td>
					</tr>

  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
					


 <tr>

				   <td width="20%">&nbsp;</td>
<input type="hidden" name="pwdcnt" id="pwdcnt" value="">
					<td width="26%" align="left">Birth Day </td>

					

					<td width="53%"  colspan="2"><input type="radio" name="bday" value="1" {if($birthday_mail==1)} checked="checked" {endif}><span class="boldTxt">Enable</span</td>

				  </tr>

				  <tr>

				  <td width="20%">&nbsp;</td>
	<td width="16%" align="left">&nbsp;</td>
					
<td width="53%"  colspan="2"><input type="radio" name="bday" value="0" {if($birthday_mail==0)} checked="checked" {endif}><span class="boldTxt">Disable</span></td>
					</tr>

  <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
					
					
				 
				 
					 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
					
				  <tr>

				   <td>&nbsp;</td>

					<td>&nbsp;</td>

					<td colspan="2"> <input type="submit" name="submit" value="Submit" class="buttonstyle">
{formend:eventsettings}
</td>

  </tr>
 <tr>

				   <td>&nbsp;</td>

					<td colspan="3">&nbsp;</td>

					</tr>
  </table>

  
<br><br><br>

{showpage:include/footer}
