<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{cfn:getmessage(308)}</title>
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">


<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="new_style.css" type="text/css">
<!--[if lt IE 9]>
<style>
.signup_table.signup_tablenew{
background: #FFFFFF;
}
.signupinput {
line-height:35px;
}
</style>
<![endif]-->


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript">
/*function demovalid()
{
alert("This operation is not allowed in demo version");return false;
}*/

  var onloadCallback = function() {

   

  };

</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"

    async defer>

</script>

<script language="javascript" type="text/javascript">
 
 
 
function passwordStrength(password)

{

        var desc = new Array();

        desc[0] = "{cfn:getmessage(291)}";

        desc[1] = "{cfn:getmessage(292)}";
        
        desc[2] = "{cfn:getmessage(293)}";

        desc[3] = "{cfn:getmessage(294)}";
        
  		desc[4] = "{cfn:getmessage(295)}";


        var score   = 0;

var val=0;
var logname=document.getElementById("loginname").value;
if(logname!="")
{
if(logname==password)
val=1;
}
else
val=0;
 if(val==1)
 {
   score=0;
   document.getElementById("pwdcnt").value=0; 
   document.getElementById("passwordStrength").className ="strength1";
  document.getElementById("passwordDescription").className ="errordisplay";
   document.getElementById("passwordDescription").innerHTML ="{cfn:getmessage(354)}";
   
 }
 else if(val==0)    
 {  


var lower=getlower_count(password);
  var upper=getupper_count(password); 
var num_count=getnumber_count(password);
var special=getspecialch_count(password);
var total=lower+upper+num_count+special;
var length=password.length;
if(length==0)
document.getElementById("pwdcnt").value=0;

var min_passwordlength="{$min_passwordlength}";
//alert(min_passwordlength);
if(min_passwordlength==1)
{
if(length<1)
	score=0;
	else if(length==1)
	score=1;
	else if(length==2)
	score=2;
	else if(length==3)
	score=3;
	else if(length>3)
	score=4;
}
else if(min_passwordlength==2)
{
	if(total<2 || length<3)
	score=0;
	else if(total==2 && length==3)
	score=1;
	else if(total<=3 && length>3)
	score=2;
	else if(total<=5 && length>=4)
	score=3;
	else if(length<32 && total>5)
	score=4;
}
else if(min_passwordlength==3)
{
	if(total<3 || length<5)
	score=0;
	else if(total==3 && length==5)
	score=1;
	else if(total<=4 && length>5)
	score=2;
	else if(total<=6 && length>=5)
	score=3;
	else if(length<32 && total>7)
	score=4;
}
else if(min_passwordlength==4)
{
    //alert("ss");
	/*if(total<8 || length<6)
	score=0;
	else if(total==8 && length==6)
	score=1;
	else if(total<=9 && length>7)
	score=2;
	else if(total<=12 && length>=7)
	score=3;
	else if(length<32 && total>13)
	score=4;*/
	if(length<8)
	score=0;
	else if(length>=8)
	{
	    //if(lower==0 || upper==0 || num_count==0 || special==0 )
	    //score=0;
	    //else
	    score=4;
	}
	else
	{
	}
}
   document.getElementById("passwordDescription").className ="passwordstrength_details left";
       document.getElementById("passwordDescription").innerHTML = desc[score];
document.getElementById("pwdcnt").value=score;
document.getElementById("passwordStrength").className = "strength" + score;
}

}
function checkpasswordStrength()

{
    //alert("ssss");
var checkscore=document.getElementById("pwdcnt").value;
//alert(checkscore);
if(checkscore==0)
{
    //alert("Password must contain a minimum of  8 characters and must include alteast 1 special character, 1 numeric, 1 uppercase, 1 lowercase. Please re-enter password again.");
alert("Password must contain a minimum of  8 characters. Please re-enter password again.");
 document.getElementById("password").value='';  
 document.getElementById("cpassword").value='';
 var f=document.getElementById("password");
 f.focus();
}
}

function getlower_count(password)
{
if ( password.match(/[a-z]/))
return 1;
else
return 0;
}
function getupper_count(password)
{
if (password.match(/[A-Z]/) )
return 1;
else
return 0;
}
function getnumber_count(password)
{
 

var numbers = new  Array()

 var l=0;
for(var x = 0,length = password.length; x < length; x++)
 {
    var s = password.charAt(x);
    var flag=0;
    if (isInteger(s))
    {
   
    for(var j=0;j<numbers.length;j++)
    {
   
    if(s==numbers[j])
    {
    flag=1;
   
   
    }
   
   
    }
    if(flag==0)
    {
   
    numbers[l]=s;l++;
    }
   
   
}
var t=numbers[l];

}
var v=numbers.length;
if(v>=3)
return 2;
else if(v==2)
return 1;
else if(v==1)
return 1;
else
return 0;
}
function getspecialch_count(password)
{
 

var special = new  Array()

 var l=0;
for(var x = 0,length = password.length; x < length; x++)
 {
    var s = password.charAt(x);
    var flag=0;
    if (isSpclChar(s) )
    {

    for(var j=0;j<special.length;j++)
    {
   
    if(s==special[j])
    {
    flag=1;
   
   
    }
   
   
    }
    if(flag==0)
    {
   
    special[l]=s;l++;
    }
   
   
}


}
var v=special.length;

return v;
}

function isSpclChar(s){
var iChars = "!@#$%^&*()+=-[]\\\';,./{}|\":<>?";
                for (var i = 0; i < s.length; i++) {
                                if (iChars.indexOf(s.charAt(i)) != -1) {
                              
                                return true;
                }
                else
                return false;
                                }
}




function isInteger(val)
                {
                   // alert(val.value);
                  if(val==null)
                    {
                    //alert(val);
                    return false;
                    }
                if (val.length==0)
                    {
                   // alert(val);
                    return false;
                    }
                 if (trim(val).length == 0)
                     {
                     return false;
                     }
                for (var i = 0; i < val.length; i++)
                    {
                    var ch = val.charAt(i)
                    if (i == 0 && ch == "-")
                        {
                        continue
                        }
                    if (ch < "0" || ch > "9")
                        {
                        return false
                        }
                    }
                return true
            }


function echeck(str) {

		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   alert("{cfn:getmessage(334)}")
		   return false
		}

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   alert("{cfn:getmessage(334)}")
		   return false
		}

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    alert("{cfn:getmessage(334)}")
		    return false
		}

		 if (str.indexOf(at,(lat+1))!=-1){
		    alert("{cfn:getmessage(334)}")
		    return false
		 }

		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		    alert("{cfn:getmessage(334)}")
		    return false
		 }

		 if (str.indexOf(dot,(lat+2))==-1){
		    alert("{cfn:getmessage(334)}")
		    return false
		 }
		
		 if (str.indexOf(" ")!=-1){
		    alert("{cfn:getmessage(334)}")
		    return false
		 }

 		 return true					
	}
   
function ValidateForm()
{


	var emailID=document.getElementById("loginname").value+"{$emailextension}"//;
//	var emailID=document.getElementById("loginname").value;
		if ((emailID==null)||(emailID==""))
	{
		alert("{cfn:getmessage(158)}");
		document.getElementById("loginname").focus();
		return false;
	}
	
	//var ss=new RegExp("^[0-9]+$");
	var ss=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

	 /*if(ss.test(emailID)==false) 
	 {
	 	alert("{cfn:getmessage(334)}");
	 	document.getElementById("loginname").value="";
		document.getElementById("loginname").focus();
      	return false;
      }
	  else if (echeck(emailID)==false)
	{
	    
		document.getElementById("loginname").value="";
		document.getElementById("loginname").focus();
		return false;
	}*/
	return true;
 }


var xmlHttp
    function checkfn()
    {
       //alert("aaa");  
	var emailID=document.getElementById("loginname").value;
	if(emailID=="")
	{
	    
		alert("{cfn:getmessage(114)}");
    document.getElementById("availableinfo1").style.display="none";
       document.getElementById("availableinfo2").style.display="none"; 
     document.getElementById("availableinfo3").style.display="none";
		return false;
	}
	var ss=ValidateForm(); 
	//alert(ss);
	if(ss==true)
	{
	 document.getElementById("availableinfo1").style.display="none";
	     document.getElementById("availableinfo2").style.display="none"; 
	 	 document.getElementById("availableinfo3").style.display="none";
    	
		
		
		     var str=document.getElementById("loginname").value;
		     
		     
		     var illegalChars = /\W/;
		      s=str.indexOf('.');
if(s<0)

	 {
  		// allow only letters, numbers, and underscores
   		 if (illegalChars.test(str))
    	 {
          document.getElementById("availableinfo3").style.display="";
		  document.getElementById("availableinfo3").innerHTML="{cfn:getmessage(334)}";
		  document.getElementById("loginname").value="";
		  document.getElementById("loginname").focus();
          document.getElementById("availableinfo3").className="errordisplay";
          return false;
   		 }
    }
    
   else if(!isNaN(str))
   {
   
   document.getElementById("availableinfo3").style.display="";
    document.getElementById("availableinfo3").innerHTML="{cfn:getmessage(335)}";
		 document.getElementById("loginname").value="";
		  document.getElementById("loginname").focus();
          document.getElementById("availableinfo3").className="errordisplay";
          return false;
   }
  else 
   {
   var t=str.charAt(0);
   if(!isNaN(t))
   {
  document.getElementById("availableinfo3").style.display="";
       document.getElementById("availableinfo3").innerHTML="{cfn:getmessage(335)}";
		 document.getElementById("loginname").value="";
		  document.getElementById("loginname").focus();
          document.getElementById("availableinfo3").className="errordisplay";
          return false;
     }
   }
   
   
  var s="";var check=1;
s=str.indexOf('@');
if(s>0)

	 {
	  check=0;
      }
      
    s=str.indexOf('#');
      if(s>0)

	 {
	  check=0;
      }
      
  s=str.indexOf('!');
      if(s>0)

	 {
	  check=0;
      }
      
       s=str.indexOf('$');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('%');
      if(s>0)

	 {
	  check=0;
      }
      
     s=str.indexOf('^');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('&');
      if(s>0)

	 {
	  check=0;
      }
      
     s=str.indexOf('*');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('(');
      if(s>0)

	 {
	  check=0;
      }
      
    s=str.indexOf(')');
      if(s>0)

	 {
	  check=0;
      }
      
       s=str.indexOf('-');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('+');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('/');
      if(s>0)

	 {
	  check=0;
      }
      
      s=str.indexOf('=');
      if(s>0)

	 {
	  check=0;
      }
      
       s=str.indexOf(' ');
      if(s>0)

	 {
	  check=0;
      } 
      
       s=str.indexOf('?');
      if(s>0)

	 {
	  check=0;
      }
      
      
      if(check==0)
      {
          document.getElementById("availableinfo3").style.display="";
          document.getElementById("availableinfo3").innerHTML="{cfn:getmessage(334)}";
		  document.getElementById("loginname").value="";
		  document.getElementById("loginname").focus();
          document.getElementById("availableinfo3").className="errordisplay";
          return false;
      }
		   
    var tt=str.length;
    
    var min_usernamelength="{$min_usernamelength}";
    
    
if(tt>=min_usernamelength) 
 {
        if(tt<=32)
          {
            xmlHttp=GetXmlHttpObject();
            if (xmlHttp==null)
              {
              alert ("Your browser does not support AJAX!");
              return;
              } 
                 
            var url="{url:(user/loginnameavailable/)}"+str;
         
            xmlHttp.onreadystatechange=countChanged;
            xmlHttp.open("GET",url,true);  
            xmlHttp.send(null);
		  }
		else
			{
			 document.getElementById("availableinfo1").style.display="";
             document.getElementById("loginname").focus(); 
			}
      }
   else
   {
   document.getElementById("availableinfo2").style.display="";
   document.getElementById("loginname").focus(); 
   } 
   
}
else
{
var msg="{cfn:getmessage(124)}";
 document.getElementById("availableinfo3").innerHTML=msg; 
 document.getElementById("availableinfo2").style.display="none"; 
 document.getElementById("availableinfo1").style.display="none";

//alert(msg);
document.getElementById("loginname").focus(); 
}
 
} 

function countChanged() 
{ 

        if (xmlHttp.readyState==4)
        {  
       var x=xmlHttp.responseText;//alert(x);
	   var strng=x.split(",");
	   if(strng[1]!=0)
		{
		 document.getElementById("availableinfo3").style.display="";
		 document.getElementById("availableinfo3").innerHTML=strng[0];
		 document.getElementById("loginname").value="";
		  document.getElementById("loginname").focus();
          document.getElementById("availableinfo3").className="errordisplay";
		
		 }
		 else
		 {
	      document.getElementById("availableinfo3").style.display="";
          document.getElementById("availableinfo3").innerHTML=strng[0];
          document.getElementById("availableinfo3").className="successdisplay";
		 
		}
		
      }
}
 
function GetXmlHttpObject()
{
        var xmlHttp=null;
        try
          {
          // Firefox, Opera 8.0+, Safari
          xmlHttp=new XMLHttpRequest();
          }
        catch (e)
          {
          // Internet Explorer
          try
            {
            xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
            }
          catch (e)
            {
            xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
          }
        return xmlHttp;
}


function hideansfn()
{
var n=document.getElementById('question');
var t=n.options[n.selectedIndex].value;
var s="{cfn:getmessage(140)}";
if(t!=s)
{
if(t==1)
{
	  document.getElementById("ownquestionfield1").style.display=""; 
	  document.getElementById("answerfield1").style.display="";
	  document.getElementById("ownquestionfield2").style.display=""; 
	  document.getElementById("answerfield2").style.display="";
	  document.getElementById("myownquestion").focus();
}
else
{
	document.getElementById("answerfield1").style.display="";
	 document.getElementById("ownquestionfield1").style.display="none";
	 document.getElementById("answerfield2").style.display="";
	 document.getElementById("ownquestionfield2").style.display="none";
	  document.getElementById("answer").focus();
}

}
else
{
	  document.getElementById("ownquestionfield1").style.display="none"; 
	  document.getElementById("answerfield1").style.display="none";
	  document.getElementById("ownquestionfield2").style.display="none"; 
	  document.getElementById("answerfield2").style.display="none";
}


}
function cancelfn()
{
window.location.href="{url:(index/index)}";
}

function passwdcnt()
{

}
</script>
<link rel="stylesheet" href="css/select2.min.css" type="text/css" media="screen" />


 <script src="js/video/jquery-1.10.2.js"></script>
 <script src="js/select2.full.min.js"></script>
 
<script type="text/javascript">
$(document).ready(function(e) {
	 $('.cousts').select2({
		minimumResultsForSearch: Infinity 
	 });
    
 	
	 $('.comnselect').select2();
	
});
 
</script>
<style type="text/css">
.bodyy{
	overflow-y:scroll !important;
}
 
.textbox_border_style { border:1px solid #ccc !important; width:400px !important;}
.forgotpasswordtitle { font-size:18px !important; color:#333; padding-left:0 !important}
</style>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body class="bodyy reg_page">
    <div class="page_wraper">
<div class="loginHeader">

</div>
<div class="clear"></div>
        
        
        
  <div class="loheaderinnew">
    <div class="indexlogo left"><a title="Back to {cfn:getmessage(308)}" href="{url:(index/index)}"><img src="{$imgpath}"  border="0" class="left"></a></div>
    <div class="right display_flex_center"> <a href="{url:(index/index)}"> <span class="alrdymebr">{cfn:getmessage(150)}?</span></a>
		<a href="{url:(index/index)}" class="darkSignup indexregisterbtn" style="float:left;">{cfn:getmessage(309)}<span><i class="fa fa-user"></i></span></a>
    </div>
  </div>

        
<div class="mainTop">
    <div class="page_title hide"><span>{cfn:getmessage(308)}</span></div>
<div class="signup_table signup_tablenew">
 <div class="signup_left">
     <div class="registration_info">
         
        
         <div class="registration_h1">{cfn:getmessage(308)}</div>
         <div class="registration_h2">Anti Spam Mail Service</div>
     </div>
     <div class="registration_img" style="background-image: url('images/registration_bg.png');"></div>
     <div class="clouds_cover">
         <div class="clouds"></div>
     </div>
    </div>
     <div class="signup_right">
       <!--  <div class="form_title">{cfn:getmessage(350)}</div>-->
{formstart:registration:{url:(user/registration)}:POST}
   
<div class="signuprow">
<div class="signupclm width100">
<div class="signupclmin">
<table width="100%" align="left" cellspacing="0" cellpadding="0" border="0" style="font-size: 12px;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000; ">
	
	<tr>
		<td><input type="hidden" name="pwdcnt" id="pwdcnt" value="" ></td>
</tr>
		{if($msg2!="")}
	 <tr>
    <td>&nbsp;</td><td><span class="messageerrdisplay">{fn:nl2br($msg2)}!!!</span></td>
  </tr>
	{endif}
</table>
	</div></div>
	</div>
   

<div class="signuprow">
<div class="signupclm ">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(752)} <span class="mandatory">*</span></label>
<input type="text" name="name" id="name"
			value="{$name}" class="signupinput width100" size="25"  autocomplete="off">
</div>
</div>
</div>



  <div class="signuprow">
    <div class="signupclm width50">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(122)} <span class="mandatory">*</span></label>
<select name="gender" class="cousts" style="width:100%;">
      <option value="" selected="selected">{cfn:getmessage(136)}</option>
      <option value="{cfn:getmessage(137)}" {if($gr==$m)} selected="selected" {endif}>{cfn:getmessage(137)}     </option>
      <option value="{cfn:getmessage(138)}" {if($gr==$f)} selected="selected" {endif}>{cfn:getmessage(138)}     </option>
    </select>
</div>
</div>
    <div class="signupclm width50">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(43)} <span class="mandatory">*</span></label>
    <div class="signup_inner_row">
<div class="width33 dobsignup left">

<select name="day" class="comnselect" style="width:100%">
      <option value="" selected="selected">{cfn:getmessage(133)}</option>
      {loopstart:DD:1000000}
      <option value="{$DD[0]}" {if($day==$DD[0])} selected="selected" {endif}>{$DD[0]}</option>
      {loopend:DD}
    </select>
    </div>    
<div class="width33 dobsignup left">
         <select name="month" class="comnselect" style="width:100%">
      <option value="" selected="selected">{cfn:getmessage(134)}</option>
      {loopstart:kkk:100}
      <option value="{$kkk[0]}" {if($tt===$kkk[0])} selected="selected" {endif}>{$kkk[1]}</option>
      {loopend:kkk}
    </select> 
        </div>
        <div class="width33 dobsignup left">
        <select name="year" class="comnselect" style="width:100%">
      <option value="" selected="selected">{cfn:getmessage(135)}</option>
      
      {loopstart:YY:1000000}
      <option value="{$YY[0]}" {if($yr==$YY[0])} selected="selected" {endif}>{$YY[0]}</option>
      {loopend:YY}


    </select>
        </div>
        </div>
</div>
</div>  
     
     
  </div>



 
  <div class="signuprow">
    <div class="signupclm width50">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(123)}<span class="mandatory">*</span></label>
<select name="country" class="comnselect" style="width:100%;"> 
      <option value="">{cfn:getmessage(139)}</option>
      {loopstart:country:10000}
      <option value="{$country[0]}"  {if($cntr==$country[0])} selected="selected" {endif}>{$country[0]}</option>
      {loopend:country}
    </select>
</div>
</div>
      <div class="signupclm width50">
<div class="signupclmin">
    <label class="signuplabel">{cfn:getmessage(232)} <span class="mandatory">*</span></label>
     
    <select name="time_zone" class="comnselect" style="width:100%;">
      <option value="">{cfn:getmessage(233)}</option>
      {loopstart:timezone:10000}
      <option value="{$timezone[0]}" {if($tzone==$timezone[0])} selected="selected" {endif}>&nbsp;({cfn:getmessage(353)}&nbsp;{$timezone[2]})&nbsp;{$timezone[1]}</option>
      {loopend:timezone}
    </select>  
  </div></div>
    
  
    
    
    </div>
  
    


















<div class="signuprow ">
<div class="signupclm ">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(6)}<span class="mandatory">*</span></label>
<input type="text" name="loginname" id="loginname"
			value="{$loginname}" onKeyUp="checkfn()" class="signupinput width100 no_margin" size="35" maxlength="32"  autocomplete="off">
   <span class="signpabsolute"> {$emailextension}</span> 
   
   
</div>
</div>
		 
		 
	</div>
<div class="signuprow ">
<div class="signupclm width30 mgnB30">
<div class="signupclmin" style="padding:0 10px;">
<!-- <input type="button" name="check"
			value="{cfn:getmessage(107)}" onClick="checkfn()" class="chkbtn"> -->
</div>
</div>
    <div class="signupclm width70">
<div class="signupclmin" style="padding:0 10px;">
		 <span id="availableinfo1" style="display: none" class="errordisplay">{cfn:getmessage(108)}</span>
		<span id="availableinfo2" style="display: none" class="errordisplay">{$minlengtherr}</span>
		<span id="availableinfo3" style="display: none;"  ></span><span>{$msg}</span>	
        </div>
        </div>	 
	</div>
 
     <!-- paswrd section starts -->

 
	

		
  <div class="signuprow">
      <div class="signupclm width50">
<div class="signupclmin">
<label class="signuplabel">{cfn:getmessage(7)} <span class="mandatory">*</span></label>
 <input type="password" name="password" id="password"  class="signupinput width100" value="" size="25" maxlength="32" onKeyUp="passwordStrength(this.value)" autocomplete="off">  
</div>
	</div>
    
         <div class="signupclm width50">
<div class="signupclmin">
<label class="signuplabel"> {cfn:getmessage(117)} <span class="mandatory">*</span></label>
<input type="password" name="cpassword" id="cpassword" onKeyUp="checkpasswordStrength();"
			value="" class="signupinput width100" size="25" maxlength="32"  autocomplete="off">
</div>
</div> 
    
    </div>	
	

<div class="signuprow">
         <div class="signupclm width100">
<div class="signupclmin mgnTB30" style="overflow:hidden;">
 <label for="passwordStrength" class="passwordstrength_details left" >{cfn:getmessage(296)} :</label>
 
  <div id="passwordDescription" class="passwordstrength_details left">{cfn:getmessage(297)}</div>

  <div id="passwordStrength" class="strength0 left" style="margin:2px 4px 0;"></div></div></div></div>

	 
	{if($msg1!="")}	
	<div class="signuprow">
		 
		 <span>{$msg1}</span> 
	</div>
{endif}
	   <!-- paswrd section ends -->
		
 
 
 
 

    
	
	<div class="signuprow">
           <div class="signupclm  ">
<div class="signupclmin">
		<label class="signuplabel">{cfn:getmessage(120)} <span class="mandatory">*</span></label>
		 <select name="question" id="question" onChange="hideansfn()" class="comnselect" style="width:100%;">
			<option value="{cfn:getmessage(140)}" selected="selected">{cfn:getmessage(140)}</option>
			<option value="{cfn:getmessage(141)}" {if($qst==$f1)} selected="selected" {endif}>{cfn:getmessage(141)}</option>
			<option value="{cfn:getmessage(142)}" {if($qst==$f2)} selected="selected" {endif}>{cfn:getmessage(142)}</option>
			<option value="{cfn:getmessage(143)}" {if($qst==$f3)} selected="selected" {endif}>{cfn:getmessage(143)}</option>
			<option value="{cfn:getmessage(144)}" {if($qst==$f4)} selected="selected" {endif}>{cfn:getmessage(144)}</option>
			<option value="{cfn:getmessage(145)}" {if($qst==$f5)} selected="selected" {endif}>{cfn:getmessage(145)}</option>
			<option value="1" {if($qst==1)} selected="selected" {endif}>{cfn:getmessage(146)}</option>
		</select> 
	</div></div>
 
 
	
	 
		 
	 
	
 
    
    <div class="signupclm">
<div class="signupclmin">
	<div class="signuplabel" id="ownquestionfield1" {if($qst==1)} style="display: ;" {else}  style="display: none;"{endif}> {cfn:getmessage(274)}? <span class="mandatory">*</span></div> 
		 <div id="ownquestionfield2" {if($qst==1)} style="display: ;" {else}  style="display: none;"{endif} > 
		<input class="signupinput width100" type="text" name="myownquestion" id="myownquestion" value="{$qs}" size="53" autocomplete="off">  </div>
	 
 <div class="signuplabel" id="answerfield1" {if($qst==$f1 || $qst==$f2 || $qst==$f3 || $qst==$f4 || $qst==$f5)} style="display: ;" {else} style="display: none;"{endif}> {cfn:getmessage(121)} <span class="mandatory">*</span></div> 
 <div id="answerfield2" {if($qst==$f1 || $qst==$f2 || $qst==$f3 || $qst==$f4 || $qst==$f5)} style="display: ;" {else} style="display: none;"{endif}>
 <input type="text" name="answer" id="answer" value="{$answer}" size="53" class="signupinput width100"  autocomplete="off">  </div> 
	 
	

 </div></div>
     
        
        
        
        
     </div>
	 
		
	
	<div class="signuprow">
        <div class="signupclm ">
<div class="signupclmin">
		<label class="signuplabel">{cfn:getmessage(272)}</label>
	
    <input type="text" name="alternatemail" value="{$alternateemail}" id="alternatemail" size="53" class="signupinput width100"  autocomplete="off">
    
	</div></div>
         </div>
	<div class="signuprow mgnB30">
           
    <div class="signupclm ">
<div class="signupclmin">
		<label class="signuplabel">{cfn:getmessage(783)} <span class="mandatory">*</span></label>
	    <div class="signup_inner_row">	
    <!-- <input type="text" name="image" id="image" class="signupinput left" size="35" style="margin-right:10px;"> -->
        <div class="verifsignup left">
	<!--  <iframe src="{url:(user/captcha)}" marginheight="0" width="190" marginwidth="0" height="35" align="middle" frameborder="0" scrolling="no"></iframe> -->
   <div class="g-recaptcha" data-sitekey="{$captcha_sitekey}"></div>
     </div>
	</div>
	</div>
        </div>
    
    </div>
        
		
	
	 

	
	
	<div class="signuprow mgnT30 pdgTB30">
		<div class="signupclm">
<div class="signupclmin" style="padding-bottom:10px; overflow:hidden;">
        <button type="submit" name="submit" value="{cfn:getmessage(106)}" class="cursor_select green_btnn signup_btn">{cfn:getmessage(106)}<span><i class="fa fa-check"></i></span></button>
		  <button type="button"name="Cancel" value="{cfn:getmessage(267)}" onClick="cancelfn();" class="cursor_select darkbtn frgtpaswrdbtn signup_cancel_btn" >{cfn:getmessage(267)}<span><i class="fa fa-times"></i></span></button>
		
	 
	</div>
		</div></div>
	

{formend:registration}
</div> <!-- signup right -->

{validate:registration:isNotNull("name","{cfn:getmessage(753)}")}
{validate:registration:isNotNull("gender","{cfn:getmessage(127)}")}
{validate:registration:isNotNull("day","{cfn:getmessage(128)}")}
{validate:registration:isNotNull("month","{cfn:getmessage(129)}")}
{validate:registration:isNotNull("year","{cfn:getmessage(130)}")}
{validate:registration:isNotNull("country","{cfn:getmessage(131)}")}
{validate:registration:isNotNull("time_zone","{cfn:getmessage(231)}")}

{validate:registration:isNotNull("loginname","{cfn:getmessage(114)}")}


{validate:registration:isNotNull("password","{cfn:getmessage(104)}")}

{validate:registration:isNotNull("cpassword","{cfn:getmessage(118)}")}

{validate:registration:isSame("password","cpassword","{cfn:getmessage(132)}")}




{validate:registration:isNotNull("question","{cfn:getmessage(125)}")}
{validate:registration:isNotNull("answer","{cfn:getmessage(359)}")}
{validate:registration:isEmail("alternatemail","{cfn:getmessage(159)}")}

{validate:registration:isNotNull("image","{cfn:getmessage(149)}")}

    

</div> <!-- signup table ends -->


 
</div>
        <div class="footer_bottom ">
    <span class="copyright">{$footer}</span>
    </div>
</div>
    

    <div class="page_bg_bottom"></div>
    <div class="page_bg_top"></div>
</body>
</html>
