<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="new_style.css" type="text/css">
<title>{cfn:getmessage(757)}</title>
<style type="text/css">
.forgotpasswordtitle { font-size:18px !important; color:#333; padding-left:0 !important}
</style>
 <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body class="bodyy">
<div class="loginHeader">
<div class="loginheaderWrapper">
 

 
	  
	</div>
</div>
    <div class="page_wraper">
    <div class="loheaderinnew">
    <div class="indexlogo left"><a title="Back to {cfn:getmessage(308)}" href="{url:(index/index)}"><img src="{$imgpath}"  border="0" class="left"></a></div>
    <div class="right display_flex_center"> <span class="alrdymebr">{cfn:getmessage(150)}?</span>
		<a href="{url:(index/index)}" class="darkSignup indexregisterbtn" style="float:left;">{cfn:getmessage(309)}<span><i class="fa fa-user"></i></span></a>
    </div>
  </div>
 
<div class="clear"></div>
    
    <div class="info_box_cover">
    <div class="info_box_title">{cfn:getmessage(757)}</div>
    <div class="info_box_content">
        <div class="info_box_icon"><img src="images/success.png" alt="success image" /></div>
        <div class="info_box_info">{cfn:getmessage(757)}</div>
        <div class="info_box_txt">{cfn:getmessage(312)} <a {if($portal_status==1)} href="{url:(mail/mailbox)}" {else} href="{url:(index/index)}"{endif} class="action"> {cfn:getmessage(288)}</a> {cfn:getmessage(759)}</div>
        
    </div>
</div>
        <div class="page_back" style="background-image: url('images/slider/webmail_home_1.png')"></div> 
        <div class="footer_bottom">
    <span class="copyright">{$footer}</span>
    </div>
</div>
        
   
<div class="mainTop hide">
<div class="webmailWraplogn">
<div class="loginRight " style="margin-top:6%">
<div class="logininside">
<div class="loginlogo">
<a href="{url:()}"><img src="{$imgpath}"  border="0"></a>
</div>
  <div class="allwrapingtopn">
   <span class="loginBoxttl">
   <span style="display:block; text-align:center; margin-bottom:20px;"></span>
   {cfn:getmessage(757)}
   </span>
  </div>
 <div class="frgtpaswrddiv">
 {cfn:getmessage(312)} <a {if($portal_status==1)} href="{url:(mail/mailbox)}" {else} href="{url:(index/index)}"{endif} class="action"> {cfn:getmessage(288)}</a> {cfn:getmessage(759)}
 </div>
	 
	  

		 
 

 
	 

 

 
</div>
<!-- 
<div class="signUpBox">
<div class="signupinside">
		<h2>{cfn:getmessage(150)}?</h2>
		<a href="{url:(index/index)}" class="darkbtn regstrbtnn ">{cfn:getmessage(309)}</a>
		
	</div>
    	</div>

-->
</div>
</div>


 </div>  
    
    
    <div class="page_bg_bottom"></div>
    <div class="page_bg_top"></div>
</body>
</html>