<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="new_style.css" type="text/css">




<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript">

  var onloadCallback = function() {

   

  };

</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"

    async defer>

</script>

<script type="text/javascript">
function cancelfn()
{
window.location.href="{url:(index/index)}";
}
function loadfn()
{
document.getElementById("username").focus();
}


function echeck(str) {

		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    alert("{cfn:getmessage(159)}")
		    return false
		}

		 if (str.indexOf(at,(lat+1))!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.indexOf(dot,(lat+2))==-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }
		
		 if (str.indexOf(" ")!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

 		 return true					
	}
   
function ValidateForm()
{
	var email=document.getElementById("username").value;
	var emailID=email+"{$extension}";
	
	if ((emailID==null)||(emailID=="")||(email==""))
	{
		alert("{cfn:getmessage(270)}");
		document.getElementById("username").focus();
		return false;
	}
	
	
	var ss=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

	 /*if(ss.test(emailID)==false) 
	 {
	 	alert("{cfn:getmessage(159)}");
	 	document.getElementById("username").value="";
		document.getElementById("username").focus();
      	return false;
      }
	  else if (echeck(emailID)==false)
	{
	    
		document.getElementById("username").value="";
		document.getElementById("username").focus();
		return false;
	}*/
	return true;
 }
 
 
</script>
<style type="text/css">

.textbox_border_style { border:1px solid #ccc !important; height:41px !important;}
.forgotpasswordtitle { font-size:18px !important; color:#333; padding-left:12px !important}
.signup_table{
	margin-top:10%;
}
</style>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body onLoad="loadfn();" class="bodyy">
    <div class="page_wraper">
<div class="loginHeader ">

</div>
        <div class="loheaderinnew">
    <div class="indexlogo left"><a title="Back to {cfn:getmessage(308)}" href="{url:(index/index)}"><img src="{$imgpath}"  border="0" class="left"></a></div>
    <div class="right display_flex_center"> <span class="alrdymebr">{cfn:getmessage(150)}?</span>
		<a href="{url:(index/index)}" class="darkSignup indexregisterbtn" style="float:left;">{cfn:getmessage(309)}<span><i class="fa fa-user"></i></span></a>
    </div>
  </div>
<div class="clear"></div>
        
        
        <div class="image_box">
            <div class="image_box_left">
                <img src="images/forgot_password.png">
            </div>
            <div class="image_box_right">
                <div class="image_box_title">{cfn:getmessage(269)}</div>
                <div class="image_box_info">Please enter your email address with this account</div>
                <div class="forgot_form">
                    {formstart:forgotpassword:{url:(index/forgotpasswordprocess)}:POST}
            
                 {if($msg!="")}
	
                  <br/><span class="messageerrordisplay">{fn:nl2br($msg)}!!!</span>

                    {endif}
                
                <div class="frgtpaswrddiv">
		
		
		<div class="frgtpaswrdinputarea">
        <span >{cfn:getmessage(6)}</span>
		<input type="text" name="username" value="" id="username" class="textbox_border_style" style="width:200px; display: table-cell;"  autocomplete="off"  ><span>{$extension}</span>
	</div>


<!-- 
<div class="frgtpaswrdinputarea">
        <span >{cfn:getmessage(783)} <span class="mandatory">*</span></span>
		 <div class="g-recaptcha" data-sitekey="{$captcha_sitekey}"></div>
	</div> -->


	<div class="frgtpaswrdbtnss">
		<input type="submit" name="submit" value="{cfn:getmessage(268)}"
			onclick="return ValidateForm();" class="green_btnn">
        <input type="button"
			name="Cancel" value="{cfn:getmessage(267)}" onClick="cancelfn();" class="darkbtn frgtpaswrdbtn">
            </div>
	</div>
                
             
            
            {formend:forgotpassword}
                </div>
            </div>
        </div>
        
         
<div class="mainTop hide">
<div class="clear"></div>
<div class="webmailWraplogn">
<div class="loginRight loginRightw" >

<div class="logininside">
 {formstart:forgotpassword:{url:(index/forgotpasswordprocess)}:POST}
<div class="loginlogo">
<img src="{$imgpath}"  border="0">
</div>
 
	 

		  <div class="allwrapingtopn">
          <span class="loginBoxttl">{cfn:getmessage(269)}</span>
	
 {if($msg!="")}
	
  <br/><span class="messageerrordisplay">{fn:nl2br($msg)}!!!</span>
  
	{endif}
	
    </div>
     <div class="clear"></div>




	

<div class="frgtpaswrddiv">
		
		
		<div class="frgtpaswrdinputarea">
        <span style="display: inline-block; float: left; margin-top: 18px; margin-right: 10px;">{cfn:getmessage(6)}</span>
		<input type="text" name="username" value="" id="username" class="textbox_border_style" style="width:200px; display: table-cell;"  autocomplete="off"  ><span style="display: inline-block; margin: 18px 0px 0px 10px;">{$extension}</span>
	</div>
	<div class="frgtpaswrdbtnss">
		<input type="submit" name="submit" value="{cfn:getmessage(268)}"
			onclick="return ValidateForm();" class="green_btnn" style="margin-left: 70px;">&nbsp;<input type="button"
			name="Cancel" value="{cfn:getmessage(267)}" onClick="cancelfn();" class="darkbtn frgtpaswrdbtn" style="margin-left:5px;">
            </div>
	</div>	
    </div>
<div class="signUpBox">
<div class="signupinside">
		<h2>{cfn:getmessage(150)}?</h2>
		<a href="{url:(index/index)}" class="darkbtn regstrbtnn ">{cfn:getmessage(309)}</a>
		
	</div>
    	</div>
{formend:forgotpassword}


 

</div>
</div>
 
</div>
        <div class="footer_bottom">
    <span class="copyright">{$footer}</span>
    </div>
</div>
    

       <div class="page_bg_bottom"></div>
    <div class="page_bg_top"></div>
</body>
</html>