<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
<link rel="shortcut icon" type="image/x-icon" href="/mail/favicon.ico">
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> 
     <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/select2.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="new_style.css" type="text/css">



<script type="text/javascript">
function cancelfn()
{
window.location.href="{url:(index/index)}";
}


function echeck(str) {

		var at="@"
		var dot="."
		var lat=str.indexOf(at)
		var lstr=str.length
		var ldot=str.indexOf(dot)
		if (str.indexOf(at)==-1){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(at)==-1 || str.indexOf(at)==0 || str.indexOf(at)==lstr){
		   alert("{cfn:getmessage(159)}")
		   return false
		}

		if (str.indexOf(dot)==-1 || str.indexOf(dot)==0 || str.indexOf(dot)==lstr){
		    alert("{cfn:getmessage(159)}")
		    return false
		}

		 if (str.indexOf(at,(lat+1))!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.substring(lat-1,lat)==dot || str.substring(lat+1,lat+2)==dot){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

		 if (str.indexOf(dot,(lat+2))==-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }
		
		 if (str.indexOf(" ")!=-1){
		    alert("{cfn:getmessage(159)}")
		    return false
		 }

 		 return true					
	}
   
function ValidateForm()
{

var whichspan=document.getElementById("whichspan").value;
if(whichspan=="qstnanswerid")
{

var question=document.getElementById("question").value;
var answer=document.getElementById("answer").value;
//var image=document.getElementById("image").value;
var day=document.getElementById("day").value;
var month=document.getElementById("month").value;
var year=document.getElementById("year").value;
if(question=="")
{
alert("{cfn:getmessage(125)}");
document.getElementById("question").focus();
return false;
}
else if(question==1)
{
var myqst=document.getElementById("myqst").value;
if(myqst=="")
{
alert("{cfn:getmessage(125)}");
document.getElementById("myqst").focus();
return false;

}
else if(answer=="")
{
alert("{cfn:getmessage(277)}");
document.getElementById("answer").focus();
return false;
}
}
if(answer=="")
{
alert("{cfn:getmessage(277)}");
document.getElementById("answer").focus();
return false;
}
else if(day=="")
{

alert("{cfn:getmessage(128)}");
document.getElementById("day").focus();
return false;
}
else if(month=="")
{

alert("{cfn:getmessage(129)}");
document.getElementById("month").focus();
return false;
}
else if(year=="")
{

alert("{cfn:getmessage(130)}");
document.getElementById("year").focus();
return false;
}
/*else if(image=="")
{
alert("{cfn:getmessage(149)}");
document.getElementById("image").focus();
return false;
}*/
else
{
return true;

}

}
else if(whichspan=="altemailid")
{
var altemail=""; 
altemail=document.getElementById("alternatemail").value;
var id="alternatemail";

//var image=document.getElementById("image").value;
var day=document.getElementById("day").value;
var month=document.getElementById("month").value;
var year=document.getElementById("year").value;
if(altemail=="")
{
alert("{cfn:getmessage(158)}");
document.getElementById(id).focus();
return false;
}
else
{

	var emailID=document.getElementById(id).value;
	
	if ((emailID==null)||(emailID==""))
	{
		alert("{cfn:getmessage(158)}");
		document.getElementById(id).focus();
		return false;
	}
	
	
	var ss=/^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

	 if(ss.test(emailID)==false) 
	 {
	 	alert("{cfn:getmessage(159)}");
	 	document.getElementById(id).value="";
		document.getElementById(id).focus();
      	return false;
      }
	  else if (echeck(emailID)==false)
	  {
	    
		document.getElementById(id).value="";
		document.getElementById(id).focus();
		return false;
	 }
	 
else if(day=="")
{

alert("{cfn:getmessage(128)}");
document.getElementById("day").focus();
return false;
}
else if(month=="")
{

alert("{cfn:getmessage(129)}");
document.getElementById("month").focus();
return false;
}
else if(year=="")
{

alert("{cfn:getmessage(130)}");
document.getElementById("year").focus();
return false;
}
	/*else if(image=="")
		{
			alert("{cfn:getmessage(149)}");
			document.getElementById("image").focus();
			return false;
		}*/
		else
	return true;
	}
	
 }
 
 

 }
 
 function display(id)
 {

 if(id=="altemailid")
 {
 

 document.getElementById("whichspan").value="altemailid";
 document.getElementById("displayaltemail").style.display="none";
 document.getElementById("qstnanswerid").style.display="none";
 document.getElementById(id).style.display="";
 document.getElementById("displayqstn").style.display="";
document.getElementById("alternatemail").focus();
//var v="{$alteremail}";
//if(v=="")
//{
//document.getElementById("alternatemail").disabled=true;
//document.getElementById("newaltemail").style.display="";

//document.getElementById("whichemail").value=1;

//document.getElementById("alternatemail1").focus();
//}
//else
//{
document.getElementById("whichemail").value=0;

document.getElementById("alternatemail").focus();
//}
 }
 else if(id=="qstnanswerid")
 {
 document.getElementById("whichspan").value="qstnanswerid";
 document.getElementById("altemailid").style.display="none";
 document.getElementById(id).style.display="";
 document.getElementById("displayqstn").style.display="none";
  document.getElementById("displayaltemail").style.display="";
 
 }
 }
 
 
function loadfn(id)
{
if(id=="qstnanswerid")
{
var loadvalue="qstnanswerid";
document.getElementById("question").focus();
document.getElementById("whichspan").value=loadvalue;
}
else if(id=="altemailid")
{
var loadvalue="altemailid";
document.getElementById("whichspan").value=loadvalue;
}

if(loadvalue=="altemailid")
{
var v="{$alteremail}";
if(v=="")
{

//document.getElementById("alternatemail").disabled=true;
//document.getElementById("newaltemail").style.display="";
document.getElementById("altemailinfo").style.display="none";
//document.getElementById("otheremailinfo").style.display="";
//document.getElementById("alternatemail1").focus();
}
else
{

//document.getElementById("otheremailinfo").style.display="none";
document.getElementById("altemailinfo").style.display="";
document.getElementById("alternatemail").focus();
}
}

}

function radiofn(id)
{
if(id=="alternatemail")
{
//document.getElementById(id).style.display="";

//document.getElementById("newaltemail").style.display="none";
///document.getElementById("alternatemail").disabled=false;

document.getElementById("altemailinfo").style.display="";
document.getElementById("whichemail").value=0;
document.getElementById("alternatemail").focus();
}
//else if(id=="alternatemail1")
//{

//document.getElementById("newaltemail").style.display="";
//document.getElementById("otheremailinfo").style.display="";
//document.getElementById("alternatemail").disabled=true;
//document.getElementById("altemailinfo").style.display="none";
//document.getElementById("whichemail").value=1;

//document.getElementById("alternatemail1").focus();
//}

}
function hideansfn()
{
var n=document.getElementById('question');
var t=n.options[n.selectedIndex].value;
if(t==1)
{
document.getElementById("myqsttr").style.display="";
document.getElementById("myqsttd1").style.display="";
document.getElementById("myqsttd2").style.display="";
}
else
{
document.getElementById("myqsttr").style.display="none";
document.getElementById("myqsttd1").style.display="none";
document.getElementById("myqsttd2").style.display="none";
}
}
</script>
  <!-- <script src="js/video/jquery-1.10.2.js"></script>-->
     
<!--<style type="text/css">
.textbox_border_style {
    border: 1px solid #ccc !important;
    width: 400px !important;
}
 
.forgotpasswordtitle { font-size:18px !important; color:#333; padding-left:12px !important}
</style>-->
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script src="js/select2.full.min.js"></script>
    
    <script>
    $(document).ready(function(e) {
	 $('select').select2({
		minimumResultsForSearch: Infinity 
	 });
    
 	
	 $('select').select2();
	
});
    </script> 
</head>
<body onLoad="loadfn('qstnanswerid');" class="bodyy">
    <div class="page_wraper">
         <div class="loheaderinnew">
    <div class="indexlogo left"><a title="Back to {cfn:getmessage(308)}" href="{url:(index/index)}"><img src="{$imgpath}"  border="0" class="left"></a></div>
    <div class="right display_flex_center"> <span class="alrdymebr">{cfn:getmessage(150)}?</span>
		<a href="{url:(index/index)}" class="darkSignup indexregisterbtn" style="float:left;">{cfn:getmessage(309)}<span><i class="fa fa-user"></i></span></a>
    </div>
  </div>
    <div class="loginHeader">

</div>
<div class="clear"></div>
<div class="mainTop">
    <div class="signup_tablenew">
        <div class="signup_left">
    <!--<div class="page_title"><span>{cfn:getmessage(322)}</span></div>-->
            <div class="registration_info">
         
        
         <div class="registration_h1">{cfn:getmessage(264)}</div>
         <div class="registration_h2">{cfn:getmessage(322)}</div>
     </div>
     <div class="registration_img" style="background-image: url('images/recover_password.png');"></div>
        </div>
        <div class="signup_right">
            {formstart:forgotpasswordprocess:{url:(index/forgotyourpassword)}:POST}
        {if($msg!="")}
        <div class="signuprow">
            <div class="signupclm ">
            <div class="signupclmin"> <span class="messageerrdisplay">{fn:nl2br($msg)}!!!</span> </div>
          </div>
          </div>
{endif}
<div id="qstnanswerid">
        <div class="signuprow mgnT30">
<div class="signupclm ">
<div class="signupclmin">
     <input type="hidden" name="whichspan" id="whichspan" value="">
		<input type="hidden" name="whichemail" id="whichemail" value="">
		<input type="hidden" name="uid" id="uid" value="{$uid}">
		<input type="hidden" name="uname" id="uname" value="{$uname}">
		
            <div  style="color:#008080" class="mgnB30" >{cfn:getmessage(273)}</div>
            <label class="signuplabel">{cfn:getmessage(274)}<span class="mandatory">*</span></label>
            <select name="question" id="question" onChange="hideansfn()" style="width:100%">
			<option value="" selected="selected">{cfn:getmessage(140)}</option>
			<option value="{cfn:getmessage(141)}">{cfn:getmessage(141)}</option>
			<option value="{cfn:getmessage(142)}">{cfn:getmessage(142)}</option>
			<option value="{cfn:getmessage(143)}">{cfn:getmessage(143)}</option>
			<option value="{cfn:getmessage(144)}">{cfn:getmessage(144)}</option>
			<option value="{cfn:getmessage(145)}">{cfn:getmessage(145)}</option>
			<option value="1" >{cfn:getmessage(146)}</option>
			
		</select> 
		 
		
</div>
   
</div> 
            <div class="signupclm" style="display:none" id="myqsttr">
            <div class="signupclmin" style="display:none" id="myqsttd1">
            
                <label class="signuplabel">{cfn:getmessage(274)}</label> 
              
            <span style="display:none" id="myqsttd2">
                <input type="text" name="myqst" value="" id="myqst" size="46" class="textbox_border_style signupinput width100"> 
          </span>
                </div>
		  
            </div>
</div>
            <div class="signuprow">
                <div class="signupclm">
                    <div class="signupclmin">                        
       
              <label class="signuplabel">{cfn:getmessage(121)}<span class="mandatory">*</span></label> 
           
                <input type="text" name="answer" value="" id="answer" size="46" class="textbox_border_style signupinput width100">           
           
                    </div>
                </div>
            </div>
        </div>
        
        <div  id="altemailid" style="display: none;" >
            
            <div class="signuprow">
                <div class="signupclm ">
                    <div class="signupclmin">
                        <div  style="color:#008080" class="mgnB30" >{cfn:getmessage(272)}</div>
                        <label class="signuplabel">{cfn:getmessage(42)}<span class="mandatory">*</span></label>
                        <input type="text" name="alternatemail" value="" id="alternatemail"
					size="45" class="textbox_border_style signupinput width100">
                    </div>
                </div>
            </div>            
		
		</div>
        
        
        <div class="signuprow">
                <div class="signupclm width70">
                    <div class="signupclmin">
                        <label class="signuplabel">{cfn:getmessage(43)}<span class="mandatory">*</span></label>
                          <div class="signup_inner_row">
                              <div class="width33 dobsignup left">
                                  <select name="day" id="day" style="width:100%">
                                    <option value="" selected="selected">{cfn:getmessage(133)}</option>
                                    {loopstart:DD:1000000}
                                    <option value="{$DD[0]}">{$DD[0]}</option>
                                    {loopend:DD}

                                </select> 
                              </div>
                              <div class="width33 dobsignup left">
                                   <select name="month" id="month" style="width:100%">
                            <option value="" selected="selected">{cfn:getmessage(134)}</option>
                            {loopstart:month:100}
                            <option value="{$month[0]}">{$month[1]}</option>
                            {loopend:month}
                        </select> 
                                              </div>
                              <div class="width33 dobsignup left">
                              <select name="year" id="year" style="width:100%">
			<option value="" selected="selected">{cfn:getmessage(135)}</option>
			{loopstart:YY:1000000}
			<option value="{$YY[0]}">{$YY[0]}</option>
			{loopend:YY}
		
		</select>
                              
                              </div>
                        </div>
                    </div>
                </div>
            </div>  
        
        <div class="signuprow">
                <div class="signupclm ">
                    <div class="signupclmin">
                        <label class="signuplabel">{cfn:getmessage(783)}<span class="mandatory">*</span></label>
                        <div class="signup_inner_row">
                        <!-- <input type="text" name="image" style="margin-right: 15px;" id="image" class="textbox_border_style signupinput  signupinput left">  -->
                            <div class="verifsignup left">
                   <!--  <iframe
					src="{url:(user/captcha)}" marginheight="0" width="190"
					marginwidth="0" height="35" align="middle" frameborder="0"
					scrolling="no"></iframe> -->
<div class="g-recaptcha" data-sitekey="{$captcha_sitekey}"></div>


                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
        
        <div class="signuprow mgnT30">
            <div class="signupclm">
                <div class="signupclmin">
                    <span id="displayaltemail">{cfn:getmessage(275)}
		<a href="#" onClick="display('altemailid')" style="color: #009999"> {cfn:getmessage(272)}</a>
		</span> <span id="displayqstn" style="display: none;">{cfn:getmessage(275)}
		<a href="#" onClick="display('qstnanswerid')"  style="color: #009999">
		{cfn:getmessage(273)}</a> </span>
                </div>
            </div>
        </div>
        
        <div class="signuprow pdgTB30">
		<div class="signupclm">
<div class="signupclmin" style="padding-bottom:10px; overflow:hidden;">
    
    <button type="submit" name="submit" value="{cfn:getmessage(276)}" class="cursor_select green_btnn signup_btn" onclick="return ValidateForm();">{cfn:getmessage(276)}<span><i class="fa fa-check"></i></span></button>
    
	<button type="button"name="Cancel" value="{cfn:getmessage(267)}" onClick="cancelfn();" class="cursor_select darkbtn frgtpaswrdbtn signup_cancel_btn" >{cfn:getmessage(267)}<span><i class="fa fa-times"></i></span></button>
    
            </div>
            </div>
            </div>
 
{formend:forgotpasswordprocess}
 

</div>
</div>
</div>
        <div class="footer_bottom ">
    <span class="copyright">{$footer}</span>
    </div>
</div>
    
    <div class="page_bg_bottom"></div>
    <div class="page_bg_top"></div>
</body>


<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script type="text/javascript">

  var onloadCallback = function() {

   

  };

</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"

    async defer>

</script>

</html>